<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Downloadable product links
 *
 * @var $block \Magento\Downloadable\Block\Catalog\Product\Samples
 */
?>
<?php $plumtreeHelper = $this->helper("Plumtree\General\Helper\Data"); ?>
<?php if ($block->hasSamples()): ?>
    <?php if($plumtreeHelper->isLoggedIn()): ?>
        <script>
                require([
                    'jquery',
                    'Magento_Ui/js/modal/modal'
                ],
                function(
                $,
                modal
                ) {
                    $(".product-add-form").hide();
                    
                });
            </script> 
        <dl class="items samples">
            <dt class="item-title samples-item-title"><?= $block->escapeHtml($block->getSamplesTitle()) ?></dt>
            <?php $_samples = $block->getSamples() ?>
            <?php foreach ($_samples as $_sample): ?>
                <dd class="item samples-item">
                    <a href="<?= $block->escapeHtml($block->getSampleUrl($_sample)) ?>" <?= $block->getIsOpenInNewWindow() ? 'onclick="this.target=\'_blank\'"' : '' ?>
                       class="item-link samples-item-link">
                        <?= $block->escapeHtml($_sample->getTitle()) ?>
                    </a>
                </dd>
            <?php endforeach; ?>
        </dl>
    <?php else: ?>
        <script>
                require([
                    'jquery',
                    'Magento_Ui/js/modal/modal'
                ],
                function(
                $,
                modal
                ) {
                    $(".product-add-form").insertAfter(".product-info-top .product-info-main .product-links");
                    
                });
            </script>    
    <?php endif; ?>    
    <div class="downloadble-user-info">
        <h2>
            <img src="http://fastmodel.btpdev.us/pub/media/wysiwyg/tony_miller.png">
        </h2>
        <div class="downloadble-user-name">
            Tony Miller
            <br>
            <span>Radious Athletic Contributor since 12/02/2014</span>
        </div>
    </div>
<?php endif; ?>
