<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

$renderLabel = true;
// if defined as 'none' in layout, do not render
if ($_attributeLabel == 'none') {
    $renderLabel = false;
}

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getStoreLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>
<?php if ($_attributeValue): ?>
	
	<?php if ($_code == 'contributor'): ?>
		<div class="block block-contributor">
			<div class="title">
				<strong><?= /* @escapeNotVerified */ __('Top Contributors') ?></strong>
			</div>
			<div class="content">
				<div class="figure">
					<img src="<?= $this->getUrl('pub/media') . '/wysiwyg/contributors/robert-payne.jpg' ?>" alt="" />
				</div>
				<div class="detail">
					<div class="follow">
						<a href="javascript:void(0);"><?= /* @escapeNotVerified */ __('Follow') ?></a>
					</div>
					<h3><?= /* @escapeNotVerified */ $_product->getAttributeText($_code) ?></h3>
				</div>
			</div>
		</div>
	<?php else: ?>
		<div class="product attribute <?= /* @escapeNotVerified */ $_className ?>">
			<?php if ($renderLabel): ?><strong class="type"><?= /* @escapeNotVerified */ $_attributeLabel ?></strong><?php endif; ?>
			<div class="value" <?= /* @escapeNotVerified */ $_attributeAddAttribute ?>>
			<?php if($_code == 'product_video'): ?>
				<div class="pvideo">
					<img src="<?= $this->getUrl('pub/media') . '/wysiwyg/blank-white.jpg' ?>" alt="" />
					<?= /* @escapeNotVerified */ $_attributeValue ?>
				</div>
				<?php elseif($_code == 'tags'): ?>
				<?php echo '<span>'. implode('</span><span>',$_product->getAttributeText($_code)).'</span>'; ?>
			<?php else: ?>
				<?= /* @escapeNotVerified */ $_attributeValue ?>
			<?php endif; ?>
			</div>
		</div>

	<?php endif; ?>
<?php endif; ?>

<?php if($_code == 'fast_account'): ?>
	<div class="product attribute overview">
		<div class=""><!--fastdraw-button -->
			<div class="fdb-btn send-fastdraw">
				<a href="javascript:void(0)" id="email-subscribe">Send to Fastdraw</a>
			</div>
			<div class="fdb-btn fastdraw-account">
				<a href="<?php echo $block->getSeeBookUrl(); ?>" class="see-playbook" id="see-playbook">See My Playbook</a>
			</div>

			<div id="popup-modal" class="modal-container open" style="display:none;">
				<div class="modal-background"></div>
				<div class="modal-content">
					<section class="fasttrade modal form" style="display: block;">	
						<a class="modal-close" href="javascript:void('close');"></a>
				      	<h2>Send a FastTrade</h2>
				      	<p>Send <span id="play_title">'Dr. Dish 3 and D Shooting'</span> to your FastDraw library or email to a friend.</p>
					    <div class="email-subscribe-form">
					    	<form name="subscribe-form" id="subscribe-form" method="post" action="<?php echo $block->getActionUrl(); ?>" 
					    		data-mage-init='{ "validation":{ "rules": { "field4": { "required":true } } } }'>
								<fieldset class="fieldset create info">
									<div class="field field-name-firstname required">
									    <label class="label" for="email"><span>Email</span></label>
									    <div class="control">
											<input type="text" id="email" name="email" value="" title="Email" class="input-text required-entry" data-validate="{required:true, 'validate-email':true}" autocomplete="off" aria-required="true">
										</div>
									</div>
									<div class="actions-toolbar">
										<div class="newsletter">
											<div class="secondary">
												<button type="submit" class="action submit senary" title="Get Started"><span>Get Started</span></button>
											</div>
										</div>
									</div>	
								</fieldset>    
							</form>						    	
						</div>
					</section>	
				</div>	
			</div>

			<script>
				require([
					'jquery',
					'Magento_Ui/js/modal/modal'
				],
				function(
				$,
				modal
				) {
					var options = {
						type: 'popup',
						responsive: true,
						innerScroll: true,
						title: 'Submission',
						buttons: [{
							text: $.mage.__('Continue'),
							class: '',
							click: function () {
								this.closeModal();
							}
						}],
						opened: function($Event) {
							$(".modal-footer").hide();
							$(".modal-header").hide();
						}
					};
					var popup = modal(options, $('#popup-modal'));
					$("#email-subscribe").on('click',function(){ 
						$("#popup-modal").modal("openModal");
					});
				});
			</script>
		</div>
	</div>		
<?php endif; ?>	


