<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

$mediaUrl = $this->getUrl('pub/media');
//$mediaurl= $this->getUrl()."pub/media/";
$mediaGallery = $this->getProduct()->getMediaGallery('images');
?>
<style type="text/css">
	.hidden{
		display: none !important;
	}
</style>
<div class="swiper-container" id="productslider_container">
	<div class="swiper-wrapper">
		<?php
		$j = 0;
		foreach($mediaGallery as $imagesCodes)
		{
			if($imagesCodes['media_type'])
			{?>
				<div class="swiper-slide " data-id="<?= $j?>">
					<div class="figure">
						<?php 
							echo "<img class='img-responsive' height='250px' width='100%' src=".$mediaUrl.'catalog/product'.$imagesCodes['file'].">";
							//echo '<div class="caption"><h1 class="animated bounce">'.$imagesCodes['label'].'</h1></div>';
							$j++;
						?>
					</div>
				</div>
			<?php	}
		} ?>
	</div>
</div>

<div class="product-message" id="slider-caption">
	<div class="detail">
		<div class="info">
			<!-- <div class="img">
				<img src="<?= $mediaUrl ?>/wysiwyg/top-contributor-img1.jpg" alt="" />
				<span>Randy Sherman</span>
			</div> -->
			<div class="img">
				
				<?php 
				$_optionText = $contributorName = "";
				$_optionId = $this->getProduct()->getContributor();
				$_attributeId = $this->getProduct()->getResource()->getAttribute('contributor');
				if ($_attributeId->usesSource()) {
					$_optionText = $_attributeId->getSource()->getOptionText($_optionId);
					$contributorName = str_replace(' ', '_', strtolower($_optionText));
					$path = $mediaUrl."contributor/".$contributorName.".jpg";
					$AgetHeaders = @get_headers($path);
					if (preg_match("|200|", $AgetHeaders[0])) {
						echo'<img src="'.$path.'" alt="" />';
					} else {
						$imagePath = $this->getViewFileUrl('images/fm_profile-avatar.jpg');
						echo '<img src="'.$imagePath.'"  alt="" />';
					}
				}
				
				?>
				<span><?php echo $_optionText; ?></span>
			</div>
			<?php
				$i =0;
				foreach($mediaGallery as $imagesCodes)
				{
					if($imagesCodes['media_type'])
					{
						echo '<div class="desc hidden caption_'.$i.'"><p><strong>'.$this->getProduct()->getName()."</strong> ".$imagesCodes['label'].'</p></div>';
						$i++;
					}
				} 
			?>
		</div>
	</div>
</div>

<script>
requirejs(['jquery','swiperjs'],function($, Swiper) {
	var swiper = new Swiper('#productslider_container', {
		effect: 'coverflow',
		grabCursor: true,
		centeredSlides: true,
		slidesPerView: 2,
		slidesPerGroup: 1,
		loop: true,
		coverflowEffect: {
			rotate: 0,
			stretch: 360,
			depth: 225,
			modifier: 1,
			slideShadows : false,
		},
		breakpoints: {
			420: {
				slidesPerView: 1.5,
				coverflowEffect: {
					stretch: 0,
					depth: 10,
					modifier: 10
				}
			},
			568: {
				slidesPerView: 1.5,
				coverflowEffect: {
					stretch: 150,
					depth: 75,
					modifier: 1
				}
			},
			767: {
				slidesPerView: 1.5,
				coverflowEffect: {
					stretch: 200,
					depth: 100,
					modifier: 1
				}
			},
			992: {
				slidesPerView: 2,
				coverflowEffect: {
					stretch: 250,
					depth: 150,
					modifier: 1
				}
			},
			1024: {
				slidesPerView: 2,
				coverflowEffect: {
					stretch: 300,
					depth: 200,
					modifier: 1
				}
			}
		}
    });
    $(document).ready(function(){
		setTimeout(function(){ 
			swiper.on('slideChange', function () {
					$("#slider-caption .desc").addClass("hidden");
					var captionID = $(".swiper-slide-active").data("id");
					$(".caption_"+captionID).removeClass("hidden");
			});
			var captionID = $(".swiper-slide-active").data("id");
			$(".caption_"+captionID).removeClass("hidden");
		}, 3000);
   	});
});
</script>