<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_product = $block->getProduct() ?>

<a class="action fastdraw" href="javascript:void(0);"><span><?= /* @escapeNotVerified */ __('Send To Fastdraw') ?></span></a>

<?php if ($block->canEmailToFriend()): ?>
    <a href="<?= /* @escapeNotVerified */ $this->helper('Magento\Catalog\Helper\Product')->getEmailToFriendUrl($_product) ?>"
       class="action mailto friend"><span><?= /* @escapeNotVerified */ __('Email') ?></span></a>
<?php endif; ?>

<a class="action print" href="javascript:window.print();"><span><?= /* @escapeNotVerified */ __('Print') ?></span></a>

<a class="action embed" href="javascript:void(0);"><span><?= /* @escapeNotVerified */ __('Embed') ?></span></a>