// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________


    .footer {

        .other_footer {.fm(@mg-font-gMu);.ta(l);.pd(top,100,px);.pd(bottom,50,px);.c(@mg-white);display: table;margin: 0 auto;
                .footer-col-one { width: 33% !important;color:@mg-white;.fl(l);
                .footerlogo {margin-bottom: 25px;}
                 p { font-size:@font15; color: #4b4b4c}
                .fc1 { font-weight: @bold; .tt(u);   padding-right: 40%;color: @mg-white; 
                    .med(m,{padding-right:0; padding-bottom: 20px});
                }
                .med(m,{width: 100% !important;});
            }
            
        
            .footer-col-second {float: left;width: 66%;
                .fo-content {float: left;width: 41%;border-top: 1px solid @mg-white;margin-right: 18%;
                    h2 {font-weight:@bold; font-size: 20px;margin: 20px 0;}
                    ul.footer.links {margin: 0;list-style: none;padding: 0;
                        li {font-size:@font15; line-height: 30px;margin: 0;
                            a { color: #7d7d7e;
                                &:hover {color: #006bb4; text-decoration: none;}
                            }
                        }
                    }
                    .med(m,{width: 100% !important;margin-bottom: 15px;margin-right: 0;});
                }
                .fo-content:last-child {
                    margin-right: 0;
                }
                .med(m,{width: 100% !important;text-align: center;});
            }
            .footer-col-third {clear: both;float: left;width: 33%;margin-top: 40px;
                ul.footer.links { margin: 0;padding: 0;list-style: none;
                    li { float: left; margin: 0 40px 0 0;
                        img { height: 16px; }
                    }               
                }
                .med(m,{width: 100% !important;margin-right: 0;text-align: center;});
            }
            .footer-lists.fl-4 {float: left;width: 34%;margin-top: 40px;text-align: center;
                .copyright { font-size:@font14;color: #7d7d7e; }  
                .med(m,{width: 100% !important;margin-right: 0;text-align: center;});  
            }
         .med(m,{.pd(top,50,px);.pd(bottom,30,px);});
        }
        .playbank_footer { .fm(@mg-font-gMu);.ta(c);.pd(top,100,px);.pd(bottom,50,px);.c(@mg-white);display: table;margin:0 auto;
            .footer-col-third {width: 100%; 
                .footerlogo {margin-bottom: 25px;}
                .footer.links { .pd(right,0,px); margin-bottom: 25px;
                    ul.social-link {list-style: none;.pd-lr(0,px);
                        li { float: left; margin: 0 20px;
                            img { height: 16px; }
                        }
                    .med(m,{display: table;margin: 0 auto;});
                    }   
                }
            }               
            .footer-lists.fl-4 {  clear: both;    width: 100%;
                .copyright { .fs(15);
                    .med(m,{
                        .fs(12);
                    });
                 }
            }
            .med(m,{.pd(top,50,px);.pd(bottom,30,px);display: table;});
        }
    }
