@Ogreen: #0e2b20;
@Overygreen: #112f24;
@Purple: #1e1048;
@Neviblue: #1a1f43;
@Darkblack:#201b00;
@helveticaneue: Helveticaneue;
@futuraPTlight: FuturaPT-Light;
@futuraPT: FuturaPT;


.repcls{
 	/*font-family: @futuraPT;*/
 	text-align: @center;
  	color: @mg-white;
}
.strprep{
	background-image: repeating-linear-gradient(90deg, 
		rgba(255,255,255,0.02), rgba(255,255,255,0.02) 2px, 
		rgba(@zero,@zero,@zero,@zero) 2px, rgba(@zero,@zero,@zero,@zero) 10px);
	width: 2000px;
	height: @full;
	transform: translateX(-52%) skewX(-30deg);
	position: absolute;
	left: 50%;
}
.seccont{
	width: 980px;
	margin: @margin-center;
	position: relative;
	z-index: 1;
}
.sec{
	height: 700px;
	overflow: hidden;
	margin-bottom: 50px;
	position: relative;  
}
.secrw{
	padding-top: 70px;
	display: flex;
	justify-content: space-between;			
}
.bgb1{
	transform: translateX(400px) skewX(-30deg);
	width: 50%;
	height: @full;
	position: absolute;
	left: 50%;
	top: @zero;
}
.bgb2{
	width: 50%;			    
	position: absolute;
	bottom: @zero;
	
}
.secbg{
	position: absolute;
	width: @full;
	height: @full;
	overflow: hidden;
	z-index: @zero;
}
.desc{
	/*font-family: @helveticaneue;*/
	font-size: 23px;
	font-weight: @light;					    
	line-height: 1.3;
	letter-spacing: normal;
	margin-left: 32px;
}
.seclnk{
	/*font-family: @helveticaneue;*/
	font-size: @font20;
	font-weight: @bold;			    
	line-height: 1.5;			    
	text-align: @center;
	margin-right: 32px;
}
.ttl{
	/*font-family: @futuraPT;*/
	font-size: 87px;
	font-weight: @bold;				    
	line-height: 0.92;
	letter-spacing: -1.4px;
	margin-left: 32px;
	margin-bottom: 20px;
	text-transform: @uppercase;
}

.cms-new-page
{ 
	main#maincontent 
	{
    padding-top: @zero;
    padding-bottom: @zero;
    padding-left: @zero !important;
    padding-right: @zero !important;
    max-width: inherit;
    background: #151515;
	}
	.breadcrumbs {
    display: @none;
	}

}
.cms-home main#maincontent {
    background: #151515;
}
.homepage_all_sections
{
    background: #151515;
	.section-1 {
		@media only screen and (max-width:767px) {
				height: 650px;
			}
     	&:extend(.sec); 
		    .section-bg {
		    	background-color: @mg-black;
		   		&:extend(.secbg);
			}
		.bg-stripe {
		   &:extend(.strprep);
		}
    	.section_container {
    		&:extend(.seccont);
    		@media only screen and (max-width:1024px) {
    		    width: 680px;
    		}
    		@media only screen and (max-width:767px) {
    		width: 300px;
    		}	
		   
		   .full-logo-vertical-white {
		    width: 478px;
		    height: 371px;
		    margin: 8px auto @zero;
		    @media only screen and (max-width:1024px) {
		    	width: 364px;
    			margin-top: 36px;
    			height: 284px;
			}
		    @media only screen and (max-width:767px) {
		    	width: 250px;
				margin-top: 20px;
				height: 194px;
			}
			img {
				    width: @full;
				}
			}		
		.short-intro {
		    margin: 16px @zero @zero;
		    /*font-family: @helveticaneue;*/
		    color: @mg-white;
		    text-align: @center;
		    font-size: 17px;
		    line-height: 24px;
			@media only screen and (max-width:1024px) {
				font-size: @font15; 
				font-weight: @light;
				line-height: 1.57;
				margin-top: 50px;
			}
			@media only screen and (max-width:767px) {
				font-size: 13px; 
				line-height: 1.38;
			}

		}
		.trust-facts {
			text-transform: @uppercase;
			    .headline {
				    font-size: @font16;
				    line-height: 18px;
				    letter-spacing: 5px;				    				    
				    margin :60px @zero 10px;				        				
				    &:extend(.repcls);
				     @media only screen and (max-width:1024px) {
				    margin-top: 40px; 
					}
				    @media only screen and (max-width:767px) {
				    margin-top: 40px; 
					}
				}
				.divider {
				    width: @full;
				    height: 1px;
				    background-color: @mg-white;
				}
				.section-row {
				    margin-top: 20px;
				    display: flex;
				    justify-content: space-between;
				    @media only screen and (max-width:767px) {
				    	flex-wrap: wrap;
				    }
				}
				.section-col-6 {

				    width: 16.66%;
				    @media only screen and (max-width:767px) {
				     	width: 33.33%;
						flex: @none;
						margin-bottom: 20px;
				    }
				}
				.value {
				   	&:extend(.repcls);					
					font-size: @font20;					  
				    font-weight: @bold;
				    letter-spacing: -0.5px;
				    @media only screen and (max-width:767px) {
				    	font-size: @font15;
						letter-spacing: -0.4px;
				    }				   
				}
				.name {
				    &:extend(.repcls);				    
				    font-size: @font20;
				    font-weight: @light;
				    line-height: 22px;
				    letter-spacing: -0.5px;
				    @media only screen and (max-width:767px) {
				     	font-size: @font15;
						line-height: 1.2;
						letter-spacing: -0.4px;
				    }    
				}
			}
		}
	}

.section-2 {
	background-color: @Ogreen;
    &:extend(.sec); 
    @media only screen and (max-width:1024px) {
    	height: 650px;
    }
    @media only screen and (max-width:767px) {
    	height: 650px;
    }
    
	.bg-style-1 {
		.bg-block-1 {
		    background-color: @Overygreen;			
		    &:extend(.bgb1);
		}
		.bg-block-2 {
			background-color: @Overygreen;			 
			height: 200px;
			transform: translateX(-600px) skewX(-30deg);
			&:extend(.bgb2);
		}
		.bg-stripe { &:extend(.strprep);
		}
	}
	.section_container {
		&:extend(.seccont);
		@media only screen and (max-width:1024px) { width: 680px;
    	}
    	@media only screen and (max-width:767px) { width: 300px;
    	}
		.section-row {
			&:extend(.secrw);
			@media only screen and (max-width:1024px) {
    			display: block;
				flex-direction: column;
			    padding-top: 50px;
    		}
    		@media only screen and (max-width:767px) {
    			display: flex;
    			flex-direction: column-reverse;
				padding-top: 50px;
    		}
		.section-feature-image {
			width: 1013px;
			height: 569px;
			margin-left: -440px;
			@media only screen and (max-width:1024px) {
    			margin: @margin-center;
				width: 547px;
				height: 302px;
    		}
    		@media only screen and (max-width:767px) {
    			margin: 70px auto @zero;
				width: 292px;
				height: 161.4px;
				
    		}
    		img{
    			@media only screen and (max-width:1024px) { width: @full;
    			}
    			@media only screen and (max-width:767px) { width: @full;
    			}
    		}
		}
			.section-col.section-col-40p {
				width: 40%;
				flex: @none;
				@media only screen and (max-width:1024px) {
	    			width: @full;
					text-align: @center;
	    		}
	    		@media only screen and (max-width:767px) {
	    			width: @full;
				    text-align: @center;
    			}
				img {
					width: @full;
					@media only screen and (max-width:1024px) {
	    				width: 40%;
						max-width: @full;
						margin-left: 80px;
						height: 86px;
	    			}
	    			@media only screen and (max-width:767px) {
	    				width: 80%;
	    				margin-left: 50px;
					    height: 69px;
    				}
				}
				.title { color: #09915d;
					&:extend(.ttl);
					@media only screen and (max-width:1024px) {
		    			font-size: 56px;
						line-height: 1.29;
						letter-spacing: -1px;
						margin-left: @zero;
						text-align: @center;
						white-space: nowrap;
						margin: @zero;
		    		}
		    		@media only screen and (max-width:767px) {
		    			font-size: 49.6px;
						line-height: 0.93;
						letter-spacing: -0.8px;
						margin: @zero;
						white-space: unset;
    				}
				}
				.description { color: #71d6af;
					&:extend(.desc);
					@media only screen and (max-width:1024px) {
	    				font-size: @font18;
						line-height: 1.33;
						letter-spacing: -0.4px;
						margin: @margin-center;
	    			}
	    			@media only screen and (max-width:767px) {
	    				font-size: @font18;
						line-height: 1.33;
						letter-spacing: -0.4px;
						margin: 20px auto @zero;
						width: 220px;
    				}
				}
			}
		}	
	}
}


.section-3 {
	&:extend(.sec); 
	@media only screen and (max-width:1024px) { height: 650px;
    }
    @media only screen and (max-width:767px) { 
    	height: 650px;
    }
	.section-bg {
		background-color: #21124c;
		&:extend(.secbg);
		.bg-block-1 {
			background-color: @Purple;				   	
			width: 650px;
			height: @full;
			position: absolute;
			left: 50%;
			top: 0;
			transform: translateX(-580px) skewX(30deg);
		}
		.bg-block-2 {
			width: 0px;
			height: 0px;
			border-left: 221px solid transparent;
			border-right: 221px solid transparent;
			border-top: 400px solid @Purple;
			border-bottom: 400px solid @Purple;
			position: absolute;
			left: 50%;
			top: 0;
			transform: translateX(470px);
			}

		.bg-stripe { &:extend(.strprep);
		}
	}
	.section_container {
		&:extend(.seccont);
		@media only screen and (max-width:1024px) {
    		width: 680px;
    	}
    	@media only screen and (max-width:767px) {
    		width: 300px;
    	}		
		.section-row {
			flex-direction: row-reverse;
			&:extend(.secrw);
			@media only screen and (max-width:1024px) {
    			display: block;
				flex-direction: column;
			    padding-top: 50px;
    		}
    		@media only screen and (max-width:767px) {
    			display: flex;
    			flex-direction: column-reverse;
				padding-top: 50px;
    		}
			
			.section-col {			   
			    .section-feature-image {
			    width: 1041px;
			    height: 567px;
			    margin-left: 70px;
			    margin-right: -530px;
			    @media only screen and (max-width:1024px) {
    				margin: @margin-center;
					width: 547px;
					height: 302px;
    			}
    			@media only screen and (max-width:767px) {
    				margin: 70px auto 0;
					width: 292px;
					height: 161.4px;
    			}
    				img{
    					@media only screen and (max-width:1024px) {
    						width: @full;
    					}
    					@media only screen and (max-width:767px) {
    						width: @full;
    					}
    				}
				}
			}
			.section-col-40p {
			    width: 40%;
			    flex: @none;	
			    @media only screen and (max-width:1024px) {
    				width: @full;
				    text-align: @center;
    			}
    			@media only screen and (max-width:767px) {
    				 width: @full;
				    text-align: @center;
    			}		
			    	img { width: @full;
					    @media only screen and (max-width:1024px) {
	    					width: 40%;
						    max-width: @full;
							margin-left: 80px;
							height: 86px;
	    				}
	    				@media only screen and (max-width:767px) {
	    					width: 80%;
	    					margin-left: 50px;
					    	height: 69px;
    					}
					}
					.title {
					    color: #9571f9;
					    &:extend(.ttl);
					    @media only screen and (max-width:1024px) {
	    					font-size: 56px;
						    line-height: 1.29;
						    letter-spacing: -1px;
						    margin-left: 0px;
						    text-align: @center;
						    white-space: nowrap;
						    margin: 0;
	    				}
	    				@media only screen and (max-width:767px) {
	    					width: 230px;
    						margin: @margin-center;
	    					font-size: 49.6px;
							line-height: 0.93;
							letter-spacing: -0.8px;
							white-space: unset;
    					}
					}
					.description {
					    color: #cab6ff;
					    &:extend(.desc);
					    @media only screen and (max-width:1024px) {
    						font-size: @font18;
						    line-height: 1.33;
						    letter-spacing: -0.4px;
						    margin: @margin-center;
    					}
    					@media only screen and (max-width:767px) {
    						font-size: @font18;
							line-height: 1.33;
							letter-spacing: -0.4px;
							margin: 20px auto 0;
							width: 220px;
    					}
					}
			}
		}
	}
}


.section-4 {
	&:extend(.sec); 
	@media only screen and (max-width:1024px) { height: 650px;
   	}
   	@media only screen and (max-width:767px) { height: 680px;
   }
	.section-bg.bg-style-1 {
		background-color: #111934;
		&:extend(.secbg);
		.bg-block-1 {
		    background-color: @Neviblue;
		    &:extend(.bgb1);
		}
		.bg-block-2 {
		    background-color: @Neviblue;
		    height: 200px;
		    transform: translateX(-300px) skewX(-30deg);	    
		    &:extend(.bgb2);
		}
		.bg-stripe {
		   &:extend(.strprep);
		}
	}	

	.section_container {
		&:extend(.seccont);
		@media only screen and (max-width:1024px) { width: 680px;
    	}
    	@media only screen and (max-width:767px) { width: 300px;
    	}
			.section-row {
		     	&:extend(.secrw);
		     	@media only screen and (max-width:1024px) {
    				display: block;
					flex-direction: column;
			    	padding-top: 50px;
    			}
    			@media only screen and (max-width:767px) {
    				display: flex;
    				flex-direction: column-reverse;
					padding-top: 50px;
    			}
				.section-col {
					.section-feature-image {
					    width: 1013px;
					    height: 560px;		   
					    margin-left: -480px;
					    @media only screen and (max-width:1024px) {
	    					margin: @margin-center;
						    width: 547px;
						    height: 302px;
	    				}
	    				@media only screen and (max-width:767px) {
	    					margin: 30px auto 0;
							width: 292px;
							height: 161.4px;
    					}
	    				img{
	    					@media only screen and (max-width:1024px) {
	    						width: @full;
	    					}
	    					@media only screen and (max-width:767px) {
	    						width: @full;
    						}
	    				}
					}
				}
				.section-col.section-col-40p {
				    width: 48%;
				    flex: @none;
				    @media only screen and (max-width:1024px) {
		    			width: @full;
						text-align: @center;
		    		}
		    		@media only screen and (max-width:767px) {
		    			width: @full;
				    	text-align: @center;
    				}
					img {
						width: @full;
						@media only screen and (max-width:1024px) {
		    				width: 40%;
							max-width: @full;
							margin-left: 80px;
							height: 86px;
		    			}
		    			@media only screen and (max-width:767px) {
		    				width: 80%;
		    				 margin-left: 50px;
					    	height: 69px;
    					}
					}
					.title {
						color: #1459d0;
						&:extend(.ttl);
						@media only screen and (max-width:1024px) {
			    			font-size: 54px;
							line-height: 1.29;
							letter-spacing: -1px;
							margin-left: 0px;
							text-align: @center;
							white-space: nowrap;
							margin: 0;
			    		}
			    		@media only screen and (max-width:767px) {
			    			font-size: 49.6px;
							line-height: 0.93;
							letter-spacing: -0.8px;
							margin: 0;
							white-space: unset;
    					}
					}
					.description {
						color: #1c68eb;
						&:extend(.desc);
						@media only screen and (max-width:1024px) {
		    				font-size: @font18;
							line-height: 1.33;
							letter-spacing: -0.4px;
							margin: @margin-center;
		    			}
		    			@media only screen and (max-width:767px) {
		    				font-size: @font18;
							line-height: 1.33;
							letter-spacing: -0.4px;
							margin: 20px auto 0;
							width: 220px;
    					}
					}
					.section-links-row {
				    	margin-left: 32px;
				     		a {
						    text-decoration: @none;
						    color: #4984e9;
							}
							a:hover
							{
								text-decoration: underline;
							}
							.section-link {
							    &:extend(.seclnk);
							    @media only screen and (max-width:767px) {
								    font-size: 17px;
									line-height: 1.76;
								}	
							}
					}
				}
			}
	}

}


.section-5 {
   	&:extend(.sec); 
   	@media only screen and (max-width:1024px) { height: 650px;
    }
    @media only screen and (max-width:767px) { height: 650px;
    }
	.section-bg.bg-style-1 {
		background-color: #1a1500;
		&:extend(.secbg);
		.bg-block-1 {
			background-color: @Darkblack;
		 	&:extend(.bgb1);
			}
		.bg-block-2 {
			background-color: @Darkblack;
			height: 580px;	
			width: 50%;   
    		position: absolute;
    		bottom: 0;		    			   
    		transform: translateX(-400px) skewX(-30deg);
			}
		.bg-stripe {
			&:extend(.strprep);
		}
	}
	.section_container {
		&:extend(.seccont);
		@media only screen and (max-width:1024px) { width: 680px;
    	}
    	@media only screen and (max-width:767px) { width: 300px;
    	}	
		.section-row {
			&:extend(.secrw);
			@media only screen and (max-width:1024px) {
    			display: block;
				flex-direction: column;
			    padding-top: 50px;
    		}
    		@media only screen and (max-width:767px) {
    			display: flex;
    			flex-direction: column-reverse;
				padding-top: 50px;
    		}
			   
			.section-col {				   
				.section-feature-image {
					width: 1013px;
					height: 569px;					   
					margin-left: -480px;
					@media only screen and (max-width:1024px) {
    					margin: @margin-center;
					    width: 547px;
					    height: 302px;
    				}
    				@media only screen and (max-width:767px) {
    					margin: 30px auto 0;
						width: 292px;
						height: 161.4px;
    				}
    				img{
    					@media only screen and (max-width:1024px) {
    						width: @full;
    					}
    					@media only screen and (max-width:767px) {
    						width: @full;
    					}
    				}
				}
			}
				
		
			.section-col-40p {
		    	width: 43%;
		    	@media only screen and (max-width:1024px) {
	    			width: @full;
					text-align: @center;
    			}
    			@media only screen and (max-width:767px) {
    				width: @full;
				    text-align: @center;
    			}		
		    	img {
				    width: @full;
				    @media only screen and (max-width:1024px) {
    					width: 40%;
					    max-width: @full;
						margin-left: 80px;
						height: 86px;
    				}
    				@media only screen and (max-width:767px) {
    					width: 80%;
    					margin-left: 50px;
					    height: 69px;
    				}
				}
				.title {
				    color: #c79f00;
				    &:extend(.ttl);
				    @media only screen and (max-width:1024px) {
		    			font-size: 56px;
						line-height: 1.29;
						letter-spacing: -1px;
						margin-left: 0px;
						text-align: @center;
						white-space: nowrap;
						margin: 0;
		    		}
		    		@media only screen and (max-width:767px) {
		    			font-size: 49.6px;
						line-height: 0.93;
						letter-spacing: -0.8px;
						margin: 0;
						white-space: unset;
    				}
				}
				.description {
				    color: #c79f00;
				    &:extend(.desc);
				    @media only screen and (max-width:1024px) {
	    				font-size: @font18;
						line-height: 1.33;
						letter-spacing: -0.4px;
						margin: @margin-center;
	    			}
	    			@media only screen and (max-width:767px) {
	    				font-size: @font18;
						line-height: 1.33;
						letter-spacing: -0.4px;
						margin: 20px auto 0;
						width: 220px;
    				}
				}
				.section-links-row{
					margin-left: 35px;
				}
				a {
					text-decoration: @none;
					color: #c79f00;
					}
				a:hover
					{
					color:@mg-white;
					text-decoration: underline;
					}
				.section-link {
					&:extend(.seclnk);
					@media only screen and (max-width:767px) {
						font-size: 17px;
						line-height: 1.76;
					}	
				}
			}
		}
	}
}

}