<?php 
	$urlInterface = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\UrlInterface');
	$currentUrl = $urlInterface->getCurrentUrl();
	$findme = '/playbank';
	if (strpos($currentUrl, $findme) !== false) {?>
		<div class="footer content">
		<div class="playbank_footer">
			<div class="footer-col-third">
				<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('fm_footer_col_4')->toHtml(); ?>
			</div>
			<div class="footer-lists fl-4">
				<?php echo $this->getLayout()->createBlock("Magento\Theme\Block\Html\Footer")->setTemplate("Magento_Theme::html/copyright.phtml")->toHtml();?>
			</div>
		</div>
		</div>
	<?php }else{?>
		<div class="footer content">
		<div class="other_footer">
			<div class="footer-col-one">
				<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('fm_footer_col_1')->toHtml(); ?>
			</div>
			<div class="footer-col-second">
				<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('fm_footer_col_2')->toHtml(); ?>
			</div>
			<div class="footer-col-third">
				<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('fm_footer_col_3')->toHtml(); ?>
			</div>
			<div class="footer-lists fl-4">
				<?php echo $this->getLayout()->createBlock("Magento\Theme\Block\Html\Footer")->setTemplate("Magento_Theme::html/copyright.phtml")->toHtml();?>
			</div>
		</div>
		</div>
	<?php } ?>

