//
// @mixins
// ---------------------------------------------

//
// @mixin	Font Face
// @arg		Font Name
// ---------------------------------------------
.font-face(@arg: '', @arg2: '', @arg3: '', @arg4: '') {
	& when (@arg2 = '')  {
		@font-face {
			font-family: @arg;
			src: url('@{mg-font-path}@{arg}.eot');
			src: local(@arg),
				url('@{mg-font-path}@{arg}.eot?#iefix') format('embedded-opentype'),
				url('@{mg-font-path}@{arg}.woff') format('woff'),
				url('@{mg-font-path}@{arg}.ttf') format('truetype'),
				url('@{mg-font-path}@{arg}.svg#@{arg}') format('svg');
			font-weight: normal;
			font-style: normal;
		}
	}
	& when (@arg2 = 'base64')  {
		@font-face {
			font-family: @arg;
			src: url('@{mg-font-path}@{arg}.eot');
			src: local(@arg),
				url('@{mg-font-path}@{arg}.eot?#iefix') format('embedded-opentype'),
				url('data:application/font-woff2;charset=utf-8;base64,@{arg3}') format('woff2'),
				url('data:application/font-woff;charset=utf-8;base64,@{arg4}') format('woff'),
				url('@{mg-font-path}@{arg}.ttf') format('truetype'),
				url('@{mg-font-path}@{arg}.svg#@{arg}') format('svg');
			font-weight: normal;
			font-style: normal;
		}
	}
}

//
// @mixin	Color
// @arg		code
// ---------------------------------------------
.c(@arg:'', @arg2: '') {
	& when (@arg = i)  {
		color: inherit;
	}
	& when not(@arg = i)  {
		& when not(@arg2 = imp) {
			color: @arg;
		}
		& when (@arg2 = imp) {
			color: @arg @imp;
		}
	}
}

//
// @mixin	Font Family
// @arg		name
// ---------------------------------------------
.fm(@arg:'') {
	& when (@arg = i)  {
		font-family: inherit;
	}
	& when not(@arg = i)  {
		font-family: @arg , sans-serif;
	}
}

//
// @mixin	Font Weight
// @arg		weight
// ---------------------------------------------
.fw(@arg:'') {
	& when (@arg = n)  {
		font-weight: normal;
	}
	& when (@arg = b)  {
		font-weight: bold;
	}
	& when (@arg = i)  {
		font-weight: inherit;
	}
	& when (isnumber(@arg)) {
		font-weight: @arg;
	}
}

//
// @mixin	Font Size
// @arg		size
// ---------------------------------------------
.fs(@arg:'') {
	& when (@arg = i)  {
		font-size: inherit;
	}
	& when not(@arg = i)  {
		font-size: unit(@arg, px);
	}
}

//
// @mixin	Font Style
// @arg		style
// ---------------------------------------------
.fst(@arg:'') {
	& when (@arg = i)  {
		font-style: italic;
	}
	& when not (@arg = '')  {
		font-style: normal;
	}
}

//
// @mixin	Line Height
// @arg		height
// ---------------------------------------------
.lh(@arg:'') {
	& when (@arg = n)  {
		line-height: normal;
	}
	& when (isnumber(@arg)) {
		line-height: unit(@arg, px);
	}
}

//
// @mixin	letter Spacing
// @arg		spacing
// ---------------------------------------------
.ls(@arg:'') {
	letter-spacing: unit(@arg, em);
}

//
// @mixin	Text Alignment
// @arg		align
// ---------------------------------------------
.ta(@arg: '') {
	& when (@arg = l) {
		text-align: left;
	}
	& when (@arg = r) {
		text-align: right ;
	}
	& when (@arg = c) {
		text-align: center;
	}
	& when (@arg = j) {
		text-align: justify;
	}
	& when (@arg = i) {
		text-align: inherit;
	}
}

//
// @mixin	Text Transform
// @arg		transform
// ---------------------------------------------
.tt(@arg:'', @arg2:'') {
	& when (@arg = u) {
		& when (@arg2 = '') {
			text-transform: uppercase;
		}
		& when (@arg2 = imp) {
			text-transform: uppercase !important;
		}
	}
	& when (@arg = l) {
		& when (@arg2 = '') {
			text-transform: lowercase;
		}
		& when (@arg2 = imp) {
			text-transform: lowercase !important;
		}
	}
	& when (@arg = c) {
		& when (@arg2 = '') {
			text-transform: capitalize;
		}
		& when (@arg2 = imp) {
			text-transform: capitalize !important;
		}
	}
	& when (@arg = n) {
		& when (@arg2 = '') {
			text-transform: none;
		}
		& when (@arg2 = imp) {
			text-transform: none !important;
		}
	}
}

//
// @mixin	Text Decoration
// @arg		decoration
// ---------------------------------------------
.td(@arg:'') {
	& when (@arg = u) {
		text-decoration: underline;
	}
	& when (@arg = n) {
		text-decoration: none;
	}
}

//
// @mixin	Text Indent
// @arg		indentation
// ---------------------------------------------
.ti(@arg:'') {
	& when (isnumber(@arg)) {
		text-indent: unit(@arg, px);
	}
}

//
// @mixin	Display
// @arg		prop
// ---------------------------------------------
.ds(@arg: '', @arg2: '') {
	& when (@arg = i) {
		& when not(@arg2 = imp) {
			display: inline;
		}
		& when (@arg2 = imp) {
			display: inline @imp;
		}
	}
	& when (@arg = n) {
		& when not(@arg2 = imp) {
			display: none;
		}
		& when (@arg2 = imp) {
			display: none @imp;
		}
	}
	& when (@arg = b) {
		& when not(@arg2 = imp) {
			display: block;
		}
		& when (@arg2 = imp) {
			display: block @imp;
		}
	}
	& when (@arg = ib) {
		& when not(@arg2 = imp) {
			display: inline-block;
		}
		& when (@arg2 = imp) {
			display: inline-block @imp;
		}
	}
	& when (@arg = t) {
		display: table;
	}
	& when (@arg = tc) {
		display: table-cell;
	}
}


//
// @mixin	Margin
// @arg		4D - top/bottom/left/right
// ---------------------------------------------
.mg(@arg: '', @arg2: '', @arg3: '', @arg4: '') {
	& when not(@arg = all) {
		& when (@arg4 = '') {
			margin-@{arg}: unit(@arg2,@arg3);
		}
		& when (@arg4 = imp) {
			margin-@{arg}: unit(@arg2,@arg3) @imp;
		}
	}
	& when (@arg = all) {
		& when (@arg4 = '') {
			margin: unit(@arg2,@arg3);
		}
		& when (@arg4 = imp) {
			margin: unit(@arg2,@arg3) @imp;
		}
	}
}

//
// @mixin	Margin
// @arg		2D - top/bottom
// ---------------------------------------------
.mg-tb(@arg: '', @arg2: '', @arg3: '') {
	& when (@arg3 = '') {
		margin-top: unit(@arg,@arg2);
		margin-bottom: unit(@arg,@arg2);
	}
	& when (@arg3 = imp) {
		margin-top: unit(@arg,@arg2) @imp;
		margin-bottom: unit(@arg,@arg2) @imp;
	}
}

//
// @mixin	Margin
// @arg		2D - left/right
// ---------------------------------------------
.mg-lr(@arg: '', @arg2: '', @arg3: '') {
	& when (@arg = auto) {
		margin-left: @arg;
		margin-right: @arg;
	}
	& when not(@arg = auto) {
		margin-left: unit(@arg,@arg2);
		margin-right: unit(@arg,@arg2);
	}
	& when (@arg3 = imp) {
		margin-left: unit(@arg,@arg2) @imp;
		margin-right: unit(@arg,@arg2) @imp;
	}
}

//
// @mixin	Padding
// @arg		4D - top/bottom/left/right
// ---------------------------------------------
.pd(@arg: '', @arg2: '', @arg3: '', @arg4: '') {
	& when not(@arg = all) {
		& when (@arg4 = '') {
			padding-@{arg}: unit(@arg2,@arg3);
		}
		& when (@arg4 = imp) {
			padding-@{arg}: unit(@arg2,@arg3) @imp;
		}
	}
	& when (@arg = all) {
		& when (@arg4 = '') {
			padding: unit(@arg2,@arg3);
		}
		& when (@arg4 = imp) {
			padding: unit(@arg2,@arg3) @imp;
		}
	}
}

//
// @mixin	Padding
// @args	2D - top/bottom
// ---------------------------------------------
.pd-tb(@arg: '',@arg2: '',@arg3: '') {
	& when (@arg3 = '') {
		padding-top: unit(@arg,@arg2);
		padding-bottom: unit(@arg,@arg2);
	}
	& when (@arg3 = imp) {
		padding-top: unit(@arg,@arg2) @imp;
		padding-bottom: unit(@arg,@arg2) @imp;
	}
}

//
// @mixin	Padding
// @args	2D - left/right
// ---------------------------------------------
.pd-lr(@arg: '',@arg2: '',@arg3: '') {
	& when (@arg3 = '') {
		padding-left: unit(@arg,@arg2);
		padding-right: unit(@arg,@arg2);
	}
	& when (@arg3 = imp) {
		padding-left: unit(@arg,@arg2) @imp;
		padding-right: unit(@arg,@arg2) @imp;
	}
}

//
// @mixin	Float
// @arg		left/right
// ---------------------------------------------
.fl(@arg: '') {	
	& when (@arg = l) {
		float: left;
	}
	& when (@arg = r) {
		float: right;
	}
	& when (@arg = n) {
		float: none;
	}
}

//
// @mixin	Border Radius
// @arg		
// ---------------------------------------------
.br(@arg: '', @arg2: '', @arg3: 0, @arg4: 0) {
	& when not(@arg2 = '') {
		border-radius: unit(@arg, px) unit(@arg2, px) unit(@arg3, px) unit(@arg4, px) !important;
		-moz-border-radius: unit(@arg, px) unit(@arg2, px) unit(@arg3, px) unit(@arg4, px) !important;
		-webkit-border-radius: unit(@arg, px) unit(@arg2, px) unit(@arg3, px) unit(@arg4, px) !important;
	}
	& when (@arg2 = '') {
		border-radius: unit(@arg, px) !important;
		-moz-border-radius: unit(@arg, px) !important;
		-webkit-border-radius: unit(@arg, px) !important;
	}
}
	
//
// @mixin	Border
// @arg		4D - left,right,top,bottom,all
// ---------------------------------------------
.border(@arg: '',@arg2: '',@arg3: '',@arg4: solid) {
	& when not(@arg = all) {
		border-@{arg}: unit(@arg3, px) @arg4 @arg2;
	}
	& when (@arg = all) {
		border: unit(@arg3, px) @arg4 @arg2;
	}
}

//
// @mixin	Clear::after
// ---------------------------------------------
.clear() {
	&::after {
		.fs(0);
		.ds(b);
		.lh(0);
		overflow: hidden;
		clear: both;
		content: "";		
		height: 0;		
	}
}

//
// @mixin	Clear::after
// ---------------------------------------------
.clear-list() {
	.pd(all,0,px);
	.mg(all,0,px);
	list-style: none;
	li {
		.mg(all,0,px);
		list-style: none;
	}
}

//
// @mixin	Position
// @arg		state/top/bottom/left/right/z-index
// ---------------------------------------------
.pos(@arg:'', @arg2:'', @arg3:'', @arg4:'', @arg5:'', @arg6:'') {
	& when (@arg=a) {
		position: absolute;
	}
	& when (@arg=r) {
		position: relative;
	}
	& when (@arg=f) {
		position: fixed;
	}
	& when (@arg=s) {
		position: static;
	}
	& when not(@arg2='') {
		top: unit(@arg2, px);
	}
	& when not(@arg3='') {
		bottom: unit(@arg3, px);
	}
	& when not(@arg4='') {
		left: unit(@arg4, px);
	}
	& when not(@arg5='') {
		right: unit(@arg5, px);
	}
	& when not(@arg6='') {
		z-index: @arg6;
	}
}

//
// @mixin	Calc
// @args	
// ---------------------------------------------
.calc(@arg:'', @arg2:'', @arg3:'', @arg4:'') {
	@{arg}: ~"-webkit-calc(@{arg2} @{arg3} @{arg4})";
	@{arg}: ~"expression(@{arg2} @{arg3} @{arg4})";
	@{arg}: ~"-moz-calc(@{arg2} @{arg3} @{arg4})";
	@{arg}: ~"-o-calc(@{arg2} @{arg3} @{arg4})";
	@{arg}: ~"calc(@{arg2} @{arg3} @{arg4})";
}

//
// @mixin	Box Sizing
// ---------------------------------------------
.boxsizing() {
	-webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
}


//
// @mixin	Transform Translate
// @arg		X/Y ( should be in CAPS )
// @arg2	value
// ---------------------------------------------
.ts(@arg:'', @arg2:~'', @arg3:'') {
	& when (@arg = none) {
		& when not(@arg2 = imp) {
			-webkit-transform: none;
			-moz-transform: none;
			-ms-transform: none;
			-o-transform: none;
			transform: none;
		}
		& when (@arg2 = imp) {
			-webkit-transform: none @imp;
			-moz-transform: none @imp;
			-ms-transform: none @imp;
			-o-transform: none @imp;
			transform: none @imp;
		}
	}
	& when not(@arg = none) {
		-webkit-transform: ~"translate@{arg}(@{arg2})";
		-moz-transform: ~"translate@{arg}(@{arg2})";
		-ms-transform: ~"translate@{arg}(@{arg2})";
		-o-transform: ~"translate@{arg}(@{arg2})";
		transform: ~"translate@{arg}(@{arg2})";
	}
}

//
// @mixin	Transform Scale
// @arg		value
// ---------------------------------------------
.tsc(@arg:'') {
	-webkit-transform: ~"scale(@{arg})";
	-moz-transform: ~"scale(@{arg})";
	-ms-transform: ~"scale(@{arg})";
	-o-transform: ~"scale(@{arg})";
	transform: ~"scale(@{arg})";
}

//
// @mixin	Box Shadow
// @arg		true/false
// @argX	x/y/blur/color/direction
// ---------------------------------------------
.bs(@arg:'', @arg2:'', @arg3:'', @arg4:'', @arg5:'') { 
	& when (@arg = none) {
		box-shadow: @arg;
		-moz-box-shadow: @arg;
		-webkit-box-shadow: @arg;
	}
	
	& when not(@arg = none) {
		& when (@arg5 = '') {
			box-shadow: unit(@arg, px) unit(@arg2, px) unit(@arg3, px) ~'@{arg4}';
		}
		& when not(@arg5 = '') {
			box-shadow: unit(@arg, px) unit(@arg2, px) unit(@arg3, px) ~'@{arg4}' @arg5;
		}
	}	
}

//
// @mixin	Transition
// @arg		transition/duration/timing/delay
// ---------------------------------------------
.trans(@arg:'', @arg2:'', @arg3:'', @arg4:'') {
	& when (@arg = all) {
		transition: @arg unit(@arg2,s) @arg3 unit(@arg4,s);
		-moz-transition: @arg unit(@arg2,s) @arg3 unit(@arg4,s);
		-ms-transition: @arg unit(@arg2,s) @arg3 unit(@arg4,s);
		-o-transition: @arg unit(@arg2,s) @arg3 unit(@arg4,s);
		-webkit-transition: @arg unit(@arg2,s) @arg3 unit(@arg4,s);
	}
	& when (@arg = none) {
		transition: @arg;
		-moz-transition: @arg;
		-ms-transition: @arg;
		-o-transition: @arg;
		-webkit-transition: @arg;
	}
	& when (isnumber(@arg)) {
		-webkit-transition-delay: unit(@arg,ms);
		-moz-transition-delay: unit(@arg,ms);
		-o-transition-delay: unit(@arg,ms);
		transition-delay: unit(@arg,ms);
	}
}

//
// @mixin	Image
// ---------------------------------------------
.bg(@arg:'', @arg2:'', @arg3:'', @arg4:'', @arg5:'') {
	& when not (@arg = '') {
		& when not (@arg = none) {
			background-color: @arg;
		}
		& when (@arg = none) {
			background: @arg;
		}
	}
	& when not (@arg2 = '') {
		background-image: ~"url(../images/@{arg2})";
	}
	& when not (@arg3 = '') {
		background-position: @arg3;
	}
	& when not (@arg4 = '') {
		background-size: @arg4;
	}
	& when not (@arg5 = '') {
		background-repeat: @arg5;
	}
	& when (@arg5 = '') {
		& when not (@arg2 = '') {
			background-repeat: no-repeat;
		}
	}
}

//
// @mixin	Image Icon
// ---------------------------------------------
.bg-icon(@arg:'', @arg2:'') {
	& when not(@arg = '') {
		background: ~"transparent url(../images/icons/@{arg}) no-repeat center center";
	}
	& when not(@arg2 = '') {
		background-size: @arg2;
	}
}

//
// @mixin	@Media
// @arg		mxs/ms/m/gtm
// ---------------------------------------------
.med(@arg; @rules) {
	&when(@arg = m) {
		@media only screen and (max-width: @mg-mobile-max) {
			@rules();
		}
	}
	&when(@arg = ms) {
		@media only screen and (max-width: @mg-mobile-mid) {
			@rules();
		}
	}
	&when(@arg = mxs) {
		@media only screen and (max-width: @mg-mobile-min) {
			@rules();
		}
	}
	&when(@arg = gtm) {
		@media only screen and (min-width: @mg-tablet-min) {
			@rules();
		}
	}
	&when(@arg = t) {
		@media only screen and (max-width: @mg-tablet-max) {
			@rules();
		}
	}
	&when(@arg = ts) {
		@media only screen and (max-width: @mg-tablet-mid) {
			@rules();
		}
	}
	&when(@arg = gtts) {
		@media only screen and (min-width: (@mg-tablet-mid+1) ) {
			@rules();
		}
	}
	&when(@arg = gtt) {
		@media only screen and (min-width: (@mg-tablet-max+1) ) {
			@rules();
		}
	}
	&when(@arg = d) {
		@media only screen and (max-width: @mg-desktop-max) {
			@rules();
		}
	}
	&when(@arg = ds) {
		@media only screen and (max-width: @mg-desktop-mid) {
			@rules();
		}
	}
	&when(@arg = gtds) {
		@media only screen and (min-width: (@mg-desktop-mid+1) ) {
			@rules();
		}
	}
	&when(@arg = fluid) {
		@media only screen and (min-width: (@mg-desktop-max+1) ) {
			@rules();
		}
	}
}

//
// @mixin	Site Wrap Content
// @arg		width
// ---------------------------------------------
.swrap() {
	.edgegap();
	.clear();
	.mg-lr(auto);
	.boxsizing();
	max-width: unit(@mg-content-wrap,px);
	width: auto;
	width: 100%;
	.med(fluid,{
		width: 100%;
	});
}

//
// @mixin	Site Edge Gaps
// ---------------------------------------------
.edgegap(@arg: '') {
	& when (@arg = '') {
		.med(fluid, {
			.pd-lr(@mg-edge-gap-fluid,px);
		});
		.med(gtts, {
			.pd-lr(@mg-edge-gap,px);
		});
		.med(ts, {
			.pd-lr(@mg-edge-gap-tab,px);
		});
		.med(m, {
			.pd-lr(@mg-edge-gap-mob,px);
		});
	}
}


.vgap(@arg: '') {
	& when (@arg = section) {
		.med(m, {
			.pd-tb(15,px);
		});
		.med(gtm, {
			.pd-tb(20,px);
		});
		.med(gtts, {
			.pd-tb(25,px);
		});
	}
	& when (@arg = single) {
		.med(m, {
			.pd-tb(50,px);
		});
		.med(gtm, {
			.pd-tb(100,px);
		});
		.med(gtts, {
			.pd-tb(165,px);
		});
	}
}

//
// @mixin	Bullet Circle
// ---------------------------------------------
.bullet-prop() {
	.clear-list();
	.pos(r);
	.ta(l);
	.pd(left,20,px);
	.mg-tb(20,px);
	.ds(b);
	li {
		.pos(r);
		.pd(left,13,px);
		.ds(b);
		&::before {
			.pos(a,0,'',0);
			content:"";
		}
		&:not(:first-child) {
			.mg(top,10,px);
		}
	}
}
.bullet-circle() {
	&::before {
		.pos(a,0,'',0);
		.fs(8);
		content:"\2022";
		color: inherit;
		width: 20px;
		height: 20px;
	}
}
.bullet-tick() {
	.pd(left,16,px);
	&::before {
		.bg-icon('tickmark.svg',auto 10px);
		background-position: 0px 6px;
		width: 16px;
		height: 18px;
	}
}


//
// @mixin	Bullet Links
// @args	
// ---------------------------------------------
.bullet-list(@arg:'') {
	& when (@arg = circle) {
		.bullet-prop();
		li {
			.bullet-circle();
		}
	}
	& when (@arg = tick) {
		.bullet-prop();
		li {
			.bullet-tick();
		}
	}
}


//
// @mixin	background Left/Right
// @args	background / z-index
// ---------------------------------------------
.bg-lr(@arg:'', @arg2: 1) {
	.pos(r);
	&::after,
	&::before {
		.pos(a,0);
		.ds(b);
		background: @arg;
		content: "";
		width: 10000px;
		height: 100%;
		left: -10000px;
		z-index: @arg2;
		.med(m,{
			.ds(n);
		});
	}
	&::after {
		left: 100%;
		z-index: @arg2;
	}
}


//
// @mixin	Placeholder
// @args	
// ---------------------------------------------
.ph(@arg:'') {
	& when (@arg = false) {
		&::-webkit-input-placeholder {
			color: transparent !important;
			opacity:  0;
		}
		&:-moz-placeholder {
			color: transparent !important;
			opacity:  0;
		}
		&::-moz-placeholder {
			color: transparent !important;
			opacity:  0;
		}
		&:-ms-input-placeholder {
			color: transparent !important;
			opacity:  0;
		}
	}
	& when not(@arg = false) {
		&::-webkit-input-placeholder {
			color: @arg !important;
			opacity:  1;
		}
		&:-moz-placeholder {
			color: @arg !important;
			opacity:  1;
		}
		&::-moz-placeholder {
			color: @arg !important;
			opacity:  1;
		}
		&:-ms-input-placeholder {
			color: @arg !important;
			opacity:  1;
		}
	}
}



//
// @mixin	Button General Property
// ---------------------------------------------
.button-prop() {
	.boxsizing();
	.trans(all, 0.35, ease, 0);
	.bg(none);
	.bs(none);
	.br(0);
	.fm(@mg-font-hMd);
	.fs(16);
	.fw(n);
	.lh(n);
	.ta(c);
	.tt(u);
	.ls(0.05);
	.pd-tb(0,px);
	.pd-lr(20,px);
	.ds(ib);
	border: 0;
	height: 32px;
	outline: 0 !important;
	outline-offset: 0 !important;
	white-space: nowrap;
	vertical-align: middle;
	&:visited {
		border: 0;
	}
	&:hover {
		.td(n);
		border: 0;
	}
	.med(m,{
		.fs(14);
		.pd-lr(15,px);
	});
}


//
// @mixin	Button Default
// @arg		primary/secondary
// ---------------------------------------------
.button-default(@arg:'', @arg2:'') {
	& when (@arg = primary) {
		.button-prop();
		.bg(@mg-blue1);
		.c(@mg-white);
		&:visited {
			.bg(@mg-blue1);
			.c(@mg-white);
		}
		&:hover {
			.bg(@mg-blue-dark1);
			.c(@mg-white);
		}
	}
	& when (@arg = secondary) {
		.button-prop();
		.bg(@mg-gray-dark3);
		.c(@mg-white);
		&:visited {
			.bg(@mg-gray-dark3);
			.c(@mg-white);
		}
		&:hover {
			.bg(@mg-black);
			.c(@mg-white);
		}
	}
	& when (@arg = tertiary) {
		.button-prop();
		.bg(@mg-blue2);
		.br(3);
		.fm(@mg-font-gOs);
		.fs(14);
		color: @mg-white;
		&:visited {
			.bg(@mg-blue2);
			color: @mg-white;
		}
		&:hover {
			.bg(@mg-blue-dark1);
			color: @mg-white;
		}
	}
	& when (@arg = quaternary) {
		.button-prop();
		.bg(transparent);
		.border(all,@mg-blue3,1);
		.br(3);
		.fm(@mg-font-gOs);
		.fs(14);
		color: @mg-white;
		&:visited {
			.bg(transparent);
			.border(all,@mg-blue3,1);
			color: @mg-white;
		}
		&:hover {
			.border(all,@mg-white,2);
			.bg(@mg-white);
			color: @mg-blue-dark1;
		}
	}
	& when (@arg = quinary) {
		.button-prop();
		.bg(@mg-black,'fm_gradient-bg.jpg',0 0,100%,repeat);
		.pos(r);
		.pd-lr(35,px);
		.c(@mg-white);
		height: 64px;
		&::before {
			.ds(ib);
			.mg(right,15,px);
			content: "";
			vertical-align: sub;
		}
		&:hover {
			.c(@mg-white);
		}
	}
	& when (@arg = senary) {
		.button-prop();
		.bg(@mg-white);
		.br(3);
		.fm(@mg-font-gOs);
		.fs(14);
		color: @mg-purple-dark1;
		&:visited {
			.bg(@mg-white);
			color: @mg-purple-dark1;
		}
		&:hover {
			.bg(@mg-purple-dark1);
			color: @mg-white;
		}
	}
	
	& when (@arg2 = anchor) {
		& when (@arg = quinary) {
			.lh(64);
		}
		& when not(@arg = quinary) {
			.lh(32);
		}
		& when (@arg = quaternary) {
			.lh(30);
		}
	}
}

//
// @mixin	Link Default
// @arg		e3,e4,e6,b5,b6,b2
// @arg2	color
// ---------------------------------------------
.link-style(@arg: '', @arg2: '') {
	color: @arg;
	&:visited {
		color: @arg;
	}
	&:hover {
		color: @arg2;
	}
}
a {
	&.link {
		&-style1 {
			.link-style(@mg-white,@mg-black);
		}
		&-style2 {
			.link-style(@mg-black,@mg-white);
		}
	}
}




//
// @mixin		Hyphens
// @arg		
// ---------------------------------------------
.hy(@arg:'') {
	& when (@arg = none) {
		-moz-hyphens: @arg;
		-ms-hyphens: @arg;
		-webkit-hyphens: @arg;
		hyphens: @arg;
	}
}


//
// @mixin	Horizontal Lines
// @arg		h:horizontal, v:vertical
// ---------------------------------------------
.lines(@arg: '', @arg2: '') {
	& when (@arg = h) {
		.pos(r);
		&::before,
		&::after {
			.pos(a);
			.mg(top,3,px);
			content: "";
			height: 1px;
			background: @arg2;
			top: 50%;
		}
		&::before {
			right: 60%;
			left: 0;
		}
		&::after {
			left: 60%;
			right: 0;
		}
	}
}


//
// @Products Grid Column
// ---------------------------------------------
.pgrid(0) {}
.pgrid(@index) when (@index > 1) {
	&.grid-col@{index} {
		.product {
			&-item {
				.med(gtts,{
					width: 100%/@index;
				});
				.med(ts,{
					width: 100%/3;
				});
				.med(m,{
					width: 100%/2;
				});
			}
		}
	}
	.pgrid(@index - 1);
}


//
// @Products	Grid Column
// @arg			index
// ---------------------------------------------
.itemgrid(0) {}
.itemgrid(@index) when (@index > 1) {
	&-@{index} {
		.itemlist {
			.med(gtm,{
				width: 100%/@index;
			});
		}
	}
	.itemgrid(@index - 1);
}




//
// @mixin	Loader Rotation
// @args	
// ---------------------------------------------
.loader(@arg:'', @arg2: '') {
	& when (@arg = plane)  {
		.pos(a,0,0,0,0,99999);
		.mg-lr(auto);
		background: @arg2;
		top: 50%;
		width: 30px;
		height: 30px;
		opacity: 1;
		-webkit-animation: rotateplane 1.2s infinite ease-in-out;
		animation: rotateplane 1.2s infinite ease-in-out;
	}
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { transform: perspective(120px) rotateX(0deg) rotateY(0deg) }
  50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) }
  100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg) }
}

