//
// @Buttons mixins
// ---------------------------------------------

button,
.action {
	&.primary {
		.button-default(primary);
	}
	&.secondary {
		.button-default(secondary);
	}
	&.tertiary {
		.button-default(tertiary);
	}
	&.quaternary {
		.button-default(quaternary);
	}
	&.quinary {
		.button-default(quinary);
	}
	&.senary {
		.button-default(senary);
	}
	&.septenary {
	}
	&.octonary {
	}
	&.nonary {
	}
	&.denary {
	}
	&-apply {
	}
	&-check {
	}
	&-show-popup {
	}
	&.check {
	}
}

a {
	&.action {
		&.primary {
			.button-default(primary,anchor);
		}
		&.secondary {
			.button-default(secondary,anchor);
		}
		&.tertiary {
			.button-default(tertiary,anchor);
		}
		&.quaternary {
			.button-default(quaternary,anchor);
		}
		&.quinary {
			.button-default(quinary,anchor);
		}
		&.senary {
			.button-default(senary,anchor);
		}
		&.septenary {
		}
		&.octonary {
		}
		&.nonary {
		}
		&.denary {
		}
	}
}