//
// @font-face
// @arg			custom font name
// @less		_fonts
// ---------------------------------------------

@font-face {
    font-family: 'Helveticaneue';
    src: url("HelveticaNeue-Light.woff");
}
@font-face {
    font-family: 'FuturaPT-Light';
    src: url("FuturaPT-Light.woff");
}
@font-face {
    font-family: 'FuturaPT';
    src: url("FuturaPT-Bold.woff");
}

