//
// @icons
// @arg			''
// @less		_icons
// ---------------------------------------------

.ic {
	.ds(ib);
	&-facebook {
		.bg-icon('facebook.png', auto 20px);
	}
	&-twitter {
		.bg-icon('twitter.png', auto 18px);
	}
	&-googleplus {
		.bg-icon('googleplus.png', auto 16px);
	}
	&-pinterest {
		.bg-icon('pinterest.png', auto 18px);
	}
	&-instagram {
		.bg-icon('instagram.png', auto 18px);
	}
	&-rss {
		.bg-icon('rss.png', auto 18px);
	}
}