//
// @variables
// @less		_variables
// ---------------------------------------------

@imp:					!important;

//
// @screen				Responsive width
// ---------------------------------------------
@screen__m: 993px;

//
// @width
// ---------------------------------------------
@mg-content-wrap:		1920;
@mg-content-wrap:		1340;

@mg-edge-gap-fluid:		60;
@mg-edge-gap:			30;
@mg-edge-gap-tab:		20;
@mg-edge-gap-mob:		15;


@mg-section-gap:		100;
@mg-section-gap-tab:	70;
@mg-section-gap-mob:	45;

@mg-grid-gap:			3;

@mg-fluid-max:			1920px;

@mg-desktop-max:		1340px;
@mg-desktop-mid:		1200px;
@mg-desktop-min:		1025px;

@mg-tablet-max:			1024px;
@mg-tablet-mid:			992px;
@mg-tablet-min:			768px;

@mg-mobile-max:			767px;
@mg-mobile-mid:			568px;
@mg-mobile-min:			420px;

//@mg-header-height:		75px;
//@mg-header-height-tab:	54px;
//@mg-header-height-mob:	39px;
//@mg-header-height-sticky:50px;

//@mg-width-minicart:		480px;
//@mg-width-minicart-mob:	360px;


//
// @Misc
// ---------------------------------------------
//@header-icon-top1:		29px;
//@header-icon-top2:		85px;
//@header-icon-mobile-top: 46px;


//
// @Color
// ---------------------------------------------
@mg-black:				#000000;
@mg-white:				#ffffff;
@mg-bg:					#ffffff;


//
// @Font Family
// ---------------------------------------------
@mg-font-oS:			"Open Sans";
@mg-font-wS:			"Work Sans";

@mg-font-gLa: 			"Lato";
@mg-font-gMu: 			"Muli";
@mg-font-gOs: 			"Oswald";
@mg-font-hMd: 			"HelveticaNeue-MediumCond",sans-serif;

//
// @Path
// ---------------------------------------------
@mg-font-path: "../fonts/";

//
// working variables
//

@mg-facebook:			#4c66a4;
@mg-twitter:			#3a92c8;
@mg-googleplus:			#d75845;
@mg-pinterest:			#cb2027;
@mg-instagram:			#3e6c93;
@mg-rss:				#990000;


@mg-gray1:				#404040;		//
@mg-gray2:				#5a5a5a;		//
@mg-gray3:				#3e3e3e;		//
@mg-gray4:				#747474;		//
@mg-gray5:				#3a3d42;		//
@mg-gray-dark1:			#2f3132;		//
@mg-gray-dark2:			#252628;		//
@mg-gray-dark3:			#333333;		//
@mg-gray-dark4:			#878e9a;		//
@mg-gray-dark5:			#848890;		//
@mg-gray-dark6:			#484a4f;		//
@mg-gray-dark7:			#57575e;		//
@mg-gray-dark8:			#2e2e34;		//
@mg-gray-light1:		#b9b9b9;		//
@mg-gray-light2:		#8a8a8a;		//
@mg-gray-light3:		#dbdbdb;		//
@mg-gray-light4:		#e1e1e1;		//
@mg-gray-light5:		#f4f4f4;		//
@mg-gray-light6:		#d8d8d8;		//
@mg-gray-light7:		#bdc0c6;		//
@mg-gray-light8:		#e9ebee;		//
@mg-gray-light9:		#5b5c61;		//
@mg-gray-light10:		#afafb2;		//
@mg-gray-light11:		#dadada;
@mg-gray-light12:		#c7c7c7;		
@mg-gray-light13:		#969fa6;
@mg-gray-light14:		#cdcdcd;
@mg-blue1:				#06aaed;		//
@mg-blue2:				#1ad1ff;		//
@mg-blue3:				#2cd5ff;		//
@mg-blue4:				#42e2ff;		//
@mg-blue5:				#4efffd;		//
@mg-blue-light1:		#b5e9fe;		//
@mg-blue-light2:		#65c5ee;		//
@mg-blue-light3:		#a3ddff;		//
@mg-blue-dark1:			#047eb0;		//
@mg-blue-dark2:			#093964;
@mg-blue-dark3:			#0f273f;
@mg-red:				#dd0000;		//
@mg-red-dark1:			#880000;
@mg-red-dark2:			#ca0000;
@mg-red-dark3:			#780000;
@mg-red-light:			#f2e6e7;

@mg-purple-dark1:		#3a415d;
@mg-purple-dark2:		#3c415a;

@mg-green:				#006400;
@mg-green1:				#5cc805;		//
@mg-green2:				#0ede65;		//
@mg-green-light1:		#b0fd7d;		//


//
//  font size
//  ---------------------------------------------

@title1:30px;
@title2:24px;
@font14:14px;
@font15:15px;
@font16:16px;
@font17:17px;
@font18:18px;
@font20:20px;
@font22:22px;


//
//  font weight
//  ---------------------------------------------

@light:300;
@normal:400;
@medium:500;
@semi-bold:600;
@bold:700;
@ex-bold:800;
@bolder:900;

//
//  font style
//  ---------------------------------------------

@none:none;

@uppercase: uppercase;
@lowercase: lowercase;
@capitalize: capitalize;

@underline:underline;
@no-underline:none;
@no-border:none;

@left:left;
@right:right;
@center:center;

@no-padding:0;
@no-margin:0;
@margin-center:0 auto;

@full:100%;
@zero:0;