.cms-about{
	background: @mg-black;
    color: @mg-white;
    font-family: @mg-font-gMu;
    .breadcrumbs {
		display: @none;
	}
	.rte{
		h2{
			font-size: @font22;
		}
		p{
			font-size: @font15;
		}
	}
}