@fast-access-color: #c79f00;
.cms-fastaccess{
	.rbs-sections-1 {
		.rbs-s-reset-1 {
			h1{
				font-size: 58px;
			}
			#rbs-slider-box{
				.slick-slide{
					position: relative;
					.rbs-info-box{
						position: absolute;
					    bottom: @zero;
					    left: @zero;
					    right: @zero;
					}
				}
			}
		}
		.rbs-action-cta{
			clear: both;
		    display: inline-block;
		    width: @full;		    
		    text-align: @center;
		    margin-top: 50px;
			a{
				color: @mg-white;
				width: @full;
			    max-width: 340px;
			    letter-spacing: 4px;
			    font-size: @font20;
			    line-height: 30px;
			    padding: 10px 10px;
			    margin: @zero 20px;
			    text-decoration: @none;
			    font-family: @mg-font-gMu;
    			font-weight: @bolder;
    			display: inline-block;
			    &.rbs-learmore{
			    	background: transparent;
    				border: 2px solid @fast-access-color;
			    }
			    &.rbs-seedemo{
			    	background: @fast-access-color;
			    }
			}
		}
	}
	.rbs-sections-2 {
		background: url(../images/fastaccess/fast-access-section2.png) repeat-x;
		background-position: @center;
		.days-guarantee {
		    color: @mg-white;
		    max-width: 700px;
		    width: @full;
    		padding: 45px @zero;
    		.guarantee-img {
			    width: 30%;
			}
		    .guarantee-info{
		    	width: 70%;
		    	margin: 57px @zero @zero @zero;
		    	font-family: @mg-font-gMu;
		    	h4 {
		    		font-size: 28px;
				    font-weight: @bolder;				    
				    letter-spacing: 1.4px;
				    color: #e4b600;
				    text-transform: @uppercase;				    
				    margin: @zero;
		    	}
		    	p {
				    font-size: 19px;
				    font-weight: @normal;				    
				    line-height: 1.21;
				    letter-spacing: 0.5px;
				    color: @mg-white;
		    	}
		    }
		}
	}
	.rbs-sections-3 {
		.rbs-s-reset-3{
			h3{
				font-size: 45px;
				span{
					color: @fast-access-color;
					font-weight: @semi-bold;
				}
			}
			.features-box{
				.fb-img-box {
				    height: 210px;
				    font-family: @mg-font-gMu;
				    img {
				    	width: 55%;
    					height: auto ;
				    }				   
				}
				h2 {
				    font-size: @font20;
				    font-weight: @bolder;					    
				    letter-spacing: 0.5px;
				    text-align: @center;
				    color: @mg-white;
				    margin: 20px @zero 10px @zero;					    
				    text-transform: @uppercase;
				}
				p{
					font-size: @font17;
					line-height: 23px;
					padding: @zero 33px;
				}
			}
		}
	}
	.rbs-sections-4 {
		background: unset;
		.rbs-s-reset-4{
		    background: url(../images/fastaccess/fast-access-section4.png) no-repeat;
		    background-position: top left;
		    background-size: 60% 100%;		    
		    .testimonial-img {		
			    width: 55%;
			    padding-top: 90px;
			}
			.testimonial-slider{
				width: 45%;
				margin-left: @zero;
				background: unset;
				.slick-track {
				    width: @full !important;
				    .slick-slide {					 
					    width: @full !important;
					    .testimonial-box{
					    	background: unset;
						    margin: @zero;
						    padding: 70px @zero @zero;
						    font-size: @font17;
							font-weight: @bolder;
							color: @mg-white;
							font-family: @mg-font-gMu;
						    h3 {
							    font-size: 45px;
							    font-weight: @bolder;
							    text-transform: @uppercase;							    
							    color: @mg-white;
							    margin: @zero @zero 30px @zero;
							    span{
							    	color: @fast-access-color;
							    	font-weight: @bold;
							    }
							}
							ul {
								padding-left: 70px;
								padding-top: 20px;
								li{
									font-size: @font17;
									font-weight: @normal;									
								}
							}
					    }
					}
				}
			}
		}
	}
	.rbs-sections-last{
		background: url(../images/fastaccess/fast-access-section5.png) no-repeat;	
		background-position: @center; 
		padding: 190px @zero;
		.rbs-s-reset-last {
		    max-width: 1340px;
		    margin: @margin-center;
		    width: @full;
		    text-align: @center;
		    font-family: @mg-font-gMu;
		    h1 , h3 {
			    font-size: 45px;
			    font-weight: @bolder;
			    text-transform: @uppercase;
			    color: @mg-white;
			}
			h3{				
			    color: @fast-access-color;
			    padding-bottom: 50px;
    			margin: @zero;
    			font-weight: @bold;
			}
			.request-fastaccess{
				a {
					font-size: 25px;
				    font-weight: @bolder;
				    letter-spacing: 0.6px;
				    color: @mg-white;
				    padding: 15px 10px;				    
				    display: inline-block;
				    width: @full;
				    max-width: 478px;
				    text-transform: @uppercase;
				    background-color: #c29b00;
				    border: 2px solid #c29b00;
				    box-shadow: 0px 15px 26px 0 rgba(194, 155, 0, 0.16);
				    text-decoration: @none;
				}
			}
		}
	}
}