.cms-privacy-policy-cookie-restriction-mode{
	background: @mg-black;
    color: @mg-white;
    font-family: @mg-font-gMu;
	.breadcrumbs {
		display: @none;
	}
	.privacy-policy{
		h2{
			font-size: @title1;
		}
		p{
			font-size: @font15;
		}
		ul li {
			font-size: @font15;
    		text-transform: @capitalize;
		}
	}
}