.cms-terms-of-use{
	background: @mg-black;
    color: @mg-white;
    font-family: @mg-font-gMu;
    .breadcrumbs {
		display: @none;
	}
	.rte{
		h3{
			font-size: @title2;
		}
		p{
			font-size: @font15;
		}
		ol li {
			font-size: @font15;
    		text-transform: @capitalize;
		}
	}
}