<?php
/** @var Magento\Customer\Block\Account\Customer $block */
/*if(!$block->customerLoggedIn()):*/
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$plumtreeHelper = $this->helper("Plumtree\General\Helper\Data");
#$plumtreeHelper->getRediectUrl();    
$urlInterface = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\UrlInterface');
$currentUrl = $urlInterface->getCurrentUrl();
		
	if($customerSession->isLoggedIn()){
		?><li><a href="<?= $this->getUrl("customer/account/logout/") ?>"><?= __('Log Out')?></a></li><?php
	} else{
		if($plumtreeHelper->showSignUpButton()) { ?>
		<li class="authorization-link"><a href="<?= $this->getUrl('customer/account/create') ?>"><?= __('Get Access')?></a></li>
				<li class="playbank-logout"><a href="<?= $this->getUrl("customer/account/login/") ?>"><?= __('Log In')?></a></li> <?php
		}		
	}
	
  ?>