<!--@subject {{var subject|raw }} @-->
 
{{template config_path="design/email/header_template"}}
{{var heading}}
<table class="message-details">
    <tr>
        <td><b>{{trans "Email"}}</b></td>
        <td>{{var email}}</td>
    </tr>
    
</table>
<p><b>{{trans "Message"}}</b></p>
<p>{{var message}}</p>
 
{{template config_path="design/email/footer_template"}}