<?php
/**
 * Product list specific template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>

<?php

$plumtreeHelper = $this->helper("Plumtree\General\Helper\Data");
$mediaUrl = $plumtreeHelper->getMediaUrl();

$categoryId = $block->getData('id');
$categoryName = $block->getData('name');
$categoryTitle = $block->getData('title');
$productLimit = $block->getData('limit');
$productColumn = $block->getData('column');
$productMode = $block->getData('mode');
$productCarousel = $block->getData('carousel');

$currentCategory = $block->getCurrentCategory();

if($productLimit == null):
	$productLimit = 8;
endif;

if($productColumn == null):
	$productColumn = 4;
endif;

if($productMode == null):
	$productMode = 'grid';
endif;

if($productCarousel == null):
	$productCarousel = false;
endif;


if($currentCategory):
	$categoryLanding = true;
	$productCarousel = true;
else:
	$categoryLanding = false;
	$currentCategory = $plumtreeHelper->getCategory($categoryId);	
	if($categoryTitle == null)
		$categoryTitle = $currentCategory->getName();
endif;

$noRecord = '<div class="message info empty"><div>We can\'t find products matching the selection.</div></div>';
$productGrid = $this->getLayout()
					->createBlock('\Magento\Catalog\Block\Product\ListProduct')
					->setTemplate('Magento_Catalog::product/list.phtml')
					->setColumn($productColumn)
					->setCarousel($productCarousel)
					->setMode($productMode);

if($categoryLanding == false):
	/*
	 * Load Product Collection
	 */
	$productCollection = $plumtreeHelper->getSpecificCategoryCollection($categoryId, $productLimit);
?>
	<div class="box-section">
		<div class="box">
			<div class="box-title bt-with-bg">
				<h2><?= $categoryTitle ?></h2>
				<?= $currentCategory->getDescription() ?>
			</div>
			<div class="box-content">
				<?= $productGrid->setCollection($productCollection)->toHtml(); ?>
			</div>
		</div>
	</div>
<?php
else:
	$childCategories = $currentCategory->getChildrenCategories();
	$childCategories->addAttributeToSelect("*");

	if( count($childCategories) > 0):
		foreach($childCategories as $childCategory):
			$categoryId = $childCategory->getId();
			
			/*
			 * Load Product Collection
			 */
			$productCollection = $plumtreeHelper->getSpecificCategoryCollection($categoryId);
			
			if($productCollection):
?>
				<div class="box-section">
					<div class="box">
						<div class="box-title bt-with-bg">
							<h2><?= $childCategory->getName() ?></h2>
							<?= $childCategory->getDescription() ?>
							<span class="previously-view-video"><a href="#">SEE MORE PLAYBOOKS</a></span>
						</div>
						<div class="box-content">
							<?= $productGrid->setCollection($productCollection)->toHtml(); ?>
						</div>
					</div>
				</div>
<?php
			else:
				echo $noRecord;
			endif;
		endforeach;
	else:
		$landingId = $plumtreeHelper->getCategoryLandingId();
		if(empty($landingId)) 
			{
			$categoryId = $plumtreeHelper->getCurrentCategoryId();
			$productCollection = $plumtreeHelper->getSpecificCategoryCollection($categoryId); 
				if(!empty($productCollection)) { ?>
					<div class="box-section">
						<div class="box">
							<div class="box-title bt-with-bg">
								<h2><?= $plumtreeHelper->getCurrentCategoryName() ?></h2>
								<?= $plumtreeHelper->getCurrentCategoryDescription() ?>
								<span class="previously-view-video"><a href="">see previously viewed plays</a></span>
							</div>
							<div class="box-content">
								<?= $productGrid->setCollection($productCollection)->toHtml(); ?>
							</div>
						</div>
					</div> <?php 
				}	
			}		
	endif;
endif;
?>
<style type="text/css">
	.previously-view-video a{
		color: #cec9c9;
	    float: right;
	    padding-right: 15px;
	    padding-top: 16px;
	    font-size: 12px;
	    text-transform: uppercase;
	}
</style>