/**
 * Custom Style Sheet
 *
 * @less			'breadcrumbs'
 */

.breadcrumbs {
	.pd-lr(15,px);
	.catalog-category-view & {
		.ds(n);
	}
	.catalog-product-view & {
		.pd(top,20,px);
	}
	.page-wrapper & {
		.mg-tb(0,px);
		.mg-lr(auto);
		.swrap();
	}
	> ul.items {
		//.border(bottom,@mg-gray-light1,1);
		border-bottom: 1px solid #272729;
		.fm(@mg-font-gLa);
		.fs(16);
		.fw(n);
		.c(@mg-gray3);
		.pd-tb(20,px);
		a,
		a:visited {
			.fw(n);
			.c(i);
		}
		strong {
			.fw(n);
			.c(@mg-blue1);
		}
		.item {
			a {
				color: #61636f !important;
				text-decoration: none;
				font-family: "Muli", sans-serif;
				font-size: 12px;
				font-weight: 900 !important;
				text-transform: uppercase;
			}
			strong {
				color: #babec5 !important;
				text-decoration: none;
				font-family: "Muli", sans-serif;
				font-size: 12px;
				font-weight: 900 !important;
				text-transform: uppercase;
			}
			&:not(:last-child) {
				&::after {
					.fs(i);
					.c(i);
					content: "/";
				}
			}
		}
	}
}