/**
 * Custom Style Sheet
 *
 * @less			'cms'
 */
.cms-home {
    .page-main {
        max-width: inherit;
        padding: 0;
        .hp-box {
            background: #e5e9f0;
            .first-section {
                background: url('../images/homepage_background.png') no-repeat 0 -7px;
                background-size: cover;
                min-height: 744px;
                margin-bottom: 50px;
                .fs-box:after {
                    display:block;
                    clear:both;
                    content:"";
                }
                .fs-box {
                    max-width:1050px;
                    margin: 0 auto;
                    padding: 100px 0;
                    .fs-set-1,
                    .fs-set-2 {
                        float: left;
                        color: #fff;
                    }
                    .fs-set-1 {
                        width: 60%;
                        .fss-reset-1 {
                            padding-right: 40px;
                            h1 {
                                font-size: 5rem;
                                font-family: "Muli", sans-serif;
                                font-weight: 900;
                                text-transform: uppercase;
                                span {
                                    background: url(../images/home/ellipse.png) no-repeat left 4px bottom 8px;
                                    display: inline-block;
                                    width: 20px;
                                    text-indent: -999px;
                                }
                            }
                            p {
                                font-size: 1.5rem;
                            }
                            h1:before {
                                content: "";
                                border-top: 4px solid #fff;
                                width: 30px;
                                display: block;
                                margin-bottom: 40px;
                            }
                            .fss-btns:after {
                                display:block;
                                clear:both;
                                content:"";
                            }
                            .fss-btns {
                                margin-top: 40px;
                                text-align: left;
                                a:hover {
                                    text-decoration: none;
                                }
                                a.fss-cta {
                                    color: #fff;
                                    font-size: 14px;
                                    font-family: "Muli", sans-serif;
                                    font-weight: 900;
                                    padding: 10px 40px;
                                    text-transform: uppercase;
                                    letter-spacing: 1px;
                                    float: left;
                                }
                                a.fss-cta-free-trial {
                                    border: 2px solid #1d6bfe;
                                    margin-right: 30px;
                                }
                                a.fss-cta-more {
                                    background: url('../images/home/learn-more-icon.png') no-repeat 0 10px;
                                    border: 2px solid transparent;
                                }
                            }
                        }
                    }
                    .fs-set-2 {
                        width: 40%;
                        .fss-reset-2 {
                            padding-left: 40px;
                        }
                        .login-set {
                            #loginTabs {
                                width: 100%;
                                height:48px; 
                                padding: 0;
                                margin-top: 30px;
                                margin-bottom: 0;
                                a {
                                    cursor:pointer;
                                }
                                li {
                                    float: left;
                                    list-style: none;
                                    margin-right: 5px;
                                    margin-bottom: 0;
                                    outline: none;
                                    a {
                                        font-family:"Muli", sans-serif; 
                                        font-size: 11px;
                                        font-weight: bold; 
                                        color: #fff;
                                        padding: 9px 15px; 
                                        display:block; 
                                        background: #1459d0;
                                        text-decoration:none;
                                        outline:none;
                                        text-transform: uppercase;
                                        box-shadow: 0 -6px 10px -5px rgba(0, 0, 0, 0.55);
                                        -moz-box-shadow: 0 -6px 10px -5px rgba(0, 0, 0, 0.55);
                                        -webkit-box-shadow: 0 -6px 10px -5px rgba(0, 0, 0, 0.55);
                                    }
                                    a.inactive {
                                        padding: 9px 15px;
                                        color:#a2b8e7;
                                        background: transparent;
                                        outline:none;
                                        box-shadow: inherit;
                                    }
                                    a:hover, 
                                    a.inactive:hover {
                                        color: #5685bc;
                                        outline:none;
                                    }
                                }
                                li:first-child a {
                                    font-size: 13px;
                                    padding: 15px;
                                }
                            }
                            .login-container {
                                clear:both;
                                padding: 30px;
                                background: #1459d0;
                                margin-top: -1px;
                                text-align:left;
                                box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.55);
                                -moz-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.55);
                                -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.55);
                                h2 { 
                                    margin-left: 15px;  
                                    margin-right: 15px;  
                                    margin-bottom: 10px; 
                                    color: #5685bc; 
                                }
                                p { 
                                    margin-left: 15px; 
                                    margin-right: 15px;  
                                    margin-top: 10px; 
                                    margin-bottom: 10px; 
                                    line-height: 1.3; 
                                    font-size: small; 
                                }
                                ul { 
                                    margin-left: 25px; 
                                    font-size: small; 
                                    line-height: 1.4; 
                                    list-style-type: disc; 
                                }
                                li {
                                    padding-bottom: 5px; 
                                    margin-left: 5px;
                                }
                                .sign-up-form {
                                    .form-group {
                                        margin-bottom: 20px;
                                        input.form-control {
                                            background: transparent;
                                            border: none;
                                            border-bottom: 1px solid #fff;
                                            color: #fff;
                                            font-family: "Muli", sans-serif;
                                            font-size: 13px;
                                            padding-left: 0;
                                            padding-right: 0;
                                        }
                                        input:-webkit-autofill {
                                            background-color: transparent !important;
                                            color: #ffffff !important; 
                                        }
                                        button#getstarted {
                                            display: block;
                                            width: 100%;
                                            border-radius: 0;
                                            padding: 12px;
                                            font-family: "Muli", sans-serif;
                                        }
                                    }
                                    .form-group.form-cta {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                             
                        }
                    }
                    .social-icon-box {
                        padding-left: 40px;
                        margin-top: 40px;
                        text-align: right;
                        a {
                            display: inline-block;
                            margin-left: 30px;
                            width: 16px;
                            background-size: 80% !important;
                        }
                        .social-tw {
                            background: url(../images/home/twitter.png) no-repeat;
                        }
                        .social-fb {
                            background: url(../images/home/facebook.png) no-repeat;
                            width: 8px;
                        }
                        .social-gp {
                            background: url(../images/home/googleplus.png) no-repeat;
                            width: 17px;
                        }
                    }
                }
            }
            .second-section {
                .kfb-img {
                    overflow: hidden;
                    img {
                        margin-top: -60px;
                    }
                }
                .key-features-box {
                    max-width:1050px;
                    margin: 0 auto;
                    padding: 20px 0 0;
                    h2 {
                        color: #18181a;
                        font-size: 5rem;
                        font-family: "Muli", sans-serif;
                        font-weight: 900;
                        text-align: center;
                        margin-top: 0;
                        margin-bottom: 30px;
                        span {
                            font-size: 3rem;
                        }
                    }
                    .kfb-fl {
                        float: left;
                        width: 33.33%;
                    }
                    .features-box {
                        background: url(../images/home/features_main.png) no-repeat center top;
                        background-size: contain;
                        min-height: 400px;
                        .features-main-bg {
                            
                        }
                    }
                }
                .key-features-box:after,
                .features-box:after {
                    display: block;
                    clear: both;
                    content: "";
                }
            }
            .third-section {
                background: url(../images/home/coach/cocah_background.png) no-repeat 0 -124px;
                min-height: 744px;
                .coach-cerdibility-box {
                    max-width: 1050px;
                    margin: 0 auto;
                    padding: 100px 0;
                    h2 {
                        border-left: 4px solid #1459d0;
                        color: #ffffff;
                        font-size: 5rem;
                        font-family: "Muli", sans-serif;
                        font-weight: 900;
                        padding-left: 20px;
                        text-transform: uppercase;
                    }
                    p {
                        color: #ffffff;
                        font-size: 1.8rem;
                        font-weight: 900;
                        span {
                            font-weight: 500;
                            margin: 0 5px;
                        }
                        .cc-count-box {
                            color: #1459d0;
                            font-weight: 900;
                            margin-left: 0;
                        }
                    }
                    .ccb-slider-box {
                        margin-top: 50px;
                        button.slick-arrow {
                            -webkit-transform: translateY(-100%);
                            -moz-transform: translateY(-100%);
                            -ms-transform: translateY(-100%);
                            -o-transform: translateY(-100%);
                            transform: translateY(-100%);
                            top: -32px;
                        }
                        button.slick-prev {
                            left: auto;
                            right: 40px;
                        }
                        button.slick-next {

                        }
                        button.slick-prev::before {
                            background: transparent url(../images/icons/left-arrow.png) no-repeat center center;
                        }
                        button.slick-next::before {
                            background: transparent url(../images/icons/right-arrow.png) no-repeat center center;
                        }
                        .item {
                            padding-left: 7px;
                            padding-right: 7px;
                            .coach-box:hover {
                                background: rgba(134, 190, 253, 0.30);
                            }
                            .coach-box {
                                background: #292e3a;
                                color: #ffffff;
                                cursor: pointer;
                                padding: 40px;
                                text-align: center;
                                .coach-avatar {
                                    margin-bottom: 30px;
                                    text-align: center;
                                    img {
                                        display: inline-block;
                                        width: 80px;
                                    }
                                }
                                .coach-name {
                                    font-size: 1.8rem;
                                    font-weight: 900;
                                }
                                .coach-info {
                                    color: #becae3;
                                    font-size: 1.3rem;
                                    font-weight: 500;
                                    margin: 4px 0 15px;
                                }
                                .coach-active-info {
                                    color: #becae3;
                                    font-size: 1rem;
                                    font-weight: 500;
                                }
                                .coach-social {
                                    margin-top: 30px;
                                    text-align: center;
                                    a {
                                        background: url(../images/home/coach/coach-social.png) no-repeat;
                                        background-size: 100px;
                                        display: inline-block;
                                        height: 18px;
                                        width: 18px;
                                    }
                                    .cs-ic-1 {
                                        background-position: 0 0;
                                    }
                                    .cs-ic-2 {
                                        background-position: -43px 0;
                                        margin: 0 18px;
                                    }
                                    .cs-ic-3 {
                                        background-position: -83px 0;
                                    }
                                }
                            }
                        }
                        .slick-dots {
                            bottom: -70px;
                            li {
                                button {
                                    box-shadow: inherit;
                                }
                                button::before {
                                    color: #5b6b8d;
                                }
                            }
                            .slick-active {
                                button::before {
                                    color: #1459cf;
                                }
                            }
                        }
                    }
                }
            }
            .fourth-section {
                background: #fff;
                .pricing-options-box {
                    max-width: 1050px;
                    margin: 0 auto;
                    padding: 100px 0 100px;
                    h2 {
                        color: #18181a;
                        font-size: 5rem;
                        font-family: "Muli", sans-serif;
                        font-weight: 900;
                        text-align: center;
                        margin-top: 0;
                        margin-bottom: 30px;
                        span {
                            font-size: 3rem;
                        }
                    }
                    .pricing-table-box {
                        -webkit-box-shadow: 0px 0px 25px 0 rgba(193, 195, 202, 0.5);
                        -moz-box-shadow: 0px 0px 25px 0 rgba(193, 195, 202, 0.5);
                        box-shadow: 0px 0px 25px 0 rgba(193, 195, 202, 0.5);
                        background: #fff;
                        margin-top: 100px;
                        .widget.block.block-static-block {
                            padding: 0;
                        }
                        .po-plan:after {
                            content: "";
                            clear: both;
                            display: block;
                        }
                        .po-plan {
                            font-family: 'Raleway', Arial, sans-serif;
                            color: #000000;
                            text-align: center;
                            font-size: 16px;
                            width: 100%;
                            .plan:last-child {
                                border: none;
                            }
                            .plan {
                              margin: 0;
                              width: 16%;
                              position: relative;
                              float: left;
                              background-color: #ffffff;
                              border-right: 1px solid #f1f1f1;
                            }
                            .plan.feature-list {
                                width: 20%;
                                .plan-features {
                                    padding: 0 10px;
                                    li {
                                        &:nth-child(even) {
                                          background: #fff;
                                        }
                                    }
                                }
                            }
                            * {
                              -webkit-box-sizing: border-box;
                              box-sizing: border-box;
                            }
                            header {
                              position: relative;
                            }
                            .plan-title {
                                position: relative;
                                top: 0;
                                font-weight: 800;
                                padding: 7px 18px;
                                margin: 0 auto;
                                -webkit-transform: translateY(-100%);
                                transform: translateY(-100%);
                                margin: 0;
                                display: block;
                                background-color: transparent;
                                color: #ffffff;
                                text-transform: uppercase;
                                font-family: "Muli", sans-serif;
                                font-size: 11px;
                            }
                            .plan-cost {
                              padding: 0px 10px 20px;
                            }
                            .plan-price {
                              font-family: 'Montserrat', Arial, sans-serif;
                              font-weight: 800;
                              font-size: 2.4em;
                              color: #34495e;
                            }
                            .plan-type {
                              opacity: 0.6;
                            }
                            .plan-features {
                              padding: 0;
                              margin: 0;
                              text-align: center;
                              list-style: outside none none;
                              font-size: 0.8em;
                              li {
                                border-top: 1px solid #f1f1f1;
                                padding: 15px 5%;
                                margin: 0;
                                &:nth-child(even) {
                                  background: #f3f4f6;
                                }
                              }
                              i {
                                margin-right: 8px;
                                opacity: 0.4;
                              }
                            }
                            .plan-select {
                              border-top: none;
                              padding: 10px 10px 0;
                              a {
                                background-color: #1459cf;
                                color: #ffffff;
                                text-decoration: none;
                                padding: 12px 25px;
                                /*-webkit-transform: translateY(50%);
                                transform: translateY(50%);*/
                                font-weight: 800;
                                text-transform: uppercase;
                                display: inline-block;
                                font-size: 12px;
                                line-height: 12px;
                                &:hover {
                                  background-color: #46627f;
                                }
                              }
                            }
                            .featured {
                              /*margin-top: -10px;*/
                              background-color: #1459d0;
                              color: #ffffff;
                              /*box-shadow: 0 0 20px rgba(204, 201, 201, 0.4);*/
                              z-index: 1;
                              .plan-features {
                                background: #fff;
                              }
                              .plan-title, .plan-price {
                                color: #ffffff;
                              }
                              .plan-cost {
                                /*padding: 10px 10px 20px;*/
                              }
                              .plan-features li {
                                color: #000;
                              }
                              .plan-select {
                                /*padding: 20px 10px 0;*/
                                border-top: none;
                                background: transparent;
                                a {
                                    background-color: #ffffff;
                                    color: #18181a;
                                }
                              }
                              .plan-title {
                                background-color: #10254f;
                              }
                            }
                          }                         
                          @media only screen and (max-width: 767px) {
                            .po-plan {
                              .plan {
                                width: 50%;
                              }
                              .plan-title, .plan-select a {
                                -webkit-transform: translateY(0);
                                transform: translateY(0);
                              }
                              .plan-cost, .featured .plan-cost {
                                padding: 20px 10px 20px;
                              }
                              .plan-select {
                                padding: 10px 10px 10px;
                              }
                              .featured {
                                .plan-select {
                                  padding: 10px 10px 10px;
                                }
                                margin-top: 0;
                              }
                            }
                          }                         
                          @media only screen and (max-width: 440px) {
                            .po-plan .plan {
                              width: 100%;
                            }
                          }
                    }
                }
            }
            .fifth-section {
                background: url(../images/home/lorem_bg_img.png) no-repeat 0 -50px;
                min-height: 744px;
                .ffs-box {
                    max-width: 1050px;
                    margin: 0 auto;
                    padding: 100px 0;
                    .ffs-reset-1 {
                        padding-right: 40px;
                        h1 {
                            font-size: 5rem;
                            font-family: "Muli", sans-serif;
                            font-weight: 900;
                            text-transform: uppercase;
                        }
                        h1:before {
                            content: "";
                            border-top: 4px solid #fff;
                            width: 30px;
                            display: block;
                            margin-bottom: 40px;
                        }
                        h3 {
                            font-size: 3rem;
                        }
                        p {
                            font-size: 1.5rem;
                        }
                    }
                    .ffs-set-1,
                    .ffs-set-2 {
                        float: left;
                        color: #fff;
                    }
                    .ffs-set-1 {
                        width: 50%;
                    }
                    .ffs-set-2 {
                        width: 50%;
                    }
                }
                .ffs-box:after {
                    content: "";
                    clear: both;
                    display: block;
                }
            }
        }
    }
}

.fm-section-keyfeatures {
    background: #e5e9f0;
    margin-bottom: 0;
    padding-bottom: 125px;
}
.cms-report-building-software {
    background: #141416;
    .breadcrumbs {
        display: none;
    }
    .page-main {
        max-width: inherit;
        padding-left: 0;
        padding-right: 0;
    }
    .slick-dots {
        li {
            button {
                box-shadow: inherit;
            }
            button::before {
                font-size: 18px;
                color: #12523c;
                content: "\25A0";
            }
        }
        li.slick-active button::before {
            color: #00bb7b;
        }
    }
    .rbs-sections-1,
    .rbs-sections-3,
    .rbs-sections-5,
    .rbs-sections-6 {
        max-width: 1340px;
        margin: 0 auto;
    }
    .rbs-sections-1 {
        .rbs-s-reset-1 {
            text-align: center;
            .rbs-logo-box {
                img {

                }
            }
            h1 {
                color: #fff;
                font-size: 5rem;
                font-family: "Muli", sans-serif;
                font-weight: 900;
                text-transform: uppercase;
            }
            .rbs-slider-box {
                .rbs-img-box {

                }
                .rbs-info-box {
                    max-width: 900px;
                    margin: 0 auto;
                    h3 {
                        color: #fff;
                        font-size: 2.5rem;
                        font-family: "Muli", sans-serif;
                        font-weight: 900;
                        text-transform: uppercase;
                        margin-bottom: 15px;
                    }
                    p {
                        color: #a9a9a9;
                        margin-bottom: 15px;
                    }
                }
            }
            .rbs-action-cta {
                margin-top: 70px;
                a {
                    border: 2px solid transparent;
                    color: #fff;
                    font-size: 14px;
                    font-family: "Muli", sans-serif;
                    font-weight: 900;
                    padding: 15px 90px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
                .rbs-learmore {
                    border: 2px solid #1c9f72;
                    margin-right: 15px;
                }
                .rbs-seedemo {
                    background: #099d63;
                    margin-left: 15px;
                }
                a:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .rbs-sections-2 {
        background: url(../images/need/banner.png) no-repeat ;
        margin: 70px 0;
        padding: 66px 0;
        .rbs-s-reset-2 {

        }
        .rbs-s-reset-2:after {
            display: block;
            clear: both;
            content: "";
        }
        .days-guarantee {
            color: #fff;
            max-width: 600px;
            margin: 0 auto;
            .guarantee-img {
                float: left;
                //width: 30%;
                img {

                }
            }
            .guarantee-info {
                float: left;
                margin-left: 10%;
                width: 65%;
                h4 {
                    color: #fff;
                    font-size: 14px;
                    font-family: "Muli", sans-serif;
                    font-weight: 900;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    margin-top: 33px;
                }
                p {
                    color: #a9a9a9;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .rbs-sections-3 {
        .rbs-s-reset-3 {
            max-width: 1040px;
            margin: 0 auto;
            h3 {
                color: #fff;
                font-size: 3rem;
                font-family: "Muli", sans-serif;
                font-weight: 900;
                text-transform: uppercase;
                margin-bottom: 70px;
                text-align: center;
                span {
                    color: #16c381;
                    font-weight: 500;
                }
            }
            .features-box {
                .f-b-1,
                .f-b-2,
                .f-b-3 {
                    float: left;
                    width: 33.33%;
                    text-align: center;
                }
                .fb-img-box {
                    img {
                        height: 130px;
                        margin-bottom: 10px;
                    }
                }
                h4 {
                    color: #fff;
                    font-size: 14px;
                    font-family: "Muli", sans-serif;
                    font-weight: 900;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    padding: 0 40px;
                }
                p {
                    color: #a9a9a9;
                    margin-bottom: 15px;
                    padding: 0 40px;
                }
            }
            .features-box:after {
                display: block;
                clear: both;
                content: "";
            }
        }
    }
    .rbs-sections-4 {
        background: url(../images/testiminoal/background-img.png) no-repeat right top;
        margin: 50px 0;
        padding: 100px 0;
        .rbs-s-reset-4 {
            max-width: 1340px;
            margin: 0 auto;
            .testimonial-img,
            .testimonial-slider {
                float: left;
            }
            .testimonial-img {
                margin-right: 5%;
                width: 55%;
                img {

                }
            }
            .testimonial-slider {
                width: 40%;
                .item {
                    .testimonial-box {
                        background: url(../images/testiminoal/quote.png) no-repeat 0 0 ;
                        background-size: 40px;
                    }
                    .testimonial-box {
                        padding: 90px 0 40px;
                        margin-top: 30px;
                        width: 90%;
                        .testi-txt {
                            color: #fff;
                            font-size: 2rem;
                            font-family: "Muli", sans-serif;
                            font-weight: 700;
                            letter-spacing: 1px;
                            line-height: 1.3;
                            margin-bottom: 50px;
                        }
                    }
                    .testi-user-info {
                        h4 {
                            color: #0ac276;
                            font-size: 14px;
                            font-family: "Muli", sans-serif;
                            font-weight: 900;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            margin-bottom: 10px;
                        }
                        p {
                            color: #a9a9a9;
                            margin: 0;
                        }
                    }
                }
                .slick-dots {
                    text-align: left;
                }
            }
        }
        .rbs-s-reset-4:after {
            display: block;
            clear: both;
            content: "";
        }
    }
    .rbs-sections-5 {
        .rbs-s-reset-5 {
            max-width: 1040px;
            margin: 0 auto;
            padding: 70px 0 100px;
            h3 {
                color: #fff;
                font-size: 3rem;
                font-family: "Muli", sans-serif;
                font-weight: 900;
                text-transform: uppercase;
                margin-bottom: 70px;
                text-align: center;
                span {
                    color: #16c381;
                    font-weight: 500;
                }
            }
            .as-featured-in:after {
                display: block;
                clear: both;
                content: "";
            }
            .afi-2 {
                margin-top: 50px;
            }
            .as-featured-in {
                .as-f-in-box {
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    .a-f-i-1,
                    .a-f-i-2,
                    .a-f-i-3 {
                        float: left;
                        width: 33.33%;
                        text-align: center;
                        align-self: center;
                        .afi-img-box {
                            img {
                                display: inline-block;
                            }
                        }
                    }
                    .a-f-i-1 {

                    }
                    .a-f-i-2 {

                    }
                    .a-f-i-3 {

                    }
                }
            }
            .afi-bottom {
                background: url(../images/testiminoal/feature_bottom-line.png) no-repeat 0 0 ;
                height: 25px;
                margin: 110px -12% 0;
            }
        }
    }
    .rbs-sections-6 {
        .rbs-s-reset-6 {
            h3 {
                color: #fff;
                font-size: 3rem;
                font-family: "Muli", sans-serif;
                font-weight: 900;
                text-transform: uppercase;
                margin-bottom: 70px;
                text-align: center;
                span {
                    color: #16c381;
                    font-weight: 500;
                }
            }
            .pricing-options-table {
                .header-row {
                    background: #212024;
                }
                .box-section.fm-box-table {
                    margin-bottom: 0;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row .item-details .item-top {
                    background-color: #0e2f23;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row ul li.header.active-pack .item-details {
                    background-color: #0b905e;
                    box-shadow: 1px 2px 4px rgba(20, 207, 172, 0.17);
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row ul li.header {
                    padding-bottom: 0;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row:nth-child(even) ul li:not(.col-six):not(:first-child),
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row:nth-child(even) ul li.col-two,
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row ul li.header:not(:last-child),
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row:nth-child(odd) ul li.col-two {
                    border-left: 1px solid #17161a;
                    border-right: none;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row:nth-child(odd) ul li {
                    background-color: #222125;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row ul li.col-one p,
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row:nth-child(even) ul li p {
                    border:none;
                    color: #d2d1d6;
                    font-size: 12px;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row:nth-child(even) ul li:not(.col-one) {
                    background-color: transparent;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row ul li.header.h-feature h3 {
                    bottom: 0;
                    color: #707281;
                    top: 31%;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row .item-details .item-price p {
                    color: #07ca81;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row .active-pack .item-details .item-price p {
                    color: #ffffff;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row .item-details .item-price p .item-price-duration {
                    color: #fcfcfc;
                    text-transform: uppercase;
                    margin-left: 5px;
                    font-family: 'Muli', sans-serif;
                    font-size: 17px;
                    font-weight: 700;
                    display: block;
                    margin: 0;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows ul li.col-four {
                    background-color: #0b905e !important;
                    border-color: #0b905e !important;
                    background-image: url(../images/white_check.png);
                    background-size: 14px;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-bottom: 0;
                    border-bottom: 1px solid #129a68 !important;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows ul li.col-four.bg-none-imp,
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows ul li.bg-none-imp {
                    background-image: inherit;
                }

                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows ul li.col-four.all-mpi,
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows ul li.all-mpi {
                    background-color: #08b773 !important;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-one,
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-two,
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-three,
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-four,
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-five{
                    padding: 16px 18px !important;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-one p,
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-two p,
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-three p,
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-four p,
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-five p{
                    color: #d2d1d6;
                    font-size: 14px !important;
                    padding: 0 !important;
                    margin: 0 !important;
                    text-align: center;
                    font-family: 'Muli', sans-serif;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.five .col-three, .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.six .col-three, .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.seven .col-three,
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.seven .col-two {
                    background-image: url(../images/green-tick.png);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-four p {
                    color: #fff !important;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-four.last-col-four {
                    padding: 0 !important;
                    position: relative;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-four.last-col-four .item-details-1 {
                    background: #0b905e;
                    margin-top: 0;
                    position: absolute;
                    width: calc(100.2%);
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-two.last-col-four .item-price-1 p .item-price-duration,
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-three.last-col-four .item-price-1 p .item-price-duration,
                 .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-four.last-col-four .item-price-1 p .item-price-duration {
                    font-size: 12px;
                    font-weight: 700;
                    color: #737776;
                    text-transform: lowercase;
                    margin-left: 5px;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-two.last-col-four .item-price-1 p .item-price-sign,
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-three.last-col-four .item-price-1 p .item-price-sign,
                 .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-four.last-col-four .item-price-1 p .item-price-sign {
                    font-family: 'SF-Pro-Text-Bold';
                    font-weight: normal;
                    font-size: 15px;
                    letter-spacing: -0.1em;
                    color: #737776;
                    top: -10px;
                    right: 5px;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-two.last-col-four .item-price-1 p,
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-three.last-col-four .item-price-1 p,
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-four .item-price-1 p {
                    font-family: 'Muli', sans-serif;
                    font-size: 29px !important;
                    font-weight: 900;
                    color: #ffffff;
                    letter-spacing: 0;
                    text-transform: initial;
                    margin-top: 0;
                    padding: 16px !important;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-four .item-price-1 p.active-price {
                    background: #fff;
                    margin: 20px auto !important;
                    width: 60%;
                }
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-four .item-price-1 p.active-price,
                .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-four .item-price-1 p.active-price * {
                    color: #1d1d1d !important;
                }
                @media (min-width: 768px), print {
                    .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li {
                        width: 25% !important;
                    }
                    .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row:nth-child(odd) ul li:not(.col-one) {
                        border-right: 1px solid #17161a;
                    }
                    .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row ul li.header.col-one {
                        width: 20.2% !important;
                    }
                }
            }
        }
    }
}

.box-section.fm-box-table {
    .box-table-wrapper {
        .box-table-content.rows-six {
            .comparison-table {
                .content-rows {
                    .row.eight {
                        .col-two,
                        .col-three,
                        .col-four,
                        .col-five {
                            background-color: #f3f5f6;
                            background-image: none;
                        }
                    }
                    .row.ten {
                        .col-two,
                        .col-three,
                        .col-four,
                        .col-five {
                            background-color: #f3f5f6;
                            background-image: none;
                        }
                    }
                    .row.eleven {
                        .col-two,
                        .col-three {
                            background: none;
                        }
                        .col-four,
                        .col-five {
                            background-color: #f3f5f6;
                            background-image: none;
                            background: none;
                        }
                    }
                    .row.nine {
                        .col-two,
                        .col-three,
                        .col-four,
                        .col-five {
                            background: none;
                        }
                    }
                    .row.three {
                        .col-two {
                            background: none;
                        }
                    }
                    .row.seven {
                        .col-three {
                            background: none;
                        }
                        .col-five {
                            background-image: url(../images/green-tick.png);
                            background-repeat: no-repeat;
                            background-position: center;
                            padding-top: 4%;
                            margin-bottom: 0;
                        }
                    }
                    .row.five {
                        .col-three {
                            background-image: url(../images/green-tick.png);
                            background-repeat: no-repeat;
                            background-position: center;
                            padding-top: 4%;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
.signup-free-trial {
    .free-trial {
        display: block;
        width: 100%;
        border-radius: 0;
        padding: 12px;
        font-family: 'Muli',sans-serif;
        color: #09915d !important;
    }
}
#bannerslider.bslide-new {
    .title.title-2 {
        h2 {
            font-size: 3.5rem;
        }
    }
    .description.description-2 {
        p {
            font-size: 18px;
        }
    }
}
body.catalog-category-view {
    .box-section {
        padding-top: 0;
        .box-title.bt-with-bg {
            background-color: #1459d0;
            h2 {
                color: #1459d0;
            }
        }
    }
}
.page-header {
    .header.panel {
        .logo {
            position: absolute;
            top: 0;
            left: 0;
        }
        .header.links {
            .logout-link {
                display: none;
            }
        }
    }
    .nav-sections-item-content {
        .header.links {
            li.customer-welcome {
                .customer-name {
                    margin-right: 20px;
                }
            }
            li.playbank-logout {
                a {
                    min-width: 80px;
                }
            }
            li {
                &:nth-child(3) {
                    a {
                        min-width: 101px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:639px) and (max-width:767px) {
    #bannerslider.bslide-new {
        .right-side-img {
            display: none;
        }
    }
}
@media only screen and (max-width:767px) {
    #bannerslider.bannerslide-wrapper {
        .is-image {
            &:not(.is-small) {
                .detail {
                    position: absolute;
                    top: 10px;
                }
            }
        }
    }
    #bannerslider.bslide-new {
        .description.description-2 {
            p {
                font-size: 16px;
            }
        }
    }
}
@media only screen and (max-width:419px) {
    #bannerslider.bslide-new {
        .title.title-2 {
            h2 {
                font-size: 18px;
            }
        }
        .bannerslide {
            .title {
                >div.cmd-name {
                    width: auto;
                }
            }
        }
    }
}
@media only screen and (max-width:321px) {
    #bannerslider.bslide-new {
        .description.description-2 {
            p {
                font-size: 16px;
            }
        }
        .bannerslide {
            .actions {
                margin-top: 10px;
            }
        }
    }
}
@media only screen and (min-width:992px) {
    .bannerslide-wrapper {
        .image {
            img {
                height: 350px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .box-section.bg.bg-pbsignup.sc.bg-t2 {
        background-image: url(../images/home/coach/cocah_background.png);
        background-position: 0 -100px;
    }
    .box-section.bg.bg-pbsignup.sc.bg-t3 {
        background-image: url('../images/home/lorem_bg_img.png');
        background-position: 0 -40px;
    }    
}

@media only screen and (min-width:768px) {
	.fastaccess-cms-page {
		.rbs-sections-2 {
			.days-guarantee {
				.guarantee-info {
					width: 55%;
				}
			}
		}
		.rbs-s-reset-last {
			padding: 10px;
			h1 {
				font-size: 40px;
			}
			h3 {
				font-size: 32px;
			}
		}
		.rbs-sections-4 {
			padding: 100px 0;
			.rbs-s-reset-4 {
				.testimonial-slider {
					.item {
						.testimonial-box {
							ul {
								padding-top: 35px;
							}
						}
					}
				}
			}
		}
	}
	.FastRecruit-cms-page {
		.rbs-sections-2 {
			.days-guarantee {
				.guarantee-info {
					width: 55%;
				}
			}
		}
		.rbs-s-reset-last {
			padding: 10px;
			h1 {
				font-size: 40px;
			}
			h3 {
				font-size: 32px;
			}
		}
		.rbs-sections-4 {
			.rbs-s-reset-4 {
				.testimonial-slider {
					.item {
						.testimonial-box {
							ul {
								padding-top: 35px;
							}
						}
					}
				}
			}
		}
	}
	.page-product-downloadable {
		.overview {
			.fdb-btn.send-fastdraw {
				display: inline-block;
				width: 48.5%;
				a#email-subscribe {
					padding: 15px 30px;
				}
			}
			.fdb-btn.fastdraw-account {
				display: inline-block;
				width: 48.5%;
				a#see-playbook {
					padding: 15px 30px;
				}
			}
		}
	}
}
.page-product-downloadable {
	.overview {
		.fdb-btn.send-fastdraw {
			a#email-subscribe {
				border: 2px solid #006bb4;
				color: #000 !important;
				display: block;
				font-family: "Muli", sans-serif;
				font-size: 16px;
				font-weight: 900;
				text-align: center;
				text-transform: uppercase;
				margin-right: 1%;
			}
			a {
				&:hover {
					text-decoration: none;
				}
			}
		}
		.fdb-btn.fastdraw-account {
			a#see-playbook {
				display: block;
				font-family: "Muli", sans-serif;
				font-size: 16px;
				font-weight: 900;
				text-align: center;
				text-transform: uppercase;
				margin-left: 1%;
				border: 2px solid #abafb7;
			}
			a {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
.FastRecruit-cms-page {
	.rbs-sections-1 {
		.rbs-s-reset-1 {
			.rbs-action-cta {
				.rbs-learmore {
					border: 2px solid #7c54ec;
				}
				.rbs-seedemo {
					background-color: #7c54ec;
				}
			}
		}
	}
	.slick-dots {
		li.slick-active {
			button {
				&:before {
					color: #fff;
				}
			}
		}
		li {
			button {
				&:before {
					color: #fff;
				}
			}
		}
	}
	.rbs-sections-2 {
		background: url(../images/fastaccess_bg.png) no-repeat;
		margin: 70px 0;
		padding: 66px 0;
		.days-guarantee {
			max-width: 610px;
		}
	}
	#testimonial-slider {
		.rbs-s-reset-3 {
			h3 {
				color: #fff;
				font-size: 3rem;
				font-family: "Muli", sans-serif;
				font-weight: 900;
				text-transform: uppercase;
				text-align: left;
				span {
					color: #7c54ec;
					font-weight: 500;
				}
			}
		}
	}
	.rbs-sections-3 {
		.rbs-s-reset-3 {
			.features-box {
				h2 {
					color: #fff;
					font-family: "Muli", sans-serif;
					font-weight: 900;
					text-transform: uppercase;
					letter-spacing: 1px;
					padding: 0 40px;
					margin: 20px 0;
					font-size: 18px;
				}
			}
		}
	}
	.rbs-sections-4 {
		margin: 100px 0 0;
		padding: 10px 0;
		background: url(../images/purple-background-img.png) no-repeat;
		.rbs-s-reset-4 {
			.testimonial-slider {
				.item {
					.testimonial-box {
						background: none;
						margin-top: 0;
						padding: 60px 0 40px;
						p {
							color: #fff;
							font-size: 17px;
							font-family: "Muli", sans-serif;
							font-weight: 400;
						}
						li {
							list-style: none;
							color: #fff;
							font-family: "Muli", sans-serif;
							font-weight: 400;
							&:before {
								content: '-';
								padding-right: 10px;
							}
						}
					}
				}
			}
		}
	}
	.rbs-sections-last {
		background: url(../images/fast-access-background.png) no-repeat;
		margin: 100px auto 0;
		max-width: 1040px;
		padding: 100px 0 0;
	}
	.rbs-s-reset-last {
		max-width: 840px;
		margin: 0 auto;
		height: 450px;
		h1 {
			font-family: "Muli", sans-serif;
			font-weight: 900;
			text-transform: uppercase;
			color: #fff;
			text-align: center;
		}
		.request-FastRecruit {
			margin: 60px auto;
			max-width: 380px;
			.btn-FastRecruit-request {
				background-color: #7c54ec;
				color: #fff;
				display: inline-block;
				font-family: "Muli", sans-serif;
				text-transform: uppercase;
				font-weight: 900;
				line-height: 30px;
				padding: 15px 25px;
				font-size: 18px;
				text-align: center;
				width: 100%;
			}
		}
		.btn-fastaccess-request {
			color: #fff;
			display: inline-block;
			font-family: "Muli", sans-serif;
			text-transform: uppercase;
			font-weight: 900;
			line-height: 30px;
			padding: 15px 25px;
			font-size: 18px;
			text-align: center;
			width: 100%;
			color: #7c54ec;
		}
		h3 {
			font-family: "Muli", sans-serif;
			text-transform: uppercase;
			color: #c79f00;
			text-align: center;
			color: #7c54ec;
		}
	}
}
.fastaccess-cms-page {
	.rbs-sections-1 {
		.rbs-s-reset-1 {
			.rbs-action-cta {
				.rbs-learmore {
					border: 2px solid #c79f00;
				}
				.rbs-seedemo {
					background-color: #c79f00;
				}
			}
		}
	}
	.slick-dots {
		li.slick-active {
			button {
				&:before {
					color: #fff;
				}
			}
		}
		li {
			button {
				&:before {
					color: #fff;
				}
			}
		}
	}
	.rbs-sections-2 {
		background: url(../images/fastaccess_bg.png) no-repeat;
		margin: 70px 0;
		padding: 66px 0;
		.days-guarantee {
			.guarantee-info {
				h4 {
					color: #c79f00;
					font-size: 18px;
				}
			}
			max-width: 610px;
		}
	}
	.rbs-sections-3 {
		.rbs-s-reset-3 {
			h3 {
				span {
					color: #c79f00;
				}
			}
			.features-box {
				h2 {
					color: #fff;
					font-family: "Muli", sans-serif;
					font-weight: 900;
					text-transform: uppercase;
					letter-spacing: 1px;
					padding: 0 40px;
					margin: 20px 0;
					font-size: 18px;
				}
			}
		}
	}
	#testimonial-slider {
		.rbs-s-reset-3 {
			h3 {
				span {
					font-size: 3rem;
					font-family: "Muli", sans-serif;
					text-transform: uppercase;
					text-align: center;
					color: #c79f00;
					font-weight: 500;
				}
				color: #fff;
				font-size: 3rem;
				font-family: "Muli", sans-serif;
				font-weight: 900;
				text-transform: uppercase;
				text-align: left;
			}
		}
	}
	.rbs-sections-4 {
		background: #000 url(../images/yellow-background-img.png) no-repeat left top;
		margin: 100px 0 0;
		background-size: contain;
		.rbs-s-reset-4 {
			.testimonial-slider {
				.item {
					.testimonial-box {
						background: none;
						margin-top: 0;
						padding: 60px 0 40px;
						p {
							color: #fff;
							font-size: 17px;
							font-family: "Muli", sans-serif;
							font-weight: 400;
						}
						li {
							list-style: none;
							color: #fff;
							font-family: "Muli", sans-serif;
							font-weight: 400;
							&:before {
								content: '-';
								padding-right: 10px;
							}
						}
					}
				}
			}
		}
	}
	.rbs-sections-last {
		background: url(../images/fast-access-background.png) no-repeat;
		margin: 100px auto 0;
		max-width: 1040px;
		padding: 100px 0 0;
	}
	.rbs-s-reset-last {
		max-width: 840px;
		margin: 0 auto;
		height: 450px;
		h1 {
			font-family: "Muli", sans-serif;
			font-weight: 900;
			text-transform: uppercase;
			color: #fff;
			text-align: center;
		}
		h3 {
			font-family: "Muli", sans-serif;
			text-transform: uppercase;
			color: #c79f00;
			text-align: center;
		}
		.btn-fastaccess-request {
			background-color: #c79f00;
			color: #fff;
			display: inline-block;
			font-family: "Muli", sans-serif;
			text-transform: uppercase;
			font-weight: 900;
			line-height: 30px;
			padding: 15px 25px;
			font-size: 18px;
			text-align: center;
			width: 100%;
		}
		.request-fastaccess {
			margin: 60px auto;
			max-width: 380px;
		}
	}
}
#modal-content-5 {
	.fasttrade {
		h2 {
			font-family: "Muli", sans-serif;
			text-transform: uppercase;
			text-align: center;
			font-weight: 700;
		}
		.email-subscribe-form {
			label.label {
				margin-bottom: 10px;
				font-family: "Muli", sans-serif;
				font-weight: 700;
			}
			.newsletter {
				margin: 0 auto;
				max-width: 200px;
				.secondary {
					border: 2px solid #006bb4;
					padding: 10px;
					.submit.senary {
						font-family: "Muli", sans-serif;
						font-size: 16px;
						font-weight: 700;
						text-align: center;
						text-transform: uppercase;
						background-color: transparent;
					}
				}
			}
		}
	}
}
@media only screen and (max-width:767px) {
	.page-product-downloadable {
		.page-header {
			.panel.wrapper {
				display: inline-block;
			}
			height: 70px;
		}
		.product-info-top {
			.product.media {
				width: 100%;
			}
			.product-info-main {
				width: 100%;
				padding: 25px 15px;
			}
		}
	}
	.fastaccess-cms-page {
		.rbs-sections-2 {
			.days-guarantee {
				.guarantee-info {
					float: none;
					width: 100%;
					margin-left: 0;
					text-align: center;
				}
				.guarantee-img {
					float: none;
					text-align: center;
				}
			}
		}
		.rbs-sections-3 {
			.rbs-s-reset-3 {
				.features-box {
					.f-b-1 {
						width: 100%;
					}
					.f-b-2 {
						width: 100%;
					}
					.f-b-3 {
						width: 100%;
					}
				}
			}
		}
		.rbs-sections-4 {
			.rbs-s-reset-4 {
				.testimonial-img {
					width: 100%;
				}
				.testimonial-slider {
					display: inline-block;
					width: 100%;
					float: none;
				}
				.item.slick-slide {
					width: 100% !important;
					display: inline-block;
					padding: 0 25px;
				}
				.slick-track {
					width: 100% !important;
				}
			}
		}
	}
	.FastRecruit-cms-page {
		.rbs-sections-2 {
			.days-guarantee {
				.guarantee-info {
					float: none;
					width: 100%;
					margin-left: 0;
					text-align: center;
				}
				.guarantee-img {
					float: none;
					text-align: center;
				}
			}
		}
		.rbs-sections-3 {
			.rbs-s-reset-3 {
				.features-box {
					.f-b-1 {
						width: 100%;
					}
					.f-b-2 {
						width: 100%;
					}
					.f-b-3 {
						width: 100%;
					}
				}
			}
		}
		.rbs-sections-4 {
			.rbs-s-reset-4 {
				.testimonial-img {
					width: 100%;
				}
				.testimonial-slider {
					display: inline-block;
					width: 100%;
					float: none;
				}
				.item.slick-slide {
					width: 100% !important;
					display: inline-block;
					padding: 0 25px;
				}
				.slick-track {
					width: 100% !important;
				}
			}
		}
	}
	.page-product-downloadable.catalog-product-view {
		.page-title-wrapper {
			h1 {
				margin-bottom: 15px;
			}
		}
	}
	body.page-product-downloadable {
		.pdp-bt-with-bg {
			p {
				height: 50px;
			}
			strong#block-related-heading {
				background-color: transparent;
				color: #fff;
				padding: 0 15px;
			}
		}
	}
}
@media only screen and (max-width:420px) {
	.fastaccess-cms-page {
		.rbs-sections-1 {
			.rbs-s-reset-1 {
				.rbs-action-cta {
					a {
						padding: 20px;
					}
				}
				h1 {
					font-size: 3.5rem;
				}
			}
		}
		.rbs-s-reset-last {
			.request-fastaccess {
				max-width: 350px;
			}
			.btn-fastaccess-request {
				width: auto;
				display: block;
			}
		}
	}
	.FastRecruit-cms-page {
		.rbs-sections-1 {
			.rbs-s-reset-1 {
				.rbs-action-cta {
					a {
						padding: 20px;
					}
				}
				h1 {
					font-size: 3.5rem;
				}
			}
		}
		.rbs-s-reset-last {
			.request-FastRecruit {
				max-width: 350px;
				.btn-FastRecruit-request {
					width: auto;
					display: block;
				}
			}
		}
	}
	.page-product-downloadable {
		.overview {
			.fdb-btn.send-fastdraw {
				a#email-subscribe {
					padding: 20px;
					margin-bottom: 15px;
				}
			}
			.fdb-btn.fastdraw-account {
				a#see-playbook {
					padding: 20px;
				}
			}
		}
		.downloadble-user-info {
			.downloadble-user-name {
				padding-left: 20px;
				width: 60%;
			}
			h2 {
				width: auto;
			}
		}
		.product-info-main {
			.product.attribute.overview {
				margin: 20px 0;
			}
		}
		.columns {
			.product-info-top {
				margin-bottom: 0;
				padding-bottom: 0;
			}
			.block.upsell {
				strong#block-upsell-heading {
					font-size: 22px;
					font-weight: 400;
					line-height: inherit;
					margin-bottom: 10px;
				}
			}
			.block.related {
				strong#block-related-heading {
					font-size: 22px;
					font-weight: 400;
					line-height: inherit;
					margin-bottom: 10px;
				}
			}
		}
	}
}
@media only screen and (min-width:421px) and (max-width:767px) {
	.page-product-downloadable {
		.overview {
			.fdb-btn.send-fastdraw {
				a#email-subscribe {
					width: auto;
					padding: 20px 15px;
				}
				width: 48.5%;
				display: inline-block;
			}
			.fdb-btn.fastdraw-account {
				a#see-playbook {
					width: auto;
					padding: 20px 15px;
				}
				width: 48.5%;
				display: inline-block;
			}
		}
	}
}
