/**
 * Custom Style Sheet
 *
 * @less			'general'
 */

html {
}
body {
	.med(m,{
		min-width: 320px;
		-webkit-text-size-adjust:100%;
		-moz-text-size-adjust:100%;
		-ms-text-size-adjust:100%;
	});
}
.internal {
	&-style {
		.ds(n);
	}
}
h1,h2,h3,h4,h5,h6 {
}
h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}
a {
	.trans(all, 0.35, ease, 0);
	.td(n);
}
img {
	max-width: 100%;
}
strong {
}
p {
	&.required {
	}
}
div.mage-error[generated] {
	.fs(13);
	.lh(14);
	.ls(0.01);
	.mg(top,7,px);
	.c(@mg-red);
}
.required {
	em {
	}
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"] {
	&:hover,
	&:focus {
	}
	&.mage-error {
		
	}
}

textarea {
	height: auto !important;
}
select {
	&:focus {
		
	}
	option {
		&:not(:first-child) {
			
		}
	}
}

input[placeholder] {
	.ph(@mg-gray-light3);
}

._keyfocus {
	*:focus {
		.bs(none);
	}
}
input,
textarea,
select {
	&:focus {
		&:not([disabled]) {
			.bs(none);
		}
	}
}
dt {
	.fw(n);
}
dd {
}
.fieldset {
	> .fields {
		.clear();
		.med(m, {
			.mg(bottom,10,px);
		});
		> .field {
			.med(gtm, {
				.fl(l);
				width: 48%;
				&:first-child {
					.mg(right,4,%);
				}
			});
		}
	}
}
.fieldset {
	> .fields > .field,
	> .field {
		.mg(bottom,20,px);
	}
}
.fieldset > .field > .label,
.fieldset > .fields > .field > .label {
	.fw(n);
	.mg(bottom,0,px);
	.tt(c);
}
.fieldset > .field.required > .label,
.fieldset > .fields > .field.required > .label,
.fieldset > .field._required > .label,
.fieldset > .fields > .field._required > .label {
	&::after {
		.fs(i);
		.mg(all,0,px);
		color: @mg-red;
	}
}
.password-strength-meter {
	.lh(30);
	.bg(transparent);
	color: @mg-gray1;
}

.is {
	&-des {
		.med(ts,{
			display: none !important;
		});
	}
	&-mobile {
		.med(gtts,{
			display: none !important;
		});
	}
	&-mob {
		.med(gtm,{
			display: none !important;
		});
		&-tab {
			.med(gtts,{
				display: none !important;
			});
		}
	}
	&-tab {
		.med(gtts,{
			display: none !important;
		});
	}
	&-des {
		.med(ts,{
			display: none !important;
		});
		&-tab {
			.med(m,{
				display: none !important;
			});
		}
	}
}

.navigation,
.page-header .header.panel,
.header.content,
.footer.content,
.page-wrapper > .widget,
.page-wrapper > .page-bottom,
.block.category.event,
.page-main {
	.mg(all,0,px);
	.pd(all,0,px);
	max-width: inherit;
	width: auto;
}

.header.content,
.footer.content,
.swrap {
	.swrap();
}

.page-wrapper {
	.ie10 &,
	.ie11 & {
		height: auto;
	}
}

.page-main {
	.swrap();
	.pd-tb(50,px);
	width: 100%;
	.med(ts,{
		.pd-tb(30,px);
	});
	> .columns {
		.column {
			&.main {
				ul {
				}
			}
		}
	}
}

.page-banner {
	.pos(r);
	.pd(all,0,px);
	max-width: inherit;
}

.page-lead {
	.pos(r);
	width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    flex-basis: auto;
	.page {
		&.messages {
			.messages {
				.swrap();
			}
		}
	}
}

.page-lead,
.page-main {
	.ie10 &,
	.ie11 & {
		min-height: 1px;
	}
}

.account.page-layout,
.page-layout {
	&-2columns {
		&-right,
		&-left {
			.page-main {
				> .columns {
					.pos(r);
				}
			}
			.column.main {
				.med(gtm,{
					.fl(r);
					.pd(left,20,px);
					.mg(bottom,0,px);
					width: 76%; 
				});
				.med(gtts,{
					.pd(left,40,px);
					width: 82%; 
				});
				.med(m,{
					.mg(bottom,30,px);
				});
				.page-title-wrapper {
					.page-title {
						.ta(l);
					}
				}
			}
			.sidebar-main,
			.sidebar-additional {
				.pd-lr(0,px,imp);
				.med(gtm,{
					.fl(l);
					.mg(bottom,0,px);
					width: 24%;
				});
				.med(gtts,{
					width: 18%;
				});
				.med(m,{
					.block {
						&-collapsible {
							&-nav {
								.pos(s);
								top: auto;
								left: auto;
								.title {
									.ds(n);
								}
								.content {
									.ds(b);
								}
							}
						}
					}
				});
			}
			.sidebar-main {
			}
		}
	}
	&-full-width {
		.page-main {
			.pd-tb(0,px);
			.pd-lr(0,px,imp);
			max-width: inherit;
		}
	}
}

.page-title {
	&-wrapper {
		.mg(bottom,30,px);
		.med(m,{
			.mg(bottom,20,px);
		});
		.page-title {
			.fs(28);
			.fw(n);
			.tt(c);
			.ta(l);
			display: block !important;
			margin-right: 0 !important;
			color: @mg-gray-dark2;
			.med(m,{
				.fs(22);
				.lh(28);
			});
			.page-multiple-wishlist & {
				.pos(s);
				width: auto;
				height: auto;
			}
		}
		&.product {
			.page-title {
			}
		}
		&.error404 {
			.page-title {
				.ta(c);
			}
		}
	}
}
.page-main {
	> .columns {
		.column {
			&.main {
				.pd-tb(0,px);
			}
		}
		.med(ts,{
			.ds(b);
		});
	}
}
.page-products {
	.column {
		&.main {
			> .block {
				&.filter {
					display: none !important;
				}
			}
		}
	}
	.columns {
		.pd(top,0,px);
		z-index: auto;
	}
	.page-main {
		.med(ts,{
			.pd(top,50,px);
		});
		.med(m,{
			.pd(top,20,px);
		});
	}
}

.form {
	&.password.reset,
	&.send.confirmation,
	&.password.forget,
	&.create.account {
		width: auto;
		min-width: inherit;
	}
}

.cms-page-view {
	&.page-layout-2columns-left {
		.page-main {
		}
	}
	.column {
		&.main {
			> h2 {
			}
			> h3 {
			}
			> h4 {
			}
			> p {
			}
			ul {
				&.links {
					li {
					}
				}
			}
		}
	}
	.page-title-wrapper {
		.page-title {
		}
	}
	.breadcrumbs {
		.items {
		}
	}
	.sidebar-main {
		.breadcrumbs {
		}
	}
}

.cms-no-route,
.cms-noroute-index {
	.page-main {
		dt,
		dd {
			.mg(all,0,px);
		}
		dt {
			.fw(b);
		}
		dd {
			.pd(left,22,px);
		}
		ol,
		ul {
			.clear-list();
		}
	}
}


//
// @Reset 		Default Font Size
// ---------------------------------------------
.message {
	&.error,
	&.notice,
	&.info,
	&.warning,
	&.success {
		.fs(14);
	}
}

.social-links {
	&-fixed {
		.clear-list();
		.pos(f,225,'','',0,9991);
		li {
			.mg(bottom,3,px);
			a {
				.trans(all, 0.35, ease, 0);
				background-color: @mg-gray-dark1 !important;
				.pos(r);
				.ds(b);
				.ti(-9999);
				width: 46px;
				height: 46px;
				&::before {
					.pos(a,0,0);
					content: "";
					background-color: inherit;
					right: 100%;
					width: 0;
				}
				&:hover {
					background-color: @mg-blue1 !important;
					&::before {
						width: 10px;
					}
				}
				&.facebook {
					.bg-icon('fm_facebook.png');
				}
				&.twitter {
					.bg-icon('fm_twitter.png');
				}
				&.linkedin {
					.bg-icon('fm_linkedin.png');
				}
			}
		}
	}
}

.abs-account-blocks .block-title > strong,
.abs-account-blocks .block-title > span,
.multicheckout .block-title > strong,
.multicheckout .block-title > span,
.multicheckout .block-content .title > strong,
.multicheckout .block-content .title > span,
.account .legend > strong, .account .legend > span,
.form-giftregistry-search .legend > strong,
.form-giftregistry-search .legend > span,
.block-giftregistry-results .block-title > strong,
.block-giftregistry-results .block-title > span,
.block-giftregistry-shared-items .block-title > strong,
.block-giftregistry-shared-items .block-title > span,
.block-wishlist-search-form .block-title > strong,
.block-wishlist-search-form .block-title > span,
.block-wishlist-search-results .block-title > strong,
.block-wishlist-search-results .block-title > span,
.customer-review .review-details .title > strong,
.customer-review .review-details .title > span,
.multicheckout .block-title > strong, .multicheckout .block-title > span,
.paypal-review .block .block-title > strong, .paypal-review .block .block-title > span,
.account .column.main .block:not(.widget) .block-title > strong,
.account .column.main .block:not(.widget) .block-title > span,
.magento-rma-guest-returns .column.main .block:not(.widget) .block-title > strong,
.magento-rma-guest-returns .column.main .block:not(.widget) .block-title > span,
[class^="sales-guest-"] .column.main .block:not(.widget) .block-title > strong,
[class^="sales-guest-"] .column.main .block:not(.widget) .block-title > span,
.sales-guest-view .column.main .block:not(.widget) .block-title > strong,
.sales-guest-view .column.main .block:not(.widget) .block-title > span {
	.fw(n);
}
.abs-account-block-font-size,
.block-addresses-list address,
.box-billing-address .box-content,
.box-shipping-address .box-content,
.box-information .box-content,
.block-balance-giftcard .block-content,
.block-reviews-dashboard .product-name {
	.fw(n);
}
.review-form .action.submit.primary,
.order-review-form .action.primary,
.bundle-actions .action.primary.customize,
.bundle-options-container .block-bundle-summary .box-tocart .action.primary,
.box-tocart .action.tocart,
.cart-summary .checkout-methods-items .action.primary.checkout,
.block-minicart .block-content > .actions > .primary .action.primary,
.methods-shipping .actions-toolbar .action.primary,
.block-authentication .action.action-register,
.block-authentication .action.action-login,
.checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary,
.form-address-edit .actions-toolbar .action.primary,
.box-tocart .action.instant-purchase,
.multicheckout .action.primary {
	.button-default(primary);
}