/**
 * Custom Style Sheet
 *
 * @less			'header'
 */

.page-header {
	.pos(r);
	.mg(bottom,0,px);
	z-index: 9;
	border: 0;
	.med(m,{
		top: 0;
	});
	&-placeholder {
		height: 0;
	}
	&-sticky {
		.pos(f,0,'',0,0,899);
		.ts(Y,-100%);
		&.ready {
			.trans(all, 0.35, ease, 0);
			.ts(Y,0%);
		}
	}
	.customer-menu {
		li {
			> strong {
				.fw(n);
				.c(@mg-gray-dark3);
				.pd(all,8,px);
				.ds(b);
				cursor: default;
			}
		}
	}
}