/**
 * Custom Style Sheet
 *
 * @less			'products'
 */

.catalog-product-view {
	.page-title {
		&-wrapper {
			.mg(bottom,20,px);
			h1 {
				color: #ffffff;
				.fm(@mg-font-hMd);
				.fs(32);
				.fw(n);
				.lh(n);
				.tt(u);
			}
			h1.page-title {
				margin-bottom: 0;
			}
		}
	}
	.product {
		&.attribute {
			&.publised {
				.fm(@mg-font-hMd);
				.fs(18);
				.tt(u);
				.type {
					.fw(n);
					.pos(r);
					.pd(right,20,px);
					.mg(right,15,px);
					&::after {
						.ts(Y,-50%);
						.bg(@mg-gray4);
						.pos(a);
						content: "";
						top: 50%;
						right: 0;
						width: 1px;
						height: 14px;
					}
				}
				.value {
					.ds(ib);
				}
			}
		}
	}
}
			
.product {
	&-info {
		&-media {
			.border(bottom,#b9b9b9,1);
			.pd(bottom,50,px);
			.mg(bottom,50,px);
			.med(m,{
				.pd(bottom,25,px);
				.mg(bottom,25,px);
			});
			.swiper-container {
				.pd(top,20,px);
				.pd(bottom,40,px);
				.pd(bottom,0,px);
				.swiper-slide {
					&:not(.swiper-slide-active) {
						.figure {
							.pos(r);
							.ds(b);
							&::after {
								.bg(rgba(255,255,255,0.6));
								.pos(a,0,0,0,0);
								content: "";
							}
						}
						.detail {
							.ds(n);
						}
					}
					&-active {
						.figure {
							.bs(0,0,20,rgba(0,0,0,0.2));
							img {
								vertical-align: middle;
							}
						}
					}
				}
			}
			.product-message {
				.detail {
					.pos(r);
					.pd(top,55,px);
					.mg(top,35,px);
					.mg-lr(auto);
					max-width: 50%;
					.med(m,{
						max-width: 68%;
					});
					&::before {
						.pos(a,0,'',0,0);
						.bg(@mg-blue1);
						.br(100);
						.mg(top,8,px);
						content: "";
						height: 4px;
					}
					&::after {
						.border(all,@mg-gray1,4);
						.bg(@mg-white);
						.br(100);
						.pos(a,0);
						.mg(left,-12,px);
						content: "";
						width: 12px;
						height: 12px;
						left: 50%;
					}
				}
				.info {
					.clear();
					.bg(@mg-gray-dark1);
					.br(5);
					.pos(r);
					.fm(@mg-font-gLa);
					.fs(16);
					.pd(all,15,px);
					.mg-lr(-25,%);
					.ds(t);
					.med(m,{
						.mg-lr(-23,%);
					});
					&::before {
						.pos(a,-20);
						.border(bottom,@mg-gray-dark1,20);
						.border(left,transparent,20);
						.border(right,transparent,20);
						.mg(left,-20,px);
						left: 50%;
						content: "";
					    width: 0px;
						height: 0px;
					}
					.img {
						.fl(l);
						.ta(c);
						width: 170px;
						img {
							.border(all,@mg-blue1,2);
							.br(100);
							.pd(all,2,px);
							max-width: 90px;
						}
						span {
							.fw(n);
							.c(@mg-blue1);
							.ds(b);
						}
					}
					.desc {
						.fw(300);
						.c(@mg-white);
						.pd-lr(10,px);
						.ds(tc);
						width: 100%;
						vertical-align: middle;
						p {
							.mg(bottom,0,px);
						}
					}
				}
			}
		}
		&-right {
			.boxsizing();
			.block {
				.ta(c);
				.mg(bottom,20,px);
				.med(m,{
					&:not(:first-child) {
						.mg(top,25,px);
					}
				});
				.title {
					.pd-tb(10,px);
					.pd-lr(15,px);
					.mg(bottom,0,px);
					strong {
						.fm(@mg-font-hMd);
						.fs(20);
						.fw(n);
						.ls(0.01);
						.tt(u);
						.c(@mg-white);
					}
				}
				&-joinnow {
					.content {
						.pd-tb(10,px);
						.pd-lr(20,px);
						.actions {
							.mg(top,20,px);
						}
					}
				}
				&-contributor {
					.title {
						.bg(@mg-gray-dark1);
					}
					.content {
						p {
							.ds(n);
						}
						.figure {
							.br(0);
							.mg(bottom,0,px);
							border: 0;
							img {
								.br(0);
								border: 0;
							}
						}
						.detail {
							.bg(@mg-gray-dark1);
							h3 {
								.c(@mg-white);
								.pd-tb(15,px);
								.mg(bottom,0,px);
							}
							.follow {
								a {
									.boxsizing();
									.pos(r);
									.bg-icon('fm_follow-white.png');
									.bg(@mg-blue1);
									.br(100);
									.fs(10);
									.tt(u);
									.ta(c);
									.c(@mg-white);
									.pd(top,35,px);
									.mg(top,-30,px);
									.ds(ib);
									background-position: center 10px;
									width: 60px;
									height: 60px;
									&::before {
										.border(all,fade(@mg-blue1, 20%),7);
										.br(100);
										.pos(a,-7,-7,-7,-7);
										content: "";
									}
								}
							}
						}
						.actions {
							.ds(n);
						}
					}
				}
			}
		}
		&-main {
			.boxsizing();
			.product {
				&-add-form {
					.clear();
					clear: none;
				}
				&.attribute {
					.c(@mg-gray3);
					&.overview {
						.mg(bottom,50,px);
						.type {
							.fm(@mg-font-hMd);
							.fs(30);
							.fw(n);
							.mg(bottom,20,px);
							.ds(b);
							.med(m,{
								.mg(bottom,10,px);
							});
						}
						.value {
							.fm(@mg-font-gLa);
							.fs(18);
							a,
							span {
								//.c(@mg-blue1);
								color: #2a6ee6;
							}
							p {
								color: #858b9d;
								.mg(bottom,15,px);
							}
							p:first-child {
								color: #fff;
    							font-weight: 600;
							}
							ul {
								.clear-list();
								.pd(left,0,px);
								.mg-tb(40,px);
								li {
									.pos(r);
									.pd(left,35,px);
									.mg(bottom,0,px);
									&:not(:first-child) {
										.mg(top,15,px);
									}
									&::before {
										.bg-icon('fm_bullet-mark.png');
										.pos(a,5,'',0);
										content: "";
										width: 15px;
										height: 15px;
									}
									p {
										.mg(bottom,0,px);
									}
								}
							}
						}
					}
				}
				&-addto-links {
					.action {
						.mg(right,0,px);
					}
				}
				&-social-links {
					overflow: hidden;
					.action {
						.border(all,@mg-gray-light3,1);
						.fm(@mg-font-gLa);
						.fs(14);
						.fw(n);
						.tt(u);
						.fl(l);
						.c(@mg-gray3);
						.pd(all,10,px);
						.pd(left,40,px);
						.mg(right,10,px);
						.mg(bottom,10,px);
						&:hover {
							.c(@mg-blue1,imp);
							.td(n);
						}
						&::before {
							.ds(n,imp);
						}
						&.fastdraw {
							.bg('','fm_cart-gray.png',10px 8px, 24px);
							&:hover {
								.bg('','fm_cart-blue.png');
							}
						}
						&.print {
							.bg('','fm_print-gray.png',10px 9px);
							&:hover {
								.bg('','fm_print-blue.png');
							}
						}
						&.embed {
							.bg('','fm_embed-gray.png',10px 8px);
							&:hover {
								.bg('','fm_embed-blue.png');
							}
						}
						&.mailto {
							.bg('','fm_email-gray.png',10px 12px);
							.fw(i);
							color: inherit;
							&:hover {
								.bg('','fm_email-blue.png');
								color: inherit;
							}
						}
						&.towishlist {
							.bg('','fm_wishlist-gray.png',10px 10px);
							.pd(left,36,px);
							&:hover {
								.bg('','fm_wishlist-blue.png');
							}
						}
					}
				}
			}
		}
		&-attributes {
			.clear();
			.mg-lr(-25,px);
			clear: both;
			.attribute {
				.pd(all,25,px);
				.pd(bottom,0,px);
				&.attrib {
					&-twitter {
						.boxsizing();
						.med(gtm,{
							.fl(l);
							width: 50%;
						});
						.twitter-tweet {
							width: 100% !important;
						}
						.EmbeddedTweet {
							max-width: inherit !important;
						}
					}
					&-video {
						.value {
							/*.border(all,@mg-gray-light3,1);
							.pd(all,20,px);*/
						}
						.pvideo {
							.pos(r);
							img {
								width: 100%;
							}
							iframe {
								.pos(a,0,0,0,0);
								width: 100% !important;
								height: 100% !important;
							}
						}
					}
					&-tags {
						overflow: hidden;
						.value {
							.mg-lr(-5,px);
							span {
								.border(bottom,@mg-blue-dark1,2);
								.bg(@mg-blue1);
								.br(3);
								.fm(@mg-font-hMd);
								.fs(17);
								.lh(34);
								.c(@mg-white);
								.pd-lr(20,px);
								.mg(all,5,px);
								.ds(ib);
							}
						}
					}
				}
				.type {
					.fm(@mg-font-hMd);
					.fs(24);
					.fw(n);
					.ls(0.01);
					.tt(u);
					.c(@mg-black);
					.mg(bottom,15,px);
					.ds(b);
				}
			}
		}
	}
}

.block {
	&.upsell,
	&.related,
	&.crosssell {
		.clear();
		.pd-tb(50,px);
		.mg-tb(0,px);
		clear: both;
		.block {
			&-title {
				.mg(bottom,30,px);
				strong {
					.fm(@mg-font-hMd);
					.fs(24);
					.fw(n);
					.ls(0.01);
					.tt(u);
					.c(@mg-black);
				}
			}
			&-content {
				> .block-actions {
					.ds(n);
				}
			}
		}
		.products-grid {
			.product-item {
				.fl(l);
				.ds(b,imp);
				width: 100%/4;
			}
		}
	}
}

.fastdraw-button {
	display: none;
}
.page-product {
	&-downloadable {
		background: #141416;
		.products-grid .product-items li .product-item-info {
			border: 1px solid #2b2b2d;
		}
		.products-grid .product-item-inner {
			background: #2b2b2d;
		}
		.products-grid .product-items li .product-item-info:hover .product-item-details *,
		.products-grid .product-items li .product-item-info:hover .product-item-details .product-item-name a {
			color: #fff;
		}
		.products-grid .product-items li .product-item-info .product-item-details .product-item-description {
			margin-bottom: 10px;
		}
		.product-info-main .product-social-links a.action {
			width: 50px;
			height: 50px;
			padding: 0 !important;
			overflow: hidden;
			text-indent: -999px;
			background-color: #343539;
			border: none;
			margin-right: 20px;
		}
		.product-info-main .product-social-links .action.towishlist {
			background-color: #1459d0;
			background-position: 15px 15px;
		}
		.product-info-main .product-social-links .action.mailto {
			background-position: 13px 18px;
		}
		.product-info-main .product-social-links .action.fastdraw {
			background-position: 13px 16px;
		}
		.product-info-main .product-social-links .action.print {
			background-position: 15px 17px;
		}
		.product-info-main .product-social-links .action.embed {
			background-position: 15px 16px;
		}
		.pdp-bt-with-bg::after {
			font-size: 0px;
			display: block;
			line-height: 0px;
			overflow: hidden;
			clear: both;
			content: "";
			height: 0;
		}
		.pdp-bt-with-bg {
			background: #2b2c2e;
			strong {
				background: #141415;
				float: left;
    			margin: 0;
			}
			p {
				color: #adb1b7;
				float: left;
				max-width: 250px;
				font-size: 14px;
				line-height: 1.2;
				padding-top: 8px;
				padding-left: 20px;
			}
		}
		.overview .value .fastdraw-button {
			display: block;
			margin-top: 40px;
			.fdb-btn {
				display: inline-block;
				width: 48.5%;
				a {
					border: 2px solid #abafb7;
					color: #1550b9 !important;
					display: block;
					font-family: "Muli", sans-serif;
					font-size: 16px;
					font-weight: 900;
					padding: 15px 30px;
					text-align: center;
					text-transform: uppercase;
				}
				a:hover {
					text-decoration: none;
				}
			}
			.send-fastdraw {
				margin-right: 1%;
				a {
					border: 2px solid #1550b9;
					color: #ffffff !important;
				}
			}
			.fastdraw-account {
				margin-left: 1%;
				a {
					
				}
			}
		}
		.block.upsell .block-title strong, 
		.block.related .block-title strong, 
		.block.crosssell .block-title strong {
			font-size: 24px;
			letter-spacing: 0.01em;
			text-transform: uppercase;
			color: #ffffff;
			padding-right: 30px;
			font-family: "Muli", sans-serif;
			font-weight: 900;
			line-height: 2;
		}
		.page-main {
			//.bg(@mg-gray-light5);
			background: #141416;
			.pd(top,0,px);
		}
		.product-info {
			&-top {
				//.bg(@mg-white);
				background: #141416;
				.pd-tb(50,px);
				.mg(bottom,50,px);
				&-wrapper {
					.swrap();
				}
			}
			&-main {
				.pd(left,70,px);
				width: 50%;
				.samples {
					.mg(bottom,0,px);
					&-item {
						.ds(ib);
						.mg(bottom,0,px);
						.mg(right,15,px);
						&-title {
							.ds(n);
						}
						&-link {
							.button-default(quinary,anchor);
							&::before {
								.bg-icon('fm_download.png');
								width: 19px;
								height: 21px;
							}
						}
					}
				}
			}
		}
		.product {
			&.media {
				width: 50%;
			}
		}
		.block {
			&.upsell,
			&.related {
				.swrap();
			}
		}
		.product {
			&.attribute {
				&.publised {
					color: #1561e7;
					//.c(@mg-blue1);
					.type {
						&::after {
							.bg(@mg-blue1);
						}
					}
				}
				&.overview {
					.type {
						.ds(n);
					}
				}
			}
			&-links {
				li {
					&:first-child {
						.ds(n);
					}
				}
			}
		}
		.gallery {
			&-placeholder {
				//.border(all,@mg-gray-light4,1);
				.med(gtm,{
					.mg(left,75,px);
				});
				.med(gtts,{
					.mg(left,112,px);
				});
			}
		}
		.fotorama {
			.med(gtm,{
				overflow: visible;
			});
			&--fullscreen {
				.fotorama {
					&__thumb {
						
					}
					&__fullscreen-icon {
						right: 0 !important;
					}
					&__nav-wrap--vertical {
						top: 10px;
						left: 10px !important;
					}
					&__zoom {
						&-in,
						&-out {
							.med(gtm,{
								left: 75px;
							});
							.med(gtts,{
								left: 112px;
							});
						}
					}
					&__arr {
						&--prev {
							left: 75px;
						}
					}
				}
			}
			.fotorama {
				&__nav,
				&__stage {
					&.fotorama__shadows {
						&--left,
						&--right {
							&::before,
							&::after {
								.ds(n);
							}
						}
					}
				}
				&__stage {
					&::after {
						.boxsizing();
						/*.bg-icon('fm_fullscreen.png'); 
						.bg(@mg-gray-light6);*/
						.br(100);
						.pos(a,10,'','',10,991);
						width: 34px;
						height: 34px;
						z-index: 2;
						pointer-events: initial;
						cursor: pointer;
					}
					left: 0 !important;
					&__shaft {
						top: 1px;
						max-width: inherit !important;
					}
					&__frame {
						.fotorama__img {
							width: 100% !important;
							width: auto !important;
						}
						.fotorama__caption {
							.ds(n);
						}
					}
				}
				&__thumb {
					&-border {
						.bg(none);
						.mg(top,0,px);
						border-color: @mg-blue1;
						border-width: 2px;
					}
					.boxsizing();
					.bg(@mg-white);
					//.border(all,@mg-gray-light4,1);
				}
				&__arr {
					&--next {
						right: 0 !important;
					}
					&--prev {
						.med(m,{
							left: 0 !important;
						});
					}
				}
				&__nav {
					&__shaft {
						background: #141416;
					}
					&--dots {
						.fotorama__nav__frame {
							width: 10px;
							.fotorama__dot {
								.bg(@mg-gray1);
								border-color: @mg-gray1;
								width: 3px;
								height: 3px;
							}
							&.fotorama__active {
								.fotorama__dot {
									.bg(@mg-black);
									border-color: @mg-black;
								}
							}
						}
					}
					&--thumbs {
						.fotorama__nav__frame {
							.mg(top,0,px);
							.mg(left,0,px);	
						}
					}
					&-wrap {
						&--vertical {
							.med(gtts,{
								left: -112px;
							});
							.med(ts,{
								left: -75px;
							});
							.med(m,{
								.ds(n,imp);
							});
							.fotorama__nav__frame {
								.mg(right,0,px);
							}
						}
						&--horizontal {
							.fotorama__nav__frame {
								.mg(bottom,0,px);
							}
							.med(ts,{
								.mg(top,45,px);
								.mg(top,15,px);
								.border(t,@mg-gray1,1);
								.fotorama__nav--thumbs {
									height: auto !important;
								}
							});
							.med(m,{
								.border(t,@mg-gray1,1);
								.mg(top,15,px);
							});
							
						}
					}
				}
			}
		}
		.products-grid {
			.product-item {
				.product-item-info {
					border: 1px solid #2b2c2e;
					background: #2b2c2e;
				}
				.product-item-info.fixit {
					.product-item-details {
						background: #2b2c2e;
					}
				}
			}
		}
		.page-title-wrapper {
			h1 {
				color: #1d1d1d;
				font-family: 'Muli',sans-serif;
				font-weight: 900;
			}
		}
		.overview {
			.value {
				.fastdraw-button {
					.send-fastdraw {
						a {
							color: #1550b9 !important;
							border: 2px solid #abafb7;
						}
					}
				}
			}
		}
		.product-info-main {
			.product.attribute.overview {
				.value {
					p {
						&:first-child {
							color: #858b9d;
						}
					}
				}
			}
			.product-social-links {
				display: none;
			}
			.samples-item {
				display: inline-block;
				width: 100%;
			}
			.samples {
				a.item-link.samples-item-link {
					background-color: #1434d0;
					background-image: none;
					box-shadow: 5px 9px 12px -5px #1434d0;
					display: inline-block;
					width: 100%;
				}
			}
			.samples-item-link {
				&::before {
					background: none;
				}
			}
		}
		.product-info-main .product-add-form .product-options-wrapper{
		    float: none;
			width: 100%;
		}
		.product-info-main .product-add-form .product-options-bottom {
			float: none;
		    width: 100%;
		    clear: both;
			.price-box{
				display: none;
			}
			.box-tocart{
				margin: 10px 0;
				.actions{
					.action.tocart{
						width: 100%;
					    padding: 20px;
					    height: auto;
					    background: #1459cf;
					    color: #fff;
					    font-size: 1.5rem;
					    font-family: "Muli",sans-serif;
					    font-weight: 900;
					    text-transform: uppercase;
					    text-align: center;
					    margin: 0;
					}
				}
			}
		}
		.pdp-bt-with-bg {
			background: #1459d0;
			p {
				color: #fff;
			}
		}
		.block.related {
			.block-title {
				strong {
					color: #1459d0;
					background-color: #fff;
				}
			}
		}
		.product-items {
			.product-item-name {
				font-family: 'Muli',sans-serif;
				font-size: 14px;
				font-weight: 900;
				color: #000000;
				a {
					&:visited {
						font-family: 'Muli',sans-serif;
						font-size: 14px;
						font-weight: 900;
						color: #000000;
					}
				}
			}
			.product.name {
				a {
					font-family: 'Muli',sans-serif;
					font-size: 14px;
					font-weight: 900;
					color: #000000;
				}
			}
		}
		.products-grid {
			.product-items {
				li {
					.product-item-info {
						&:hover {
							.product-item-details {
								* {
									font-family: 'Muli',sans-serif;
									font-size: 14px;
									font-weight: 900;
									color: #000000;
								}
								.product-item-name {
									a {
										font-family: 'Muli',sans-serif;
										font-size: 14px;
										font-weight: 900;
										color: #000000;
									}
								}
							}
						}
						border: transparent;
						-webkit-box-shadow: 0px 0px 16px -4px rgba(109,109,109,0.5);
						-moz-box-shadow: 0px 0px 16px -4px rgba(109,109,109,0.5);
						box-shadow: 0px 0px 16px -4px rgba(109,109,109,0.5);
						padding: 0 5px;
						background-color: transparent;
					}
				}
			}
			.product-item {
				.product-item-info.fixit {
					.product-item-details {
						background-color: #fff;
					}
				}
			}
			.product-item-inner {
				background-color: #fff;
			}
		}
		.fm-product-scroll-links {
			display: none;
		}
		.downloadble-user-name {
			font-family: "HelveticaNeue-MediumCond",sans-serif,sans-serif;
			font-size: 16px;
			float: left;
			padding-left: 15px;
			margin-top: 20px;
			margin-left: 15px;
		}
		.downloadble-user-info {
			h2 {
				float: left;
				margin: 10px 0;
			}
			display: inline-block;
			margin-top: 20px;
		}
	}
	&-simple {
		.page-title {
			&-wrapper {
				.mg(bottom,40,px);
				/*max-width: 620px;*/
			}
		}
		.product-info {
			&-right {
				.med(gtm,{
					.fl(r);
					width: 220px;
				});
				.med(gtts,{
					width: 280px;
				});
			}
			&-main {
				.fl(n);
				width: auto;
				.med(gtm,{
					.pd(right,240,px);
				});
				.med(gtts,{
					.pd(right,350,px);
				});
			}
		}
		.product {
			&.media {
				.ds(n,imp);
			}
		}
	}
}


body.fastdraw {
	background: #141416;
	@media only screen and (min-width: 993px) {
		.page-main {
				width: 100%;
				max-width: inherit;
				padding: 0;
				.product-info-top {
					max-width: 1280px;
					margin: 0 auto;
				}
		}
	}
	.product.attribute.short-description p {
    color: #1459cf;
    font-weight: 600;
    font-size: 14px;
	}
	.price_content,
	.breadcrumbs {
		display: none;
	}
	.box-tocart {
		.field.qty {
			display: none;
		}
		.actions {
			button.action.primary.tocart,
			button.action.primary.tocart:hover {
				width: 100%;
				padding: 20px;
				height: auto;
				background: #1459cf;
				color: #fff;
				font-size: 1.5rem;
				font-family: "Muli", sans-serif;
				font-weight: 900;
				text-transform: uppercase;
				text-align: center;
				margin-right: 0;
			}
		}
	}
	.product-options-wrapper {
		.fieldset {
			.field.required > label.label:after {
				display: none;
			}
			.field.required {
				label.label {
					span {
						color: #ffffff;
						font-style: italic;
						font-size: 13px;
					}
				}
				.control {
					width: 100%;
					.options-list {
						.field {
							display: inline-block;
							margin-right: 10px;
							margin-top: 15px;
							vertical-align: top;
						}
						.field:last-child {
							margin-right: 0;
						}
						input[type="radio"] {
							display: none;
						}
						label.label {
							/*border: 1px solid #818592;
							color: #fff !important;
							padding: 10px;
							height: 96px;
							width: 96px;*/
							border: 1px solid #818592;
							color: #fff !important;
							padding: 10px;
							min-height: 103px;
    					width: 98px;
							font-size: 24px;
							display: flex !important;
							flex-flow: column;
							span {
								color: #9ca1b2;
								font-size: 12px;
								font-family: "Muli", sans-serif;
								font-weight: 900;
								letter-spacing: 1px;
								text-transform: uppercase;
								margin-bottom: 0;
								font-style: normal;
								order: 2;
								text-align: center;
								width: 100%;
								line-height: 1.2;
								span.subnode {
									color: #9ba0b2 !important;
									display: block;
									font-size: 7px !important;
    							margin-top: 5px;
								}
							}
							span.price-notice {
								order: 1;
								color: #141415;
								height: 40px;
								overflow: hidden;
								span {
									font-family: 'Muli', sans-serif;
									font-size: 25px !important;
									font-weight: 900;
									color: #ffffff;
									letter-spacing: 0;
									/*margin-top: -10px;*/
    								display: block;
								  }
							}
							span.price-notice.custom-price-notice {
								.price-wrapper {
									span {
										color: #1459ce;
										display: inline-block;
										width: auto;
									}
									span.s-1 {
										color: #777d90;
										font-size: 16px !important;
										vertical-align: top;
										margin-right: 5px;
										margin-top: 4px;
									}
									span.s-2 {}
								}
							}
						}
						label.label:before {
							display: none;
						}
						input[type="radio"]:checked ~ label,
						input[type="radio"]:checked + label {
							border: 1px solid #1550b9;
						}
						input[type="radio"]:checked ~ label span,
						input[type="radio"]:checked + label span {
							color: #ffffff;
						}
						input[type="radio"]:checked ~ label span.s-2,
						input[type="radio"]:checked + label span.s-2 {
							color: #ffffff !important;
						}
						input[type="radio"]:checked ~ label span.price-notice,
						input[type="radio"]:checked + label span.price-notice {
							color: #141415;
						}
					}
					.options-list#options-1-list{
						.field{
							min-height: 55px;
							label.label{
								width: 88px;
							}
						}
					}
				}
			}
			.field.required:first-child {

			}
			.field.required:last-child {
				.control {
					width: 100%;
					.options-list {
						input[type="radio"]:checked ~ label,
						input[type="radio"]:checked + label {
							border: 1px solid #ffffff;
						}
					}
				}
				.control .options-list label.label span.price-notice {
					display: none;
				}
				.control .options-list label.label {
					background: #1459ce;
					border-color: #1459ce;
					padding: 20px;
					min-height: inherit;
					span {
						font-family: 'Muli', sans-serif;
						font-size: 15px !important;
						font-weight: 900;
						color: #fff;
						letter-spacing: 0;
						text-align: center;
						margin: 0;
						letter-spacing: 0.75px
					}
				}
			}
		}
	}
	.product-info-top:after {
		clear:both;
		content:"";
		display: block;
	}
	.product-info-top {
		background: #141416;
		padding-top: 50px;
		padding-bottom: 50px;
		margin-bottom: 50px;
	}
	.fotorama .fotorama__stage {
		left: 0 !important;
	}
	.fotorama .fotorama__stage__shaft {
		top: 1px;
		max-width: inherit !important;
	}
	
	@media only screen and (min-width: 768px) {
	   .fotorama {
		overflow: visible;
	  }
	}
	 .fotorama--fullscreen .fotorama__fullscreen-icon {
	  right: 0 !important;
	}
	 .fotorama--fullscreen .fotorama__nav-wrap--vertical {
	  top: 10px;
	  left: 10px !important;
	}
	@media only screen and (min-width: 768px) {
	   .fotorama--fullscreen .fotorama__zoom-in,
	   .fotorama--fullscreen .fotorama__zoom-out {
		left: 75px;
	  }
	}
	@media only screen and (min-width: 993px) {
	   .fotorama--fullscreen .fotorama__zoom-in,
	   .fotorama--fullscreen .fotorama__zoom-out {
		left: 112px;
	  }
	}
	 .fotorama--fullscreen .fotorama__arr--prev {
	  left: 75px;
	}
	 .fotorama .fotorama__nav.fotorama__shadows--left::before,
	 .fotorama .fotorama__stage.fotorama__shadows--left::before,
	 .fotorama .fotorama__nav.fotorama__shadows--right::before,
	 .fotorama .fotorama__stage.fotorama__shadows--right::before,
	 .fotorama .fotorama__nav.fotorama__shadows--left::after,
	 .fotorama .fotorama__stage.fotorama__shadows--left::after,
	 .fotorama .fotorama__nav.fotorama__shadows--right::after,
	 .fotorama .fotorama__stage.fotorama__shadows--right::after {
	  display: none;
	}
	 .fotorama .fotorama__stage {
	  left: 0 !important;
	  height: 500px !important;
	}
	 .fotorama .fotorama__stage::after {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -o-box-sizing: border-box;
	  box-sizing: border-box;
	  /*.bg-icon('fm_fullscreen.png'); 
		.bg(@mg-gray-light6);*/
	  border-radius: 100px !important;
	  -moz-border-radius: 100px !important;
	  -webkit-border-radius: 100px !important;
	  position: absolute;
	  top: 10px;
	  right: 10px;
	  z-index: 991;
	  width: 34px;
	  height: 34px;
	  z-index: 2;
	  pointer-events: initial;
	  cursor: pointer;
	}
	 .fotorama .fotorama__stage__shaft {
	  top: 1px;
	  max-width: inherit !important;
	}
	 .fotorama .fotorama__stage__frame .fotorama__img {
	  width: 100% !important;
	  width: auto !important;
	  top: 0;
	  vertical-align: top;
	  transform: translate3d(-50%, 0, 0);
	}
	 .fotorama .fotorama__stage__frame .fotorama__caption {
	  display: none;
	}
	 .fotorama .fotorama__thumb {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -o-box-sizing: border-box;
	  box-sizing: border-box;
	  background-color: #ffffff;
	}
	 .fotorama .fotorama__thumb-border {
	  background: none;
	  margin-top: 0px;
	  border-color: #06aaed;
	  border-width: 2px;
	}
	 .fotorama .fotorama__arr--next {
	  right: 0 !important;
	}
	@media only screen and (max-width: 767px) {
	   .fotorama .fotorama__arr--prev {
		left: 0 !important;
	  }
	}
	 .fotorama .fotorama__nav__shaft {
	  background: #141416;
	}
	 .fotorama .fotorama__nav--dots .fotorama__nav__frame {
	  width: 10px;
	}
	 .fotorama .fotorama__nav--dots .fotorama__nav__frame .fotorama__dot {
	  background-color: #404040;
	  border-color: #404040;
	  width: 3px;
	  height: 3px;
	}
	 .fotorama .fotorama__nav--dots .fotorama__nav__frame.fotorama__active .fotorama__dot {
	  background-color: #000000;
	  border-color: #000000;
	}
	 .fotorama .fotorama__nav--thumbs .fotorama__nav__frame {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	@media only screen and (min-width: 993px) {
	   .fotorama .fotorama__nav-wrap--vertical {
		left: -112px;
	  }
	}
	@media only screen and (max-width: 992px) {
	   .fotorama .fotorama__nav-wrap--vertical {
		left: -75px;
	  }
	}
	@media only screen and (max-width: 767px) {
	   .fotorama .fotorama__nav-wrap--vertical {
		display: none !important;
	  }
	}
	 .fotorama .fotorama__nav-wrap--vertical .fotorama__nav__frame {
	  margin-right: 0px;
	}
	 .fotorama .fotorama__nav-wrap--horizontal .fotorama__nav__frame {
	  margin-bottom: 0px;
	}
	@media only screen and (max-width: 992px) {
	   .fotorama .fotorama__nav-wrap--horizontal {
		margin-top: 45px;
		margin-top: 15px;
		/*border-t: 1px solid #404040;*/
	  }
	   .fotorama .fotorama__nav-wrap--horizontal .fotorama__nav--thumbs {
		height: auto !important;
	  }
	}
	@media only screen and (max-width: 767px) {
	   .fotorama .fotorama__nav-wrap--horizontal {
		/*border-t: 1px solid #404040;*/
		margin-top: 15px;
	  }
	}
	.coacheslider-box {

	}
	.coacheslider-box:after {
		content: "";
		clear: both;
		display: block;
	}
	.csb-set,
	.coache-info-box {
		float: left;
	}
	.csb-set {
		width: 50%;
		background-size: cover !important;
		background-repeat: no-repeat !important;
		min-height: 620px;
	}
	.coache-info-box {
		color: #ffffff;
		width: 50%;
	}
	.coache-info-box .cib-box {
		padding: 130px 50px 0;
		text-align: left;
	}
	.coache-info-box .cib-box h2 {
		margin-bottom: 0;
	    font-size: 32px;
	    font-family: 'Muli', sans-serif;
	    font-weight: 900;
	    color: #fff;
	    text-transform: uppercase;
	}
	.coache-info-box .cib-box h3 {
		margin-bottom: 30px;
	    font-size: 32px;
	    font-family: 'Muli', sans-serif;
	    font-weight: 500;
	    color: #1459d0;
	    text-transform: uppercase;
	    margin-top: 5px;
	}
	.coache-info-box .cib-box p {
		color: #a9a9a9;
	    font-size: 18px;
	    max-width: 310px;
	}
	.coache-slider {
    	margin: 0 auto 0 38%;
		width: 280px;
	}
	.coache-slider .slick-prev {
	    left: -20px;
	}
	.coache-slider .slick-next {
	    right: -20px;
	}
	.slider-nav-thumbnails .slick-slide { opacity: 1; position: relative;cursor: pointer;} 
	.slider-nav-thumbnails .slick-slide.slick-current.slick-active { opacity: 1;}
	.coache-slider figure {position: relative;text-align: center;padding: 100px 50px 0;}
	.coache-slider figure img { display: inline-block; }
	.coache-slider figure .coache-type {position: absolute;background: #3f3f46; color: #fff; padding: 4px;text-transform: uppercase;font-size: 14px; font-family: "Muli", sans-serif; font-weight: 900; letter-spacing: 1px;right: 45px;top: 60%;}
	.coache-slider figure figcaption {
		
	}
	.coache-slider figure figcaption h3 {
		color: #ffffff;
		text-transform: uppercase;
	    font-size: 14px;
	    font-family: "Muli", sans-serif;
	    font-weight: 900;
	    letter-spacing: 1px;
	}
	.coache-slider figure figcaption p {
		color: #ffffff;
		font-size: 14px;
    	font-family: "Muli", sans-serif;
	}
	.slider-nav-thumbnails .slick-slide.slick-current {
	    opacity: 1;
	}
	.slider-nav-thumbnails .coache-type {position: absolute;background: #3f3f46; color: #fff; padding: 4px;text-transform: uppercase;font-size: 14px; font-family: "Muli", sans-serif; font-weight: 900; letter-spacing: 1px;right: 40px;top: 140px;}
	.slider-nav-thumbnails .slick-slide img {
	    width: 206px;
	}
	.coache-slider .slick-prev.slick-disabled, 
	.coache-slider .slick-next.slick-disabled {
		opacity: 1;
	}
	.coache-slider.slick-slider .slick-next::before {
	    background: transparent url(../images/icons/fm_arrow-right-white.png) no-repeat center center;
	}
	.coache-slider.slick-slider .slick-prev::before {
	    background: transparent url(../images/icons/fm_arrow-left-white.png) no-repeat center center;
	}
	.slider-nav-thumbnails {
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	}
}
body.fastdraw.catalog-product-view {
	.page-title-wrapper h1.page-title {
		margin-bottom: 0;
		font-family: 'Muli', sans-serif;
		font-weight: 900;
		color: #fff;
	}
	&.product-kentucky-wildcats-horns-stagger-curl-throwback-fastmodel-sports-2 {
		.product-info-main {
			.product-links {
				display: none;
			}
		}
	}
}

.cms-report-building-software.fastdraw {
	.rbs-sections-1 {
		.rbs-s-reset-1 {
			.rbs-logo-box {
				border-bottom: 1px solid #25252a;
				padding-bottom: 60px;
			}
		}
	}
	.rbs-sections-3.rbs-sections-3--2 {	
		border-top: 1px solid #25252a;
		padding-top: 100px;
		.features-box.ff-b {
			.f-b-1,
			.f-b-2,
			.f-b-3 {
				.fb-img-box,
				.fb-img-box-2 {
					float: left;
				}
				.fb-img-box {
					width: 100px;
					img {
						height: auto;
					}
				}
				.fb-img-box-2 {
					width: 230px;
					h4,
					p {
						padding-right: 0;
						padding-left: 30px;
						text-align: left;
					}
					h4 {
						margin-bottom: 10px;
						margin-top: 10px;
					}
					p {
						margin: 0;
					}
				}
			}
			.f-b-1:after,
			.f-b-2:after,
			.f-b-3:after {
				display: block;
				clear: both;
				content: "";
			}
		}
		.features-box.features-box-2 {
			margin-top: 70px;
		}
	}
	.rbs-sections-2 {
		background: url(../images/need/background-need.png) no-repeat;
	}
	.rbs-sections-4 {
		background: url(../images/testiminoal/background_slider.png) no-repeat right top;
	}
	.rbs-sections-4 .rbs-s-reset-4 .testimonial-slider .item .testimonial-box {
		background: url(../images/testiminoal/quotes-b.png) no-repeat 0 0;
	}
	.rbs-sections-4 .rbs-s-reset-4 .testimonial-slider .item .testi-user-info h4 {
		color: #1459d0;
	}
	.slick-dots li button::before {
		color: #b3bbd2;
	}
	.slick-dots li.slick-active button::before {
		color: #1459d0;
	}
	.rbs-sections-5 .rbs-s-reset-5 .afi-bottom {
		background: none;
		height: 25px;
		margin: 110px -12% 0;
		border-top: 1px solid #27272d;
	}
	.rbs-sections-3 .rbs-s-reset-3 h3 span,
	.rbs-sections-5 .rbs-s-reset-5 h3 span,
	.rbs-sections-6 .rbs-s-reset-6 h3 span,
	.rbs-sections-6 .rbs-s-reset-6 .pricing-options-table .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row .item-details .item-price p {
		color: #1459d0;
	}
	.rbs-sections-6 .rbs-s-reset-6 .pricing-options-table .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row ul li.header.active-pack .item-details {
		background-color: #1459d0;
		box-shadow: 1px 2px 4px rgba(20, 70, 207, 0.17);
	}
	.rbs-sections-6 .rbs-s-reset-6 .pricing-options-table .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows ul li.col-four {
		background-color: #1459d0 !important;
		border-color: #1b61e0 !important;
		border-bottom: 1px solid #1b61e0 !important;
	}
	.rbs-sections-6 .rbs-s-reset-6 .pricing-options-table .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows ul li.col-four.all-mpi, 
	.rbs-sections-6 .rbs-s-reset-6 .pricing-options-table .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows ul li.all-mpi {
		background-color: #1d6bed !important;
	}
	.rbs-sections-6 .rbs-s-reset-6 .pricing-options-table .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row .item-details .item-top {
		background-color: #0f244e;
	}
	.rbs-sections-6 .rbs-s-reset-6 .pricing-options-table .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .row#addProduct ul li{
		text-align: center;
		&:nth-child(4) {
			a{
				background: #fff;
				color: #1459ce;
			}
		}
		a{
			background: #1459ce;		    
		    display: inline-block;
		    color: #fff;
		    font-weight: 900;
		    width: 60%;
    		padding: 15px;
		}
	}
	.rbs-sections-4.rbs-sections-4--2 .rbs-s-reset-4 .testimonial-slider.rbs-feature {
		width: 30%;
		margin-left: 5%;
	}
	.rbs-sections-4.rbs-sections-4--2 .rbs-s-reset-4 .testimonial-img {
		margin-right: 0;
		width: 65%;
	}
	.rbs-sections-4.rbs-sections-4--2 {
		background: none;
		padding-bottom: 0;
		.rbs-feature {
			.box-1,
			.box-2,
			.box-3 {
				float: right;
				max-width: 260px;
				text-align: right;
				h3 {
					color: #ffffff;
					font-size: 14px;
					font-family: "Muli", sans-serif;
					font-weight: 900;
					letter-spacing: 1px;
					text-transform: uppercase;
					margin-bottom: 10px;
					span {
						color: #1459d0;
					}
				}
				p {
					color: #a9a9a9;
					margin: 0;
				}
			}
			.box-1 {
				margin-right: -50px;
			}
			.box-2 {
				margin-right: 40px;
				margin-top: 40px;
			}
			.box-3 {
				margin-right: -30px;
				margin-top: 30px;
			}
		}
		.rbs-feature:after {
			display: block;
			clear: both;
			content: "";
		}
	}
}

.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row .item-details .item-name p,
.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row .item-details .item-price p,
.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row .item-details .actions {
	text-align: center;
}


body.live-streaming.catalog-product-view .page-title-wrapper h1 {
	color: #1d1d1d;
	font-family: 'Muli', sans-serif;
	font-weight: 900;
}
.cms-report-building-software.live-streaming,
.vdo-pdp-social-buttons {
	display: none;
}
body.live-streaming {
	.block.block-joinnow, 
	.block.block-contributor,
	.breadcrumbs,
	.product.attribute.publised,
	.cms-report-building-software.fastdraw {
			display: none;
	}
	.cms-report-building-software.live-streaming {
		display: block;
	}
	.products-grid .product-items li .product-item-info.fixit {
    -webkit-box-shadow: 0px 0px 16px -4px rgba(109, 109, 109, 0.5);
    -moz-box-shadow: 0px 0px 16px -4px rgba(109, 109, 109, 0.5);
    box-shadow: 0px 0px 16px -4px rgba(109, 109, 109, 0.5);
	}
	a.product-item-link,
	.product-item-name, 
	.product.name a, 
	.product-item-name a:visited {
			font-family: "Muli", sans-serif;
			font-size: 14px;
			font-weight: 900;
			color: #000000;
	}
	.cms-report-building-software {
    background: transparent;
	}
	.page-main {
    width: 100%;
    max-width: inherit;
    padding: 0;
	}
	.page-main .product-info-top {
		max-width: 1280px;
		padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
	}
	.product-info-top:after {
    clear: both;
    content: "";
    display: block;
	}
	.txt-upp {
		text-transform: uppercase;
	}
	.box-tocart {
		.field.qty {
			display: none;
		}
		.actions {
			button.action.primary.tocart,
			button.action.primary.tocart:hover {
				width: 100%;
				padding: 20px;
				height: auto;
				background: #1459cf;
				color: #fff;
				font-size: 1.5rem;
				font-family: "Muli", sans-serif;
				font-weight: 900;
				text-transform: uppercase;
				text-align: center;
				margin-right: 0;
			}
		}
	}
	.product-options-wrapper {
		.fieldset {
			.field.required > label.label:after {
				display: none;
			}
			.field.required {
				label.label {
					span {
						color: #ffffff;
						font-style: italic;
						font-size: 13px;
					}
					span.custom-title {
						display: none;
					}
				}
				.control {
					width: 100%;
					.options-list {
						.field {
							display: inline-block;
							margin-right: 10px;
							margin-top: 0;
							vertical-align: top;
						}
						.field:last-child {
							margin-right: 0;
						}
						input[type="radio"] {
							display: none;
						}
						label.label {
							border: 1px solid #818592;
							color: #fff !important;
							padding: 10px;
							min-height: 103px;
    					width: auto;
							font-size: 24px;
							display: flex !important;
							flex-flow: column;
							span {
								color: #9ca1b2;
								font-size: 12px;
								font-family: "Muli", sans-serif;
								font-weight: 900;
								letter-spacing: 1px;
								text-transform: uppercase;
								margin-bottom: 0;
								font-style: normal;
								order: 2;
								text-align: center;
								width: 100%;
								line-height: 1.2;
								span.subnode {
									color: #9ba0b2 !important;
									display: block;
									font-size: 7px !important;
    							margin-top: 5px;
								}
							}
							span.price-notice {
								order: 1;
								color: #141415;
								height: 40px;
								overflow: hidden;
								span {
									font-family: 'Muli', sans-serif;
									font-size: 25px !important;
									font-weight: 900;
									color: #ffffff;
									letter-spacing: 0;
									/*margin-top: -10px;*/
    								display: block;
								  }
							}
							span.price-notice.custom-price-notice {
								.price-wrapper {
									span {
										color: #1459ce;
										display: inline-block;
										width: auto;
									}
									span.s-1 {
										color: #777d90;
										font-size: 16px !important;
										vertical-align: top;
										margin-right: 5px;
										margin-top: 4px;
									}
									span.s-2 {}
								}
							}
						}
						label.label:before {
							display: none;
						}
						input[type="radio"]:checked ~ label,
						input[type="radio"]:checked + label {
							border: 1px solid #1550b9;
						}
						input[type="radio"]:checked ~ label span,
						input[type="radio"]:checked + label span {
							color: #1550b9;
						}
						input[type="radio"]:checked ~ label span.s-2,
						input[type="radio"]:checked + label span.s-2 {
							color: #ffffff !important;
						}
						input[type="radio"]:checked ~ label span.price-notice,
						input[type="radio"]:checked + label span.price-notice {
							color: #141415;
						}
					}
				}
			}
			.field.required:first-child {

			}
			.field.required:last-child {
				.control {
					width: 100%;
					.options-list {
						input[type="radio"]:checked ~ label,
						input[type="radio"]:checked + label {
							border: 1px solid #869ab5;
						}
					}
				}
				.control .options-list label.label span.price-notice {
					display: none;
				}
				.control .options-list label.label {
					background: transparent;
					border-color: #1459ce;
					padding: 14px 20px;
					min-height: inherit;
					span {
						font-family: 'Muli', sans-serif;
						font-size: 14px !important;
						font-weight: 900;
						color: #1459ce;
						letter-spacing: 0.05em;
						text-align: center;
						margin: 0;
					}
				}
			}
		}
	}
	.video-cms-section-1 {
		background: url(../images/pdp-video/banner-blue.png) repeat-x;
		margin: 0;
    padding: 66px 0;
		.legend-section {
			background: url(../images/pdp-video/blue_banner-img.png) no-repeat;
			max-width: 1220px;
			margin: 0 auto;
			background-size: 100%;
			padding: 66px 0;
			.ls-box {
				margin-left: 405px;
			}
			p {
				color: #fff;
				font-size: 16px;
				font-family: "Muli", sans-serif;
				font-weight: 900;
				text-transform: uppercase;
				letter-spacing: 1px;
				margin-top: 20px;
				i {
					color: #b3d7f8;
					font-weight: 600;
				}
				span {
					a {
						color: #ffffff;
						font-weight: 600;
						margin-left: 5px;
						text-decoration: underline;
					}
				}
			}
			h2 {
				color: #fff;
				font-size: 2.5rem;
				font-family: "Muli", sans-serif;
				font-weight: 900;
				text-transform: uppercase;
				margin-bottom: 0;
				text-align: left;
				span {

				}
			}
		}
	}
	.video-cms-section-2 {
		// background:  url(../images/pdp-video/fast-access.png) no-repeat center center;
    padding: 66px 0;
		.vcs-features-con {
			max-width: 1340px;
    	margin: 0 auto;
			h2 {
				color: #050505;
				font-size: 3rem;
				font-family: "Muli", sans-serif;
				font-weight: 900;
				text-transform: uppercase;
				margin: 0;
				margin-bottom: 30px;
				text-align: center;
				span {
					font-weight: 500;
				}
				.txt-and {
					color: #1459d0;
					font-weight: 900;
					margin-right: 8px;
				}
			}
			ul.vcs-fc-list {
				padding: 0;
				margin: 0 auto 60px;
				max-width: 800px;
				li {
					background: url(../images/pdp-video/blue-squre-1.png) no-repeat 0 6px;
					font-style: italic;
					font-size: 20px;
					font-weight: 700;
					letter-spacing: 0.01em;
					text-transform: initial;
					color: #000000;
					list-style: none;
					padding-left: 30px;
				}
			}
			.video-list-box {
				img {
					width: 100%;
				}
			}
		}
	}
	.video-cms-section-3 {
		background: #111835;
    	padding: 66px 0;
		.vcs-rating-review {
			max-width: 1340px;
    		margin: 0 auto;
			h2 {
				color: #ffffff;
				font-size: 3rem;
				font-family: "Muli", sans-serif;
				font-weight: 900;
				text-transform: uppercase;
				margin: 0;
				margin-bottom: 70px;
				text-align: center;
				span {
					font-weight: 500;
				}
				.txt-and {
					color: #1459d0;
					font-weight: 900;
					margin-right: 8px;
				}
			}
			ul.vcs-rr-list {
				padding: 0;
				margin: 0;
				li {
					border-bottom: 1px solid #232a46;
					padding-bottom: 30px;
					margin-bottom: 40px;
					list-style: none;
					.review-title-date-box::after {
						clear:both;
						content:"";
						display: block;
					}
					.review-title-date-box {
						.fl {
							float: left;
						}
						.fr {
							float: right;
						}
						.rtdb-1 {
							h2 {
								color: #fff;
								font-size: 16px;
								font-family: "Muli", sans-serif;
								font-weight: 900;
								text-transform: uppercase;
								letter-spacing: 1px;
								margin: 0 0 10px;
							}
							.review-star-box {
								span {								
									color: #1459d0;
									font-family: "Muli", sans-serif;
									font-weight: 900;
									vertical-align: top;
								}
								.rsb-star {
									margin-right: 5px;
								}
								.rsb-cunt {
									margin-right: 5px;
								}
							}
						}
						.rtdb-2 {
							.post-date-box {
								p {
									color: #798198;
									margin-bottom: 0;
								}
							}
						}
					}
					.review-txt-box {
						color: #a9a9a9;
						font-size: 18px;
						margin-top: 20px;
					}
				}
			}
		}
	}
	.vdo-pdp-social-buttons {
		display: block;
		ul {
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				margin-right: 5px;
				list-style: none;
				margin-bottom: 0;
				a,
				a:hover {
					color: transparent;
					text-decoration: inherit;
				}
			}
		}
	}
	.product-info-main .product-options-bottom .box-tocart {
		margin-bottom: 0;
	}
	.block-title.title.pdp-bt-with-bg {
    display: none;
	}
	.video-cms-section-2.video-cms-section-4 {
    padding-bottom: 0;
	}
	.block.related {
		max-width: 1340px;
		margin: 0 auto;
	}
	.product-info-main .product-add-form {
    padding-top: 10px;
	}
	.short-description {
		.video-cms-section-2,
		.video-cms-section-3 {
			background: transparent;
			padding: 0;
			.vcs-features-con ul.vcs-fc-list {
				margin-bottom: 30px;
			}
			.vcs-features-con ul.vcs-fc-list li {
				background: url(../images/pdp-video/sqare-1.png) no-repeat 0 6px;
				font-size: 16px;
				font-style: initial;
			}
		}
		.video-cms-section-3 {
			li {
				border: none !important;
				padding-bottom: 0 !important;
				margin-bottom: 20px !important;
			}
		}
	}
	.price_content {
		.price-box.price-final_price {
			display: flex;
			flex-flow: column;
			.price-container {
				.price-wrapper .price {
					color: #1459ce;
					font-size: 4rem;
					font-family: "Muli", sans-serif;
					font-weight: 900;
					text-transform: uppercase;
					margin-right: 0;
				}
			}
			.special-price {
				order: 2;
				.price-container {
					.price-wrapper .price {
						color: #1459ce;
						font-size: 4rem;
						font-family: "Muli", sans-serif;
						font-weight: 900;
						text-transform: uppercase;
						margin-right: 0;
					}
				}
			}
			.old-price {
				margin-bottom: 13px;
				order: 1;
				text-decoration: line-through;
				color: #869ab5;
				.price-label {
					display: none;
				}
				.price-wrapper .price {
					color: #869ab5;
					font-size: 2rem;
					font-family: "Muli", sans-serif;
					font-weight: 900;
					text-transform: uppercase;
					margin-right: 0;
				}
			}
		}
	}










	.fotorama .fotorama__stage {
		left: 0 !important;
	}
	.fotorama .fotorama__stage__shaft {
		top: 1px;
		max-width: inherit !important;
	}
	
	@media only screen and (min-width: 768px) {
	   .fotorama {
		overflow: visible;
	  }
	}
	 .fotorama--fullscreen .fotorama__fullscreen-icon {
	  right: 0 !important;
	}
	 .fotorama--fullscreen .fotorama__nav-wrap--vertical {
	  top: 10px;
	  left: 10px !important;
	}
	@media only screen and (min-width: 768px) {
	   .fotorama--fullscreen .fotorama__zoom-in,
	   .fotorama--fullscreen .fotorama__zoom-out {
		left: 75px;
	  }
	}
	@media only screen and (min-width: 993px) {
	   .fotorama--fullscreen .fotorama__zoom-in,
	   .fotorama--fullscreen .fotorama__zoom-out {
		left: 112px;
	  }
	}
	 .fotorama--fullscreen .fotorama__arr--prev {
	  left: 75px;
	}
	 .fotorama .fotorama__nav.fotorama__shadows--left::before,
	 .fotorama .fotorama__stage.fotorama__shadows--left::before,
	 .fotorama .fotorama__nav.fotorama__shadows--right::before,
	 .fotorama .fotorama__stage.fotorama__shadows--right::before,
	 .fotorama .fotorama__nav.fotorama__shadows--left::after,
	 .fotorama .fotorama__stage.fotorama__shadows--left::after,
	 .fotorama .fotorama__nav.fotorama__shadows--right::after,
	 .fotorama .fotorama__stage.fotorama__shadows--right::after {
	  display: none;
	}
	 .fotorama .fotorama__stage {
	  left: 0 !important;
	  height: 500px !important;
	}
	 .fotorama .fotorama__stage::after {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -o-box-sizing: border-box;
	  box-sizing: border-box;
	  /*.bg-icon('fm_fullscreen.png'); 
		.bg(@mg-gray-light6);*/
	  border-radius: 100px !important;
	  -moz-border-radius: 100px !important;
	  -webkit-border-radius: 100px !important;
	  position: absolute;
	  top: 10px;
	  right: 10px;
	  z-index: 991;
	  width: 34px;
	  height: 34px;
	  z-index: 2;
	  pointer-events: initial;
	  cursor: pointer;
	}
	 .fotorama .fotorama__stage__shaft {
	  top: 1px;
	  max-width: inherit !important;
	}
	 .fotorama .fotorama__stage__frame .fotorama__img {
	  width: 100% !important;
	  //width: auto !important;
	  top: 0;
	  vertical-align: top;
	  transform: translate3d(-50%, 0, 0);
	}
	 .fotorama .fotorama__stage__frame .fotorama__caption {
	  display: none;
	}
	 .fotorama .fotorama__thumb {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -o-box-sizing: border-box;
	  box-sizing: border-box;
	  background-color: #ffffff;
	}
	 .fotorama .fotorama__thumb-border {
	  background: none;
	  margin-top: 0px;
	  border-color: #06aaed;
	  border-width: 2px;
	}
	 .fotorama .fotorama__arr--next {
	  right: 0 !important;
	}
	@media only screen and (max-width: 767px) {
	   .fotorama .fotorama__arr--prev {
		left: 0 !important;
	  }
	}
	 .fotorama .fotorama__nav__shaft {
	  background: transparent;
	}
	 .fotorama .fotorama__nav--dots .fotorama__nav__frame {
	  width: 10px;
	}
	 .fotorama .fotorama__nav--dots .fotorama__nav__frame .fotorama__dot {
	  background-color: #404040;
	  border-color: #404040;
	  width: 3px;
	  height: 3px;
	}
	 .fotorama .fotorama__nav--dots .fotorama__nav__frame.fotorama__active .fotorama__dot {
	  background-color: #000000;
	  border-color: #000000;
	}
	 .fotorama .fotorama__nav--thumbs .fotorama__nav__frame {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	@media only screen and (min-width: 993px) {
	   .fotorama .fotorama__nav-wrap--vertical {
		left: -112px;
	  }
	}
	@media only screen and (max-width: 992px) {
	   .fotorama .fotorama__nav-wrap--vertical {
		left: -75px;
	  }
	}
	@media only screen and (max-width: 767px) {
	   .fotorama .fotorama__nav-wrap--vertical {
		display: none !important;
	  }
	}
	 .fotorama .fotorama__nav-wrap--vertical .fotorama__nav__frame {
	  margin-right: 0px;
	}
	 .fotorama .fotorama__nav-wrap--horizontal .fotorama__nav__frame {
	  margin-bottom: 0px;
	}
	@media only screen and (max-width: 992px) {
	   .fotorama .fotorama__nav-wrap--horizontal {
		margin-top: 45px;
		margin-top: 15px;
		/*border-t: 1px solid #404040;*/
	  }
	   .fotorama .fotorama__nav-wrap--horizontal .fotorama__nav--thumbs {
		height: auto !important;
	  }
	}
	@media only screen and (max-width: 767px) {
	   .fotorama .fotorama__nav-wrap--horizontal {
		/*border-t: 1px solid #404040;*/
		margin-top: 15px;
	  }
	}
}
body.live-streaming.catalog-product-view .page-title-wrapper {
    margin-bottom: 10px;
}
@media screen and (min-width: 993px) {	
	body.live-streaming.page-layout-1column .product-info-main.product-shop {
		padding-left: 40px;
	}
}
@media screen and (max-width: 992px) {
	body.live-streaming {
		.video-cms-section-1,
		.video-cms-section-2,
		.video-cms-section-3 {
			padding: 66px 15px;
		}
		.video-cms-section-1 {
			padding-bottom: 0;
		}
		.video-cms-section-1 {
			.legend-section .ls-box {
				margin-left: 0;
			}
		}
		.product-info-main.product-shop,
		.product.media.product-img-box {
			padding: 0 15px;
		}
	}
}

@media only screen and (min-width: 993px) {
	.catalog-product-view {
		.block.related {
			padding-left: 30px;
			padding-right: 30px;
		}
		.product-info-right {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	body.fastdraw {
		.page-main {
			.product-info-top {
				max-width: 1050px;
				margin: 0 auto;
				width: 100%;
				padding: 30px;
			}
		}
	}
}
.catalog-product-view {
	.product-item-name {
		a {
			color: #333;
			font-family: "Muli",sans-serif;
			font-size: 14px;
			font-weight: 900;
			color: #000000;
			&:visited {
				color: #333;
				font-family: "Muli",sans-serif;
				font-size: 14px;
				font-weight: 900;
				color: #000000;
			}
		}
	}
	.product-item-info {
		&:hover {
			.product-item-details {
				.product-item-name {
					a {
						color: #333;
						font-family: "Muli",sans-serif;
						font-size: 14px;
						font-weight: 900;
						color: #000000;
					}
				}
			}
		}
	}
	.fieldset{
		span{
			color: #fff;
		}
		.field{
			.label {
			    color: #fff;
			}
			.control{
				select{
					-webkit-appearance: none;
				    -moz-appearance: none;
				    background: #1459ce;
				    color: #fff;
				    padding: 20px;
				    min-height: inherit;
				    height: auto;
				    width: auto;
				    font-size: 15px;
				    font-weight: 900;
				    margin-top: 10px;
				    border-color: #1459ce;
				    &:focus{
				    	border:1px solid #fff;
				    }
				}
			}
		}
	}
}
.block.related {
	.pdp-bt-with-bg {
		strong {
			color: #fff;
		}
		color: #fff;
	}
	ol#block_related {
		.product-item-info {
			border: transparent;
			-webkit-box-shadow: 0px 0px 16px -4px rgba(109,109,109,0.5);
			-moz-box-shadow: 0px 0px 16px -4px rgba(109,109,109,0.5);
			box-shadow: 0px 0px 16px -4px rgba(109,109,109,0.5);
			padding: 0 5px;
			background-color: #fff;
			.product-item-description {
				p {
					font-family: "Muli",sans-serif;
					font-size: 14px;
					font-weight: 900;
					color: #000000;
				}
				margin-bottom: 10px;
			}
		}
	}
}
