/**
 * Custom Style Sheet
 *
 * @less			'Checkbox/Radio'
 */


//
// @Sidebar		Checkbox/Radio	
// ---------------------------------------------
.sidebar {
	input {
		&[type="radio"],
		&[type="checkbox"] {
			
		}
	}
}


//
// @Main Column		Checkbox/Radio	
// ---------------------------------------------
.block.filter,
.onestepcheckout-popup-wrapper,
.modal-popup,
.column.main {
	.product-related-visible {
		input {
			&[type="checkbox"] {
				~ label,
				+ label {
					&::before,
					&::after {
						border-color: transparent;
					}
				}
			}
		}
	}
	input {
		&[type="radio"],
		&[type="checkbox"] {
			.fl(l); 
			.mg(all,0,px);
			.mg(top,5,px);
			width: 14px;
			height: 14px;
			cursor: pointer;
			opacity: 0;
			~ label,
			+ label {
				.pos(r);
				.pd(left,23,px);
				color: @mg-gray-dark2;
				line-height: 21px !important;
				display: block !important;
				cursor: pointer;
				&::before,
				&::after {
					.pos(a,5,'',0);
					.trans(all, 0.35, ease, 0);
					.border(all,transparent,1);
					.bg(@mg-white);
					content: "";
					width: 14px;
					height: 14px;
				}
				&::before {
					opacity: 0.5;
					opacity: 1;
					border-color: @mg-blue1;
				}
				&::after {
					.pos(a,5,'',3);
					.tsc(0);
				}
			}
			&:hover {
				~ label,
				+ label {
					color: @mg-gray-dark2;
				}
			}
			&:checked {
				~ label,
				+ label {
					color: @mg-gray-dark2;
					&::before {
						opacity: 1;
					}
					&::after {
						.tsc(1);
						left: 0;
					}
				}
			}
			&[disabled=""],
			&[disabled="disabled"] {
				~ label,
				+ label {
					opacity: 0.5;
					cursor: default;
					color: @mg-gray-dark2 !important;
				}
			}
		}
		&[type="radio"] {
			~ label,
			+ label {
				&::before {
					.br(100);
				}
				&::after {
					.br(100);
					.bg-icon('dot-white.png', auto 6px);
				}
			}
			&:checked {
				~ label,
				+ label {
					&::before {
						.bg(@mg-blue-dark1);
						border-color: @mg-blue-dark1;
					}
				}
			}
		}
		&[type="checkbox"] {
			width: 12px;
			height: 12px;
			~ label,
			+ label {
				&::before,
				&::after {
					width: 12px;
					height: 12px;
				}
				&::after {
					.bg(@mg-blue1);
					.bg-icon('tick-white.png', auto 8px);
				}
			}
			&:checked {
				~ label,
				+ label {
					&::before {
						.bg(@mg-blue1);
						border-color: @mg-blue1;
					}
				}
			}
		}
	}
}
