/**
 * Custom Style Sheet
 *
 * @less			'sections'
 */

.box {
	.ta(l);
	.clear();
	.figure,
	.detail {
		.boxsizing();
	}
	.figure {
		.mg(bottom,20,px);
		a[data-fancybox] {
			
		}
		img {
			vertical-align: middle;
		}
	}
	.detail {
		p {
			.mg(bottom,10,px);
		}
	}
	&-section {
		.vgap(section);
		&.nogap {
		}
		&.st {
		}
		&.sc {
			.box-content {
				.mg(top,0,px);
			}	
		}
		&.bg {
			background-image: none;
			background-repeat: no-repeat;
			background-position: center top;
			background-size: auto 100%;
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			&-black {
				.bg(@mg-black);
			}
			&-white {
				.bg(@mg-white);
			}
			&-fixed {
				.vgap(single);
				.pos(r);
				.med(gtm,{
					background-attachment: fixed;
				});
				&::before {
					.bg(rgba(0,0,0,0.65));
					.pos(a,0,0,0,0);
					content: "";
				}
				.box {
					.pos(r);
					.ta(l);
					.figure {
						.ds(n);
					}
				}
			}
			&-pbsignup {
				.med(gtm,{
					.bg('','homepage_background.png'); 
					.pd(top,70,px);
					.pd(bottom,0,px);
					background-color: #e5e9f0;
				});
				.med(gtts,{
					.pd(top,130,px);
				});
				.med(m,{
					.pd-tb(0,px);
				});
			}
			&-coach {
				.bg('','home/coach/cocah_background.png'); 
				.pd-tb(70,px);
				background-position: 0 -94px;
			}
			&-acoach {
				.bg('','fm_section-account-coach.jpg'); 
				.pd-tb(130,px);
			}
		}
	}
	&-large {
		max-width: 1135px + (@mg-edge-gap * 2);
		.med(fluid,{
			max-width: 1135px + (@mg-edge-gap-fluid * 2);
		});
		.med(xfluid,{
			max-width: 1135px + (@mg-edge-gap-xfluid * 2);
		});
	}
	&-medium {
		max-width: 980px + (@mg-edge-gap * 2);
		.med(fluid,{
			max-width: 980px + (@mg-edge-gap-fluid * 2);
		});
		.med(xfluid,{
			max-width: 980px + (@mg-edge-gap-xfluid * 2);
		});
	}
	&-small {
		max-width: 750px;
	}
	&-xsmall {
		max-width: 630px;
	}
	&-title,
	&-content {
		h1,
		h2,
		h3 {
			.ds(b);
			> span {
			}
		}
		h1 {
			.tt(u);
		}
		h2 {
			
		}
		h3 {
			
		}
		.actions {
			.mg(top,25,px);
			.med(m,{
				.mg(top,15,px);
			});
			.action {
				min-width: 130px;
				&:not(:first-child) {
					.mg(left,10,px);
				}
			}
		}
	}
	&-title {
		.clear();
		h2 {
			.fl(l);
			.tt(u);
			.mg-tb(0,px);
		}
		p {
			.pos(r);
			.fs(18);
			.pd(left,25,px);
			.mg(left,25,px);
			.mg(bottom,0,px);
			.ds(ib);
			color: @mg-gray2;
			&::before {
				.bg(@mg-gray2);
				.pos(a,'','',0);
				.mg(top,-9,px);
				content: "";
				width: 1px;
				height: 18px;
				top: 50%;
			}
			&.sup {
			}
			&.sub {
			}
		}
		.actions {
			.mg(top,25,px);
		}
	}
	&-content {
		.mg(top,25,px);
		.med(m,{
			.mg(top,15,px);
		});
	}
	&-white {
		color: @mg-white;
		.box {
			&-title,
			&-content {
				h1, h2, h3, h5, p {
					color: inherit;
					span {
						color: inherit;
					}
				}
			}
		}
	}
	&-2half {
		.figure {
			.med(gtm,{
				width: 50%;
			});
		}
		.detail {
			.ta(l);
		}
		.right {
			.med(gtm,{
				.fl(r);
				.pd(left,60,px);
			});
			+ .detail {
				.med(gtm,{
					.mg(right,50,%);
				});
			}
		}
	}
	&-getfastdraw {
		h3 {
			.fm(@mg-font-hMd);
			.fs(30);
			.fw(n);
			.mg(top,0,px);
			.mg(bottom,15,px);
			.c(@mg-gray-dark1);
			strong {
			}
		}
		p {
			.fs(18);
			.c(@mg-white);
		}
		.figure {
			.fl(l);
			.ta(c);
			width: 40%;
		}
		.detail {
			.pd(left,40,%);
			.actions {
				.mg(top,40,px);
				.action {
					&.quinary {
						&::before {
							.bg-icon('fm_fastdraw.png');
							width: 22px;
							height: 22px;
						}
					}
				}
			}
		}
		.box {
			&-content {
				.clear();
				.bg('','fm_getfastdraw-bg.jpg',0 0,100%);
				.pd(all,30,px);
				.pd(bottom,0,px);
			}
		}
	}
	&-pbsignup {
		.drop-arrow-box {
			position: relative;
			a.dab-arrow {
				background: url(../images/home/white-drondown.png) no-repeat 0 0;
				display: inline-block;
				height: 12px;
				width: 18px;
				position: absolute;
				top: 80px;
			}
			a.dab-arrow:hover {
				text-decoration: none;
			}
		}
		.med(m,{
			.pd-lr(0,px);
		});
		.aside {
			//.bg('','fm_gradient-bg2.jpg','',auto 100%,repeat-x); 
			//background-color: #1459d0;
			.med(gtm,{
				//.bs(10,10,20,rgba(6, 6, 6, 0.3));
				.pos(r);
				.mg(left,55,%);
				.mg(bottom,-30,px);
			});
			.med(gtts,{
				.mg(left,60,%);
			});
		}
		.detail {
			.boxsizing();
			.med(gtm,{
				.fl(l);
				.pd(top,0,px);
				.pd(right,20,px);
				width: 55%;
			});
			.med(gtts,{
				.pd(top,30,px);
				.pd(right,30,px);
				width: 60%;
			});
			.med(m,{
				.bg('','fm_section-pbsignup.jpg'); 
				.pd(top,35,px);
				.pd(bottom,25,px);
				.pd-lr(15,px);
			});
			h2 {
				/*.pos(r);
				.fm(@mg-font-gOs);
				.fs(41);
				.tt(u);
				.pd(top,35,px);
				.mg(top,0,px);
				.mg(bottom,20,px);*/
				.fm(@mg-font-gMu);
				font-size: 5rem;
				font-weight: 900;
				text-transform: uppercase;
				&::before {
					/*.bg(@mg-blue4);
					.pos(a,0,'',0);
					content: "";
					width: 30px;
					height: 3px;*/
					content: "";
					border-top: 4px solid #fff;
					width: 30px;
					display: block;
					margin-bottom: 40px;
				}
			}
			p {
				/*.fm(@mg-font-gMu);
				.fs(16);
				.fw(600);*/
				font-size: 1.5rem;
			}
			.actions:after {
				display: block;
				clear: both;
				content: "";
			}
			.actions {
				.mg(top,50,px);
				a.action {
					color: #fff;
					font-size: 14px;
					font-family: "Muli",sans-serif;
					font-weight: 900;
					padding: 10px 40px;
					text-transform: uppercase;
					letter-spacing: 1px;
					float: left;
					height: auto;
					background: transparent;
					line-height: inherit;
				}
				a.action.tertiary {
					border: 2px solid #1d6bfe;
    				margin-right: 30px;
				}
				a.action.quaternary {
					background: url(../images/home/learn-more-icon.png) no-repeat 0 10px;
    				border: 2px solid transparent;
				}
			}
			.drop-arrow-box {
				position: relative;
				.drop-arrow-box a.dab-arrow {
					background: url(../images/home/white-drondown.png) no-repeat 0 0;
					display: inline-block;
					height: 12px;
					width: 18px;
					position: absolute;
					top: 80px;
				}
			}
			.note {
				.mg(top,10,%);
				.mg-lr(auto);
				max-width: 300px;
				.med(gtm,{
					.mg(bottom,30,px);
				});
				p {
					.fs(12);
					.mg(bottom,0,px);
				}
			}
			
		}
		.tabs {
			&-signup {
			}
			&-head {
				.clear-list();
				li {
					.mg(right,5,px);
					.ds(ib);
					width: 30%;
					max-width: 130px;
					vertical-align: top;
					.med(gtts,{
						.mg(right,10,px);
						width: 25%;
						max-width: inherit;
					});
					a {
						.pos(r);
						.fm(@mg-font-gOs);
						.fs(10);
						.ls(0.2);
						.ta(c);
						.tt(u);
						.c(@mg-white);
						.pd(top,10,px);
						.pd-lr(10,px);
						.ds(b);
						.med(gtts,{
							.fs(11);
						});
						span {
							.border(bottom,transparent,2);
							.pd(bottom,10,px);
							.ds(b);
						}
						&::before {
							.pos(a,0);
							content: "";
							left: 50%;
						}
						&:hover {
							.td(n);
						}
						&.t1 {
							.fs(12);
							.med(gtts,{
								.fs(13);
							});
							&::before {
								.bg-icon('fm_signup-white.png');
								.mg(left,-16,px);
								top: 20px;
								width: 32px;
								height: 32px;
								display: none;
							}
							span {
								.lh(28);
								.med(gtts,{
									.lh(30);
								});
								//border-bottom-color: @mg-blue-dark1;
							}
						}
						&.t2 {
							span {
								//border-bottom-color: @mg-blue5;
							}
						}
						&.t3 {
							span {
								//border-bottom-color: @mg-green-light1;
							}
						}
					}
					&.ui-tabs-active,
					&.ui-state-active {
						a {
							//.bg(@mg-blue4);
							.ls(0.1);
							//.c(@mg-purple-dark2);
							background-color: #1459cf;
							color: #ffffff;
							box-shadow: 0px -15px 14px rgba(6, 6, 6, 0.3);
							span {
								border-bottom-color: transparent !important;
							}
							&.t1 {
								&::before {
									.bg-icon('fm_signup-gray.png');
									display: none;
								}
							}
						}
					}
				}
			}
			&-detail {
				background-color: #1459d0;
				box-shadow: 10px 10px 20px rgba(6, 6, 6, 0.3);
				.pd-tb(25,px);
				.pd-lr(15,px);
				.med(gtm,{
					.pd-lr(25,px);
				});
				.med(gtts,{
					.pd(all,50,px);
				});
				.fieldset {
					.field  {
						> .label {
							.fs(13);
							.fw(b);
							&::after {
								.c(@mg-blue4);
								.pd(left,3,px);
							}
						}
						.password-strength-meter {
							.c(@mg-white);
							.pd(left,0,px);
						}
						.input-text {
							.bg(none);
							.fm(@mg-font-gMu);
							.c(@mg-white);
							border-color: #ffffff;
							border-width: 0 0 1px;
						}
						&.choice {
							> label {
								.fm(@mg-font-gMu);
								.c(@mg-white);
								.pd(left,30,px);
								&::before {
									.bg(@mg-white);
									top: 0;
									width: 18px;
									height: 18px;
								}
								&::after {
									.bg(@mg-purple-dark1);
									.pd(left,0,px);
									top: 4px;
									left: 4px;
									width: 10px;
									height: 10px;
								}
							}
						}
					}
				}
				.actions {
					.mg(top,50,px);
					&-toolbar {
						> .primary {
							.med(gtm,{
								.fl(r);
							});
						}
						.action {
							.mg(right,0,px);
							.mg(top,0,px);
						}
					}
				}
				.actions-toolbar.signup-cta {
					.action {
						border-radius: 0 !important;
						width: 100%;
					}
					.primary {
						width: 49%;
						button.action {
							
						}
					}
					.secondary {
						width: 49%;
						a.action.tertiary {

						}
					}
				}
			}
		}
	}
	&-coach {
		.box {
			&-title {
				color: @mg-white;
				h2 {
					.fm(@mg-font-gMu);
					//.fs(42);
					.fl(n);
					.tt(c);
					.pd(left,12,px);
					//.border(left,@mg-blue1,5);
					border-left: 5px solid #1459d0;
					font-size: 3rem;
					font-weight: 800;
					strong {
						font-size: 5rem;
						font-weight: 900;
					}
				}
				p {
					.fm(@mg-font-gMu);
					.fs(14);
					.pd(left,0,px);
					.mg(top,10,px);
					.mg(left,0,px);
					color: @mg-white;
					&::before {
						.ds(n);
					}
					strong {
						.fs(18);
					}
					span {
						//.c(@mg-blue1);
						color: #1459d0;
					}
				}
			}
			&-content {
			}
		}
		.coach {
			&-item {
				&-photo {
					.pos(r);
					.ta(c);
					.ds(ib);
					&::before {
						.bg(@mg-gray-dark5);
						.br(100);
						.pos(a,'',0,'',0);
						content: "";
						width: 9px;
						height: 9px;
					}
					img {
						.br(100);
					}
					&.active {
						&::before {
							.bg(@mg-green1);
						}
					}
				}
				&-info {
					.trans(all, 0.35, ease, 0);
					.bg(rgba(37,38,40,1));
					.br(5);
					.pd(all,30,px);
					&:hover {
						.bg(rgba(214,229,237,0.35));
						.bs(0,0,10,rgba(0,0,0,0.25));
						.coach-item {
							&-details {
								.c(@mg-white);
							}
							&-actions {
								.action {
									opacity: 1;
								}
							}
						}
					}
					a {
						.c(@mg-white);
					}
				}
				&-details {
					.fm(@mg-font-gMu);
					.c(@mg-gray-light7);
					.mg(top,30,px);
				}
				&-name {
					.fs(18);
					.fw(700);
					.mg(bottom,10,px);
				}
				&-description {
					.fs(13);
				}
				&-status {
					.fs(11);
					.fw(500);
					.mg(top,12,px);
				}
				&-actions {
					.mg(top,25,px);
					.mg(bottom,15,px);
					.action {
						.pos(r);
						.fs(0);
						.mg-lr(8,px);
						.ds(ib);
						width: 26px;
						height: 26px;
						opacity: 0.8;
						&[title] {
							&::before {
								.ts(X,-50%);
								.bg(@mg-white);
								.br(7);
								.pos(a);
								.fs(11);
								.c(@mg-gray5);
								.pd-tb(5,px);
								.pd-lr(15,px);
								.mg(top,10,px);
								.ds(n);
								content: attr(title);
								white-space: nowrap;
								top: 100%;
								left: 50%;
								
							}
							&::after {
								.pos(a);
								content: "";
								top: 100%;
								margin-top: 3px;
								margin-left: 7px;
								width: 0px;
								height: 0px;
								border-left: 7px solid transparent;
								border-right: 7px solid transparent;
								border-bottom: 7px solid @mg-white;
								.ds(n);
							}
							&:hover {
								opacity: 1;
								&::before,
								&::after {
									.ds(b);
								}
							}
						}
						&-email {
							.bg-icon('fm_email-gray.png');
							&:hover {
								.bg-icon('fm_email-blue.png');
							}
						}
						&-friend {
							.bg-icon('fm_friend-gray.png');
							&:hover {
								.bg-icon('fm_friend-blue.png');
							}
						}
						&-folder {
							.bg-icon('fm_folder-gray.png');
							&:hover {
								.bg-icon('fm_folder-blue.png');
							}
						}
					}
				}
			}
		}
		.slick-slider {
			.pd(bottom,70,px);
			.mg(bottom,0,px);
			.slick {
				&-prev,
				&-next {
					.ts(Y,-100%);
					top: -20px;
				}
				&-prev {
					left: auto;
					right: 40px;
					&::before {
						.bg-icon('fm_arrow-left-white.png');
					}
				}
				&-next {
					&::before {
						.bg-icon('fm_arrow-right-white.png');
					}
				}
				&-dots {
					bottom: 0;
					li {
						button {
							.bs(none);
							border: 0;
							&::before {
								.fs(18);
								.c(@mg-gray-dark4);
								content: "\25A0";
							}
						}
						&.slick-active {
							button {
								&::before {
									.c(@mg-blue1);
								}
							}
						}
					}
				}
			}
		}
	}
}



.itemlist {
	.boxsizing();
	.fs(15);
	.ta(c);
	.ds(ib);
	.pd-lr(15,px);
	display: inline-block !important;
	vertical-align: top;
	.med(m,{
		.pd-lr(10,px);
	});
	img {
		.ds(ib);
		vertical-align: top;
	}
	p {
		.mg(bottom,0,px);
	}
	&-container {
		.clear-list();
		.fs(0);
		.ls(0);
		.mg-lr(-15,px);
		.med(m,{
			.mg-lr(-10,px);
		});
	}
	&-2 {
		.itemlist {
			.med(gtm,{
				width: 100%/2;
			});
		}
	}
	&-3 {
		.itemlist {
			.med(gtm,{
				width: 100%/3;
			});
		}
	}
	&-4 {
		.itemlist {
			.med(gtm,{
				width: 100%/4;
			});
		}
	}
	&-5 {
		.itemlist {
			.med(gtm,{
				width: 100%/5;
			});
		}
	}
}

.med(gtm,{
	#comp_slick_carousel {	
		.slick-list {
			overflow: visible;
		}
		.slick-arrow {
			.ds(n,imp);
		}
		.slick-track {
			.ts(none,imp);
			width: 100% !important;
		}
	}
});