/**
 * Custom Style Sheet
 *
 * @less			'slick'
 */

.slick {
	&-list,
	&-track {
		
	}
	&-dots {
		bottom: -30px;
		li {
			.mg-lr(0,px);
			button {
				&::before {
					.fs(9);
					opacity: 1;
					color: @mg-gray1;
				}
			}
			&.slick-active {
				button {
					&::before {
						opacity: 1;
						color: @mg-gray-dark1;
					}
				}
			}
		}
	}
	&-prev,
	&-next {
		&:not(.primary) {
			.bs(none);
		}
		.trans(all, 0.35, ease, 0);
		.br(0);
		.bg(none);
		width: 40px;
		height: 40px;
		z-index: 1;
		border: 0 !important;
		.med(m,{
			width: 30px;
			height: 30px;
		});
		&::before {
			.pos(a,0,0,0,0);
			.ts(Y,0);
			color: inherit;
		}
		&:active,
		&:focus,
		&:hover {
			border-color: transparent;
			background-color: transparent;
			color: inherit;
			opacity: 1;
		}
		&.slick-disabled {
			cursor: auto;
			opacity: 0.35;
			pointer-events: none;
			&::before {
				opacity: 1;
			}
		}
	}
	&-prev {
		left: 0;
		&::before {
			.bg-icon('fm_arrow-left-gray.png');
			content: "";
		}
	}
	&-next {
		right: 0;
		&::before {
			.bg-icon('fm_arrow-right-gray.png');
			content: "";
		}
	}
}