<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Newsletter\Block\Subscribe $block */

?>

<div class="block newsletter">
    <div class="title"><strong><?= $block->escapeHtml(__('Join our mailing list receive free playbooks, exclusive coaching content, special offers, and event discounts.')) ?></strong></div>
    <div class="content">
        <div id="popup-modal" style="display:none;">
            <form class="form subscribe"
                novalidate
                action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
                method="post"
                data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                id="newsletter-validate-detail">
                <div class="field newsletter">
                    <label class="label" for="newsletter"><span><?= $block->escapeHtml(__('Sign Up for Our Newsletter:')) ?></span></label>
                    <div class="control">
                        <input name="email" type="email" id="newsletter"
                                    placeholder="<?= $block->escapeHtml(__('Enter your email address')) ?>"
                                    data-validate="{required:true, 'validate-email':true}"/>
                    </div>
                </div>
                <div class="actions">
                    <button class="action primary" title="<?= $block->escapeHtmlAttr(__('Subscribe')) ?>" type="submit">
                        <span><?= $block->escapeHtml(__('Submit')) ?></span>
                    </button>
                </div>
            </form>
        </div>
        <div class="actions">
            <button class="action subscribe primary" title="<?= $block->escapeHtmlAttr(__('Subscribe')) ?>" id="subscribeId">
                <span><?= $block->escapeHtml(__('CLICK HERE TO SUBSCRIBE')) ?></span>
            </button>
        </div>
    </div>
</div>
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'Newsletter',
                buttons: []
                /*buttons: [{
                    click: function () {
                        this.closeModal();
                    }
                }]*/
            };

            var popup = modal(options, $('#popup-modal'));
            $("#subscribeId").on('click',function(){ 
                $("#popup-modal").modal("openModal");
            });

        }
    );
</script>