
.page-header { 
	font-family:@mg-font-gMu;
	font-size:@font15;
	background:#09090b;	
	.header.content {
	    height: 80px;
		.header.panel {
			.logo {
				top: -10px;
	        }
			.nav-sections { 
				background: transparent;
				margin: 0;
				/*float: right;width: 100%;*/
				ul { 
					/*width: 50%; text-align: center; float: left; margin: 0 25%;*/
					/*width: calc(80% - 232px);
					width: -o-calc(80% - 232px)!important;
				    width: -webkit-calc(80% - 232px) !important;
				    width: -moz-calc(80% - 232px) !important;*/
				    width: @full;
				    padding: 15px @zero;
				    max-width: 640px;
				    position: absolute;
				    text-align: @center;
				    left: 23%;
				    @media only screen and (min-width: 999.1px) and (max-width: 1099px){
				    	left: 20%;
				    }
				    @media only screen and (min-width: 880.1px) and (max-width: 999px){
				    	left: 17%;
				    }
				    @media only screen and (max-width: 880px){
				    	width:60%;
				    	left: 21%;
				    }
					li {
						@media only screen and (max-width: 1099px){		
							padding-right: 15px;
						}
						a { 
							font-size: @font15 !important; 
							font-family: @mg-font-gMu !important; 
							font-weight: @bold !important;						
							@media only screen and (max-width: 960px){		
								font-size: 13px !important; 
							}
						}
						ul.submenu {text-align:@left;}				
					}	
				}
				.nav-sections-item-content {
					.navigation { background: transparent; }				
					.header.links {
						/*display: block !important;list-style: none;float: right;width: 25%;margin: -48px 0 0;display: -webkit-flex;
						display: flex !important;*/
						display: @none;
						/*list-style: none;
					    float: right;
					    width: 23.70%;
					    margin: -45px 0 0;
					    display: -webkit-flex;
					    display: flex !important;*/
						li{ 
							float: @right;
							margin-bottom: @zero;
							a { 
								background-color: #1459d0; 
								font-weight:@bold;
								-webkit-transition: all 0.35s ease 0s;
								font-size:@font15;
								text-transform: uppercase;
								letter-spacing: 0.05em;
								padding-top: @zero;
								padding-bottom: @zero;
								padding-left: 25px;
								padding-right: 25px;
								display: inline-block;
								height: 44px;
								color: @mg-white; cursor: pointer; text-decoration: @none;
								line-height: 44px; 
								&:hover {
									background-color: #000D25;
								}
							}
							&:nth-child(3) {
			                    a {
			                        min-width: 101px;
			                    }
			                }
						}
						
						li.authorization-link { margin-left:35px; float: left; 
							a { background-color: #1459D0;
								&:hover{background-color:#000D25;}
							}
						}
						li.greet.welcome { display: @none; }
						li:nth-child(2) {
							order: 2;
							margin-right: 15px;
							margin-left: 20px;
							a {
								width: 68px;
							}
						}
						li:nth-child(3) {
							order: 3;
							a {
								width: 57px;
							}
						}		
						li.customer-welcome {
							order: 1;
							.customer-name {
								background: url(../images/home/setting-icon.png) no-repeat;
								display: inline-block;
								height: 33px;
								margin-top: 6px;
								margin-right: 20px;
								width: 34px;
							}
							.customer-name:first-child span,
							.customer-name .action.switch {
								display: @none;
							}
						}
						li.playbank-logout {
			                a {
			                    min-width: 80px;
			                }
			            }
						.customer-menu {
							.header.links {
								display: block !important;
								margin: @zero;
								li {
									margin: @zero;
									width: @full;
									a {
										display: block;
										padding: @zero 20px;
										width: auto;
									}
								}
							}
						}
					}
				}
			}
	    
		    .header.links {
		        .logout-link {
		            display: @none;
		        }
		        li{
					&.authorization-link{
						background: #595c6e;
					}
				    background: #1459d0;
				    padding: 10px;
				    a{
				    	text-transform: uppercase;
				    }
				}
		    }
	    }
    }
}
