/**
 * The 'Custom' Theme
 *
 * @less		'custom'
 * @import		'lib'
 * @import		'elements'
 */

@import 'custom/_lib.less'; // Custom Theme lib
@import 'custom/_elements.less'; //Custom Theme Elements

.page-product-downloadable .column.main,
.page-product-downloadable,
.page-product-downloadable .product-info-top{
    background-color: #fff
}

.page-product-downloadable.catalog-product-view .page-title-wrapper h1{
    color: #1d1d1d;
    font-family: 'Muli',sans-serif;
    font-weight: 900;
}
body.page-product-downloadable .overview .value .fastdraw-button .send-fastdraw a {
    color: #1550b9 !important;
    border: 2px solid #abafb7;
}
.page-product-downloadable .product-info-main .product.attribute.overview .value p:first-child{
    color: #858b9d;
}
body.page-product-downloadable .pdp-bt-with-bg{
    background: #1459d0;
}
body.page-product-downloadable .block.related .block-title strong{
    color: #1459d0;
    background-color: #fff;
}
body.page-product-downloadable .pdp-bt-with-bg p{
    color: #fff
}

.page-product-downloadable .product-items .product-item-name, 
.page-product-downloadable .product-items .product.name a, 
.page-product-downloadable .product-items .product-item-name a:visited,
.page-product-downloadable .products-grid .product-items li .product-item-info:hover .product-item-details *, 
.page-product-downloadable .products-grid .product-items li .product-item-info:hover .product-item-details .product-item-name a{
    font-family: "Muli",sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #000000;
}
body.page-product-downloadable .products-grid .product-item .product-item-info.fixit .product-item-details,
body.page-product-downloadable .products-grid .product-item-inner{
    background-color: #fff;
}
.page-product-downloadable .products-grid .product-items li .product-item-info{
    border: transparent;
    -webkit-box-shadow: 0px 0px 16px -4px rgba(109,109,109,0.5);
    -moz-box-shadow: 0px 0px 16px -4px rgba(109,109,109,0.5);
    box-shadow: 0px 0px 16px -4px rgba(109,109,109,0.5);
    padding: 0 5px;
    background-color: transparent;
}
.page-product-downloadable .fm-product-scroll-links{
    display: none;
}
.page-product-downloadable .product-info-main .samples-item{
    display: inline-block;
    width: 100%;
}
.page-product-downloadable .product-info-main .samples a.item-link.samples-item-link {
    background-color: #1434d0;
    background-image: none;
    box-shadow: 5px 9px 12px -5px #1434d0;
    display: inline-block;
    width: 100%;
}
.page-product-downloadable .product-info-main .samples-item-link::before{
    background: none;
}
.downloadble-user-name {
    font-family: "HelveticaNeue-MediumCond",sans-serif,sans-serif;
    font-size: 16px;
    float: left;
    padding-left: 15px;
    margin-top: 20px;
    margin-left: 15px;
}
.downloadble-user-info h2 {
    float: left;
    margin: 10px 0;
}
.downloadble-user-info {
    display: inline-block;
    margin-top: 20px;
}

 .box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.eight .col-two,
 .box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.ten .col-two,
 .box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.ten .col-three,
.box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.ten .col-four,
.box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.eleven .col-five,
.box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.eleven .col-four,
.box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.ten .col-five,
.box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.eight .col-three,
.box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.eight .col-four,
.box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.eight .col-five
  {
    background-color: #f3f5f6;
    background-image: none;
}
.box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.nine .col-two,
.box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.eleven .col-two,
.box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.three .col-two,
.box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.seven .col-three,
.box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.nine .col-three,
 .box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.nine .col-four,
 .box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.nine .col-five,
 .box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.eleven .col-three,
 .box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.eleven .col-four,
 .box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.eleven .col-five
{
    background: none;
}
.box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.seven .col-five,
.box-section.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows .row.five .col-three{
    background-image: url(../images/green-tick.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4%;
    margin-bottom: 0;
}
.signup-free-trial .free-trial {
    display: block;
    width: 100%;
    border-radius: 0;
    padding: 12px;
    font-family: "Muli",sans-serif;
    color: #09915d!important;
}
#bannerslider.bslide-new .title.title-2 h2{
  font-size: 3.5rem
}
#bannerslider.bslide-new .description.description-2 p{
    font-size: 18px;
}
body.catalog-category-view .box-section .box-title.bt-with-bg h2{
  color:#1459d0;
}
body.catalog-category-view .box-section .box-title.bt-with-bg{
    background-color: #1459d0;
}
body.catalog-category-view .box-section{
    padding-top: 0;
}
@media only screen and (min-width:639px) and (max-width:767px){
   #bannerslider.bslide-new .right-side-img{
    display: none;
   }
}
@media only screen and (max-width:767px){
    #bannerslider.bannerslide-wrapper .is-image:not(.is-small) .detail{
       position: absolute;
       top: 10px;
    }
    #bannerslider.bslide-new .description.description-2 p{
      font-size:16px;
    }
}
@media only screen and (max-width:419px){
    #bannerslider.bslide-new .title.title-2 h2{
        font-size: 18px;
    }
    #bannerslider.bslide-new .bannerslide .title > div.cmd-name{
        width: auto;
    }
}
@media only screen and (max-width:321px){
    #bannerslider.bslide-new .description.description-2 p{
        font-size: 16px;
    }
    #bannerslider.bslide-new .bannerslide .actions{
        margin-top: 10px;
    }
}
@media only screen and (min-width:992px){
    .bannerslide-wrapper .image img{
        height: 350px
    }
}
.page-header .header.panel .logo {
    position: absolute;
    top: 0;
    left: 0;
}
body .page-header .nav-sections-item-content .header.links li:nth-child(3) a{
    width: 101px;
}
.page-product-downloadable .product-info-main .product-social-links,
.page-header .header.panel .header.links .logout-link{
    display: none;
}
.page-header .nav-sections-item-content .header.links li.customer-welcome .customer-name{
    margin-right: 20px;
}
.page-header .nav-sections-item-content .header.links li.playbank-logout a {
    width: 80px;
}


#playbankBoxsection .box-pbsignup .tabs-head li a.t1 span,
#playbankBoxsection .box-pbsignup .tabs-head li a.t2 span,
#playbankBoxsection .box-pbsignup .tabs-head li a.t3 span{
 line-height: inherit;
}
#playbankBoxsection .box-pbsignup .tabs-head li a.t1,
#playbankBoxsection .box-pbsignup .tabs-head li a.t2,
#playbankBoxsection .box-pbsignup .tabs-head li a.t3,
#playbankBoxsection .box-pbsignup .tabs-head li{
    min-height: 58px;
    font-size: 13px;
}
.box-section.bg.bg-pbsignup.sc.bg-t3 .tabs-detail,
.bg-t3 .box-pbsignup .tabs-head li.ui-tabs-active a, 
.bg-t3 .box-pbsignup .tabs-head li.ui-state-active a{
    background-color: #09915d
}
.box-section.bg.bg-pbsignup.sc.bg-t2 .tabs-detail,
.bg-t2 .box-pbsignup .tabs-head li.ui-tabs-active a, 
.bg-t2 .box-pbsignup .tabs-head li.ui-state-active a{
    background-color: #0a3e98
}
.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row .item-details .item-price .college-every-level {
    font-family: 'Muli',sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #262627;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 4px;
    min-height: 45px;
}
.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row .item-details .item-name{
    min-height: 50px;
    padding: 0 15px;
}
.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row ul li.header.active-pack .item-details .actions,
.fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row ul li.col-five.header .actions{
    margin-top: 18px;
}
#playbankBoxsection .box-pbsignup .tabs-head li a.t1, #playbankBoxsection .box-pbsignup .tabs-head li a.t2, #playbankBoxsection .box-pbsignup .tabs-head li a.t3, #playbankBoxsection .box-pbsignup .tabs-head li{
    font-family: 'Muli';
    font-weight: 700;
}
@media only screen and (max-width:767px){
    #playbankBoxsection .box-pbsignup .detail h2{
        font-size: 3rem;
    }
    #playbankBoxsection .box-pbsignup .tabs-head li{
        min-height: 70px;
    }
    body.catalog-category-view .plp-newsletter-box .plp-nl-box .join-our-box{
        width: 100%;
        text-align: center;
    }
    .catalog-category-view .plp-newsletter-box .plp-nl-box .nl-box{
        width: 100%;
        padding: 0 15px;
        display: inline-block;
    }
    header.page-header .header.panel .logo{
        top: 10px;
        left: 20px;
    }
    body.catalog-category-view .box-section .box-title.bt-with-bg h2
    {
        /*line-height: 60px;*/
        background-color: #1459d0;
        color: #fff;
        padding: 0 10px;
    }
    body.page-products .products-grid .product-items .product-item{
      margin-left: 0;
      width: 50%;
      padding: 0 10px;
    }
}
@media only screen and (min-width:768px) and (max-width:992px){
    #bannerslider.bannerslide-wrapper .is-image:not(.is-small) .detail{
        top: auto;
    }
    body.catalog-category-view .box-section .box-title.bt-with-bg h2
    {
        background-color: #1459d0;
        color: #fff;
        padding: 0 10px;
    }
}