<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Register $block */
?>

<div class="tabs-container tabs-signup">
	<ul class="tabs-head">
		<li data-trigger-class="box-section bg bg-pbsignup sc bg-t1"><a class="t1" href="#tab_1"><span>Sign Up</span></a></li>
		<li data-trigger-class="box-section bg bg-pbsignup sc bg-t2"><a class="t2" href="#tab_2"><span>Find Plays & Playbooks</span></a></li>
		<li data-trigger-class="box-section bg bg-pbsignup sc bg-t3"><a class="t3" href="#tab_3"><span>Become a Contributor</span></a></li>
	</ul>
	<div class="tabs-detail">
		<div class="tabs-content" id="tab_1">
			<form class="form create account form-create-account" action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
				<?= /* @noEscape */ $block->getBlockHtml('formkey'); ?>
				<fieldset class="fieldset create info">
					<input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>">
					<input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>">
					<?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>

					<?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
					<?php if ($_dob->isEnabled()): ?>
						<?= $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
					<?php endif ?>

					<?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
					<?php if ($_taxvat->isEnabled()): ?>
						<?= $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->toHtml() ?>
					<?php endif ?>

					<?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
					<?php if ($_gender->isEnabled()): ?>
						<?= $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
					<?php endif ?>
					<div class="field password required">
						<label for="password" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
						<div class="control">
							<input type="password" name="password" id="password"
								   title="<?= $block->escapeHtmlAttr(__('Password')) ?>"
								   class="input-text"
								   data-password-min-length="<?= $block->escapeHtmlAttr($block->getMinimumPasswordLength()) ?>"
								   data-password-min-character-sets="<?= $block->escapeHtmlAttr($block->getRequiredCharacterClassesNumber()) ?>"
								   data-validate="{required:true, 'validate-customer-password':true}"
								   autocomplete="off">
							<div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
								<div id="password-strength-meter" class="password-strength-meter">
									<?= $block->escapeHtml(__('Password Strength')) ?>:
									<span id="password-strength-meter-label" data-role="password-strength-meter-label">
										<?= $block->escapeHtml(__('No Password')) ?>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="field confirmation required">
						<label for="password-confirmation" class="label"><span><?= $block->escapeHtml(__('Confirm Password')) ?></span></label>
						<div class="control">
							<input type="password" name="password_confirmation" title="<?= $block->escapeHtmlAttr(__('Confirm Password')) ?>" id="password-confirmation" class="input-text" data-validate="{required:true, equalTo:'#password'}" autocomplete="off">
						</div>
					</div>
					<div class="field required">
						<label for="email_address" class="label"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
						<div class="control">
							<input type="email" name="email" autocomplete="email" id="email_address" value="<?= $block->escapeHtmlAttr($block->getFormData()->getEmail()) ?>" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" data-mage-init='{"mage/trim-input":{}}' class="input-text" data-validate="{required:true, 'validate-email':true}">
						</div>
					</div>
					<?php if ($block->isNewsletterEnabled()): ?>
						<div class="field choice newsletter">
							<input type="checkbox" name="is_subscribed" title="<?= $block->escapeHtmlAttr(__('I agree to all terms and conditions')) ?>" value="1" id="is_subscribed"<?php if ($block->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox">
							<label for="is_subscribed" class="label"><span><?= $block->escapeHtml(__('I agree to all terms and conditions')) ?></span></label>
						</div>
						<?php /* Extensions placeholder */ ?>
						<?= $block->getChildHtml('customer.form.register.newsletter') ?>
					<?php endif ?>
				</fieldset>
				<div class="actions-toolbar signup-cta">
					<div class="primary" style="width: 100%;">
						<button type="submit" class="action submit senary" title="<?= $block->escapeHtmlAttr(__('Get Started')) ?>"><span><?= $block->escapeHtml(__('Get Started')) ?></span></button>
					</div>
					<?php /*<div class="secondary">
						<a class="action tertiary" href="#"><span><?= $block->escapeHtml(__('Compare Price')) ?></span></a>
					</div> */ ?>
				</div>
			</form>
			
		</div>
		<div class="tabs-content" id="tab_2">
			<?php echo $block->getLayout()->createBlock('Magento\Framework\View\Element\Template')->setTemplate('Magento_Search::form.mini.phtml')->toHtml();?>
        </div>
		<div class="tabs-content" id="tab_3">
			<?php $plumtreeHelper = $this->helper("Plumtree\General\Helper\Data");
			 ?>
			<form class="form create account form-create-account" action="<?php echo $plumtreeHelper->getContributorUrlAction(); ?>" method="post" id="contributor-form" name="contributor-form" enctype="multipart/form-data" autocomplete="off">
				<?= /* @noEscape */ $block->getBlockHtml('formkey'); ?>
				<fieldset class="fieldset create info">
					<input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>">
					<input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>">
					<?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
					<?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
					<?php if ($_dob->isEnabled()): ?>
						<?= $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
					<?php endif ?>

					<?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
					<?php if ($_taxvat->isEnabled()): ?>
						<?= $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->toHtml() ?>
					<?php endif ?>

					<?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
					<?php if ($_gender->isEnabled()): ?>
						<?= $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
					<?php endif ?>
					<div class="field password required">
						<label for="password" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
						<div class="control">
							<input type="password" name="password" id="password"
								   title="<?= $block->escapeHtmlAttr(__('Password')) ?>"
								   class="input-text"
								   data-password-min-length="<?= $block->escapeHtmlAttr($block->getMinimumPasswordLength()) ?>"
								   data-password-min-character-sets="<?= $block->escapeHtmlAttr($block->getRequiredCharacterClassesNumber()) ?>"
								   data-validate="{required:true, 'validate-customer-password':true}"
								   autocomplete="off">
							<div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
								<div id="password-strength-meter" class="password-strength-meter">
									<?= $block->escapeHtml(__('Password Strength')) ?>:
									<span id="password-strength-meter-label" data-role="password-strength-meter-label">
										<?= $block->escapeHtml(__('No Password')) ?>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="field confirmation required">
						<label for="password-confirmation" class="label"><span><?= $block->escapeHtml(__('Confirm Password')) ?></span></label>
						<div class="control">
							<input type="password" name="password_confirmation" title="<?= $block->escapeHtmlAttr(__('Confirm Password')) ?>" id="password-confirmation" class="input-text" data-validate="{required:true, equalTo:'#password'}" autocomplete="off">
						</div>
					</div>
					<div class="field required">
						<label for="email_address" class="label"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
						<div class="control">
							<input type="email" name="email" autocomplete="email" id="email_address" value="<?= $block->escapeHtmlAttr($block->getFormData()->getEmail()) ?>" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" data-mage-init='{"mage/trim-input":{}}' class="input-text" data-validate="{required:true, 'validate-email':true}">
						</div>
					</div>
					<?php if ($block->isNewsletterEnabled()): ?>
						<div class="field choice newsletter">
							<input type="checkbox" name="is_subscribed" title="<?= $block->escapeHtmlAttr(__('I agree to all terms and conditions')) ?>" value="1" id="is_subscribed"<?php if ($block->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox">
							<label for="is_subscribed" class="label"><span><?= $block->escapeHtml(__('I agree to all terms and conditions')) ?></span></label>
						</div>
						<?php /* Extensions placeholder */ ?>
						<?= $block->getChildHtml('customer.form.register.newsletter') ?>
					<?php endif ?>
				</fieldset>
				<?php /*<div class="actions-toolbar signup-cta">
					<div class="primary">
						<button type="submit" class="action submit senary" title="<?= $block->escapeHtmlAttr(__('Get Started')) ?>"><span><?= $block->escapeHtml(__('Get Started')) ?></span></button>
					</div>
					<div class="secondary">
						<a class="action tertiary" href="#"><span><?= $block->escapeHtml(__('Compare Price')) ?></span></a>
					</div>
				</div> */?>
					<div class="actions-toolbar signup-free-trial">
						<div class="col-md-4">
							<button type="submit" class="action submit free-trial" title="<?= $block->escapeHtmlAttr(__('Access Free Trial')) ?>"><span><?= $block->escapeHtml(__('Access Free Trial')) ?></span></button>
						</div>
				    </div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
<script>
require(['jquery','jquery/ui'],function ($, tabs) {
	$(".tabs-signup").tabs();
});
</script>
<script>
require(['jquery'], function ($) { 
	$(document).ready(function(){
		$('.tabs-head li').click(function(){
			$('#playbankBoxsection').removeAttr('class');
			$(this).closest('#playbankBoxsection').addClass($(this).attr('data-trigger-class'));
		});
	});
});
</script>
<script>
require([
	'jquery',
	'mage/mage'
], function($){

	var dataForm = $('#form-validate');
	var ignore = <?= /* @noEscape */ $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null' ?>;

	dataForm.mage('validation', {
	<?php if ($_dob->isEnabled()): ?>
		errorPlacement: function(error, element) {
			if (element.prop('id').search('full') !== -1) {
				var dobElement = $(element).parents('.customer-dob'),
					errorClass = error.prop('class');
				error.insertAfter(element.parent());
				dobElement.find('.validate-custom').addClass(errorClass)
					.after('<div class="' + errorClass + '"></div>');
			}
			else {
				error.insertAfter(element);
			}
		},
		ignore: ':hidden:not(' + ignore + ')'
	<?php else: ?>
		ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
	<?php endif ?>
	}).find('input:text').attr('autocomplete', 'off');

});
</script>

<script type="text/x-magento-init">
	{
		".field.password": {
			"passwordStrengthIndicator": {
				"formSelector": "form.form-create-account"
			}
		}
	}
</script>


