
.page-header { font-family:@mg-font-gMu;font-size:15px;background:#09090b;
	a.logo {position: absolute;top: 0;left: 0;}
	.nav-sections { background-color: transparent;float: right;width: 100%;
		ul { width: 50%; text-align: center; float: left; margin: 0 25%;
			li {
				a { font-size: 15px !important; font-family: @mg-font-gMu !important; font-weight: 700 !important; }
				ul.submenu {text-align:left;}
			}	
		}
	}

	.header.panel {
		.header.links { display: none;}
	} 

	.nav-sections-item-content {
		#store.menu { width: 50%; }
		.header.links {display: block !important;list-style: none;float: right;width: 25%;margin: -48px 0 0;display: -webkit-flex;
			display: flex !important;
			li{ float: right;  margin-bottom: 0;
				a { background-color: #1459d0; font-weight:700;
					-webkit-transition: all 0.35s ease 0s;
					font-size:15px;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					padding-top: 0px;
					padding-bottom: 0px;
					padding-left: 35px;
					padding-right: 35px;
					display: inline-block;
					height: 44px;
					color: #ffffff; cursor: pointer; text-decoration: none;
					line-height: 44px; 
					&:hover {background-color: #000D25;}
					}
			}
			li.authorization-link { margin-left:35px; float: left; 
				a { background-color: #1459D0;
					&:hover{background-color:#000D25;}
				}
			}
			li.greet.welcome { display: none; }
			li:nth-child(2) {
				order: 2;
				margin-right: 15px;
				margin-left: 20px;
				a {
					width: 68px;
				}
			}
			li:nth-child(3) {
				order: 3;
				a {
					width: 57px;
				}
			}
			li.customer-welcome {
				order: 1;
			}
			li.customer-welcome {
				.customer-name {
					background: url(../images/home/setting-icon.png) no-repeat;
					display: inline-block;
					height: 33px;
					margin-top: 6px;
					width: 34px;
				}
				.customer-name:first-child span,
				.customer-name .action.switch {
					display: none;
				}
			}
			.customer-menu {
				.header.links {
					display: block !important;
					margin: 0;
					li {
						margin: 0;
						width: 100%;
						a {
							display: block;
							padding: 0 20px;
							width: auto;
						}
					}
				}
			}
		}
	}	
	

}
