// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@active-nav-indent: 54px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .panel.header {
        .links,
        .switcher {
            display: none;
        }
    }
    .nav-sections {
        .lib-css(background, @navigation__background);

        .navigation {
            .level0 {
                > .level-top {
                        .lib-link(
                            @_link-text-decoration: none,
                            @_link-color-visited: @color-white,
                            @_link-text-decoration-visited: @color-white,
                            @_link-color-hover: @custom-links-blue__color,
                            @_link-text-decoration-hover: @custom-links-blue__color,
                            @_link-color-active: @custom-links-blue__color,
                            @_link-text-decoration-active: none
                        );
                        font-family: @custom__font__helvetica_medium;
                        font-weight: normal;
                        letter-spacing: @custom-header-links__letter-spacing;
                        border: 0;
                        .lib-css(text-transform, uppercase);
                }
                &.nav-1 {
                    &> a{
                        pointer-events: none;
                    }                    
                }                
                > .level-top.ui-state-focus {
                    color: @custom-links-blue__color;
                }
                .submenu {
                    a {
                        font-family: @custom__font__helvetica_medium;
                        font-weight: normal;                        
                    }
                    a.ui-state-focus{
                        color: #1459D0;
                        background: transparent;
                    }

                    .active {
                        > a {
                            .lib-css(border, 0);
                            .lib-css(border-color, transparent);
                        }
                    }
                }
            }
            .level0.active, 
            .level0.has-active {
                > .level-top {
                    border: none;
                    /*color: @custom-links-blue__color;*/
                    color: #1459D0;
                }
            }
        }
    }

    .nav-toggle {
        .lib-icon-font(
        @icon-menu,
        @_icon-font-size: 28px,
        @_icon-font-color: @header-icons-color,
        @_icon-font-color-hover: @header-icons-color-hover
        );
        .lib-icon-text-hide();
        cursor: pointer;
        display: block;
        font-size: 0;
        left: 15px;
        position: absolute;
        top: 15px;
        z-index: 14;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .navigation {
        padding: 0;
        .submenu:not(:first-child) {
            padding: @custom-mobile-submenu__padding;
            > li {
                > a {
                    color: @custom-mobile-submenu__color;
                    font-size: @custom-mobile-submenu__font-size;
                }
            }
        }
        .parent {
            .level-top {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 42px,
                @_icon-font-position: after,
                @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: 7px;
                    top: -8px;
                }

                &.ui-state-active {
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                    );
                }
            }
        }
    }

    .nav-sections {
        -webkit-overflow-scrolling: touch;
        .lib-css(transition, left .3s, 1);
        height: 100%;
        left: -80%;
        left: calc(~'-1 * (100% - @{active-nav-indent})');
        overflow: auto;
        position: fixed;
        top: 0;
        width: 80%;
        width: calc(~'100% - @{active-nav-indent}');
        .nav-sections-items {
            .section-item-title {
                a {
                    color: @color-black;
                    font-weight: normal;
                    font-family: @custom__font__helvetica_medium;
                    font-size: @custom-sidebar-topbar__font-size;
                }
            }
        }

        .navigation {
            .level0 {
                padding: 8px 0;
                border-top: 1px solid @custom-mobile-sidebar__border-top;
                > .level-top {
                    color: @custom-mobile-links__color;   
                }
            }
            .parent {
                .level-top:after {
                    content: @custom-navdown-arrow-black__url;
                    line-height: @custom-navdown-black__line-height;
                }
            }
        }

        .switcher {
            border-top: 1px solid @color-gray82;
            font-size: 1.6rem;
            font-weight: @font-weight__bold;
            margin: 0;
            padding: .8rem 3.5rem .8rem 2rem;

            .label {
                display: block;
                margin-bottom: @indent__xs;
            }

            &:last-child {
                border-bottom: 1px solid @color-gray82;
            }
        }

        .switcher-trigger {
            strong {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 42px,
                @_icon-font-position: after,
                @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: -40px;
                    top: -16px;
                }
            }

            &.active strong {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-up,
                @_icon-font-position: after
                );
            }
        }

        .switcher-dropdown {
            .lib-list-reset-styles();
            padding: @indent__s 0;
        }

        .header.links {
            .lib-list-reset-styles();
            border-bottom: 1px solid @color-gray82;

            li {
                font-size: 1.6rem;
                margin: 0;

                &.greet.welcome {
                    display: none;
                    border-top: 1px solid @color-gray82;
                    font-weight: @font-weight__bold;
                    padding: .8rem @indent__base;
                }

                > a {
                    color: @custom-links-blue__color;
                    border-top: 1px solid @custom-mobile-sidebar__border-top;
                    padding: 16px 20px;
                }
            }

            li:nth-child(2) {
                a {
                    border-top: none;
                }
            }

            a,
            a:hover {
                .lib-css(color, @navigation-level0-item__color);
                .lib-css(text-decoration, @navigation-level0-item__text-decoration);
                display: block;
                font-weight: @font-weight__bold;
                padding: .8rem @indent__base;
            }

            .header.links {
                border: 0;
            }
        }
    }

    .nav-before-open {
        height: 100%;
        overflow-x: hidden;
        width: 100%;

        .page-wrapper {
            .lib-css(transition, left .3s, 1);
            height: 100%;
            left: 0;
            overflow: hidden;
            position: relative;
        }

        body {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }

    .nav-open {
        .page-wrapper {
            left: 80%;
            left: calc(~'100% - @{active-nav-indent}');
        }

        .nav-sections {
            @_shadow: 0 0 5px 0 rgba(50, 50, 50, .75);

            .lib-css(box-shadow, @_shadow, 1);
            left: 0;
            z-index: 99;
        }

        .nav-toggle {
            &:after{
                background: rgba(0, 0, 0, @overlay__opacity);
                content: '';
                display: block;
                height: 100%;
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 1;
            }
        }
    }

    .nav-sections-items {
        .lib-clearfix();
        position: relative;
        z-index: 1;
    }
    .nav-sections-item-title.active {
        background: @custom-sidebar-topbar__background;
        a {
            color: @custom-sidebar-topbar__color;
        }
    }

    .nav-sections-item-title {
        background: transparent;
        border: none;
        border-width: 0 0 1px 1px;
        box-sizing: border-box;
        float: left;
        height: 71px;
        padding-top: 24px;
        text-align: center;
        width: 33.33%;

        &.active {
            background: transparent;
            border-bottom: 0;
        }

        .nav-sections-item-switch {
            &:hover {
                text-decoration: none;
            }
        }
    }

    .nav-sections-item-content {
        .lib-clearfix();
        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        margin-top: 71px;
        width: 100%;

        &.active {
            display: block;
        }

        padding: 0 0 25px 0;
    }

    .lib-main-navigation();
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .nav-toggle {
        display: none;
    }

    .nav-sections {
        .lib-vendor-prefix-flex-shrink(0);
        .lib-vendor-prefix-flex-basis(auto);
        margin-bottom: @indent__m;
    }

    .nav-sections-item-title {
        display: none;
    }

    .nav-sections-item-content {
        display: block !important;
    }

    .nav-sections-item-content > * {
        display: none;
    }

    .nav-sections-item-content {
        > .navigation {
            display: block;
            
            .level0 {
                margin: 0;
                padding-right: 30px;

                > .level-top {
                    font-size: @custom__header__footer__fs;
                    color: @color-white;
                    line-height: @custom__header__links__lnh;
                    padding: 0;
                    .ui-menu-icon:after {
                        content: @custom-navdown-arrow__url;
                        line-height: @custom-navdown__line-height;
                        margin-right: @custom-navdown__margin-right;
                        margin-bottom: @custom-navdown__margin-bottom;
                    }
                }

                .submenu {
                    // border-top: @custom-submenu__border;
                    /*border: 1px solid @custom-header-border-color;*/
                    top: 48px;
                    background: #000;
                    border: 0;
                    li {
                        /*padding: 4px 0px;*/
                    }
                    a {
                        font-family: @custom__font__helvetica_medium;
                        font-size: @custom-submenu__font-size;
                        font-weight: normal;
                        color: #fff;
                        padding: 12px 20px;
                        &:hover{
                            color:#1459D0;
                            background: transparent;
                        }
                    }
                }
                .submenu::before {
                    content: @custom-submenu-uparrow-url;
                    position: absolute;
                    left: 44%;
                    right: 0;
                    top: -18px;
                    border: 0;
                }
            }
        }
    }

    .lib-main-navigation-desktop();

    .panel.header {
        .links,
        .switcher {
            display: inline-block;
        }
    }
}
