// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Luma theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//  Colors nesting
@page__background-color: @color-white;

//
//  Icons
//  ---------------------------------------------

@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';

@icon-calendar__font-size: 23px;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  Sidebar blocks
//  ---------------------------------------------

@block-items__counter__color: @color-gray43;

//
// CUSTOM VARIABLES
// ----------------------------------------------

// SOCIAL BUTTONS IMAGES
@custom__social-new-video: url('../images/social-btns/social-new-video.png');
@custom__social-follow-me: url('../images/social-btns/social-follow-me.png');
@custom__social-plays: url('../images/social-btns/social-plays.png');
@custom__social-tags: url('../images/social-btns/social-tags.png');

@custom_important: ~'!important';

@custom-body__font-size: 14px;

@custom-importan__width: ~'100% !important';

// NAVIGATION ARROW  
@custom-lb-color: #2f3132;
@custom-lblue-color: #06aaed;
@custom-dblack-color: #333333;

@custom-navdown-arrow__url: ~"url('../images/fm_nav-down-arrow.png') !important";
@custom-navdown-arrow-black__url: url('../images/fm_fm_nav-down-arrow-black.png');
@custom-navdown__line-height: ~'0 !important';
@custom-navdown-black__line-height: 20px;
@custom-navdown__margin-right: 7px;
@custom-navdown__margin-bottom: 2px;
@custom-header-border-color: #595a5b;

@custom-searchbar-icon: url('../images/fm_search-icon.png');
// END OF NAVIGATION ARROW

// SIDEBAR MENU
@custom-sidebar-topbar__background: ~'#2f3132 !important';
@custom-sidebar-topbar__font-size: 15px;
@custom-sidebar-topbar__color: ~'#ffffff !important';
@custom-mobile-sidebar__border-top: rgba(209, 209, 209, 0.30980392156862746);
@custom-links-blue__color: #06aaed;

// FILTER SIDEBAR MENU
@custom-fsb-downarrow: url('../images/fm_sidebar-filters-downarrow.png');

// END OF SIDEBAR

// SUB MENU
@custom-submenu__font-size: 16px;
@custom-submenu__border: 2px solid #4bcbff;
@custom-submenu-uparrow-url: url('..images/fm_drop-up-arrow.png');

// END OF SUB-MENU

@custom-main-content-width: 1280px;
@custom-layout-indent__width: 15px;

@custom__font-family__sans-serif: 'sans-serif';

@custom-header__background-color: #2f3132;
@custom-header-links__letter-spacing: 0.07em;
@custom__header__links__lnh: 22.06px;
@custom__header__footer__fs: 18px;

@custom-logo__width: 212px;

@custom__float__right: right;
@custom__float__left: left;
@custom-header__padding-top-bottom: 10px;
@custom__padding__right: 60px;
@custom__padding__left: 60px;
@custom__float__width: 25%;
@custom__full__width: 100%;
@custom__float__clear: both;
@custom__overflow: hidden;
@custom__padding__top__bottom: 30px;
@custom__padding__left__right: 15px;


@custom-btn-bg__color: #06aaed;
@custom__footer__subscribe__btn_padding: 17px 36px; 
@custom__footer__subscribe__btn_lnh: 15.29px;
@custom__font__helvetica_medium: 'HelveticaNeue-MediumCond', @custom__font-family__sans-serif;
@custom-global-btn__letter-spacing: @custom-header-links__letter-spacing;
@custom__footer__subscribe__txt_ls: 0.05em;

@custom__footer__bottom__hr__color: #595a5b;
@custom__bg__footer: #2f3132;
@custom__footer__transparent__bg: transparent;
@custom__footer__top__txt__lnh: 18px;
@custom__footer__links__lnh: 20px;
@custom__font__lato: 'Lato', @custom__font-family__sans-serif;
@custom__footer__links__ls: 0;
@custom__footer__links__fwl: 300; //FONT WEIGHT LIGHT
@custom__footer__links__fwr: 400; //FONT WEIGHT REGULAR
@custom__footer__links__fwb: 700; //FONT WEIGHT BOLD

// FAST MODEL HOME PAGE

@custom__before__ft-bg-img: url('../images/home/lorem_bg_img.png');
@custom__banner-bg-img: url('../images/fm_banner.jpg');
@custom__banner-signup-img: url('../images/fm_sign_up_icon.png');
@custom__banner-signup-img-black: url('../images/fm_sign_up_icon_black.png');
@custom__banner-popup-img: url('../images/fm_banner_popup.png');
@custom__muli__f-fm: 'Muli', @custom__font-family__sans-serif;
@custom__oswald__f-fm: 'Oswald', @custom__font-family__sans-serif;


// TABLET
@custom-tablet-float__width: 33.333%;
@custom-tablet__footer__links__txt_fs: 16px;
@custom-tablet-subs-txt__font-size: 15px;
@custom-tablet-subs-btn__font-size: 16px;
@custom-tablet-subs-btn__padding: 12px 24px;
@custom-tablet-copyright__font-size: 15px;

// MOBILE
@custom-mobile-submenu__color: #959595;
@custom-mobile-submenu__font-size: 14px;
@custom-mobile-submenu__padding: ~'0 20px !important';
@custom-mobile-footer-bottom-hr-border-color: #2a2d2f;
@custom-mobile__footer__links__txt_fs: 14px;
@custom-mobile-links__color: ~'#06aaed !important';
@custom-mobile-subs-txt__font-weight: 300;
@custom-mobile-subs-txt__font-size: 13px;
@custom-mobile-subs-btn__font-size: 14px;
@custom-mobile-subs-btn__padding: 10px 20px;
@custom-mobile-copyright__font-size: 12px;


// PRODUCTS
@custom-product-name__color: #3e3e3e;
@custom-p-owner-hover__color: @custom-product-name__color;
@custom-icon__background-color: @custom-btn-bg__color;
@custom-add-wishlist__url: ~"url('../images/fm_add-to-wishlist.png') !important";
@custom-hover-up-uparrow__url: url('../images/fm_hover-product-up-arrow.png');
@custom-border-color: @custom-links-blue__color;
@custom-p-btm__bg-color: #2f3132;
@custom-p-owner-name-color: #22c0f1;

//Bacgkround add to cart button
@custom-add-to-cart__url: url('../images/fm_add-to-cart.png');
@custom-add-to-cart__repeat: no-repeat;
@custom-add-to-cart__bg-position: 7px 10px;

// END OF PRODUCTS

// SIDEBAR 
@custom-sb-jn-bg-img: url('../images/fm_sidebar-join-now.png');