<?php 
$imagewidth = 75;
$imageheight = 75;
echo "<br><h1>Coache Profile:-</h1>";
$profileImg = $block->getCustomerData()->getProfileimg();
echo "<br><br><img height='".$imagewidth."' width='".$imageheight."' src='".$block->getUrl('/')."pub/media/customer".$profileImg."'/>";
echo "<br> Id:- ".$block->getCustomerData()->getId();
echo "<br>Name:- ".$block->getCustomerData()->getName();
echo "<br><h4>".$block->getCustomerData()->getTagline()."</h4>";
echo "<br>Profile Status:-  ".$block->getCustomerData()->getProfilestatus();
echo "<br>Coaching Status:- ".$block->getCustomerData()->getCoachingstatus();
echo "<br>State Accociation:- ".$block->getCustomerData()->getStateaccociation();

?>
<?php
echo"<br>";
echo "<br><h1>My Plans:-</h1>";
$productCollection = $block->getWhishlist()->getData();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
foreach ($productCollection as $key => $value) {
	echo"<br><br>";
	$product = $block->loadProduct($value['product_id']);
	$_optionId = $product ->getPlaytype();
	$_attributeId = $product->getResource()->getAttribute('playtype');
	if ($_attributeId->usesSource()) {
	      $_optionText = $_attributeId->getSource()->getOptionText($_optionId);
	      if($_optionText == "My Plays"){
	      	$productUrl = $block->getProductUrl($product ->getId());
	      	$image_url = $imageHelper->init($product, 'product_thumbnail_image')->setImageFile($product->getFile())->resize($imagewidth, $imageheight)->getUrl();
	      	echo "<img src='".$image_url."'/>";
	    	echo "<a href='".$productUrl."'>";
	      	echo "<br><h5> ".$product ->getName()."</h5>";
			echo "<p> ".$product ->getShortDescription()."</p>";
			echo "<br> Product view: ".$block->getProductViewedCount($value['product_id']);
			echo "</a>";
	    }
	      
	}
}?>
<?php
echo"<br>";
echo "<br><h1>My Playbooks:-</h1>";
$productCollection = $block->getWhishlist()->getData();
foreach ($productCollection as $key => $value) {
	echo"<br><br>";
	$product = $block->loadProduct($value['product_id']);
	$_optionId = $product ->getPlaytype();
	$_attributeId = $product->getResource()->getAttribute('playtype');
	if ($_attributeId->usesSource()) {
	    $_optionText = $_attributeId->getSource()->getOptionText($_optionId);
	    if($_optionText == "My Playbooks"){
	    	$productUrl = $block->getProductUrl($product ->getId());
	    	$image_url = $imageHelper->init($product, 'product_thumbnail_image')->setImageFile($product->getFile())->resize($imagewidth, $imageheight)->getUrl();
	      	echo "<img src='".$image_url."'/>";
	    	echo "<a href='".$productUrl."'>";
	      	echo "<br><h5> ".$product ->getName()."</h5>";
			echo "<p> ".$product ->getShortDescription()."</p>";
			echo "<br> Product view: ".$block->getProductViewedCount($value['product_id']);
			echo "</a>";
	    }      
	}
}?>
<?php
echo"<br>";
echo "<br><h1>My Practice Plans:-</h1>";
$productCollection = $block->getWhishlist()->getData();
foreach ($productCollection as $key => $value) {
	echo"<br><br>";
	$product = $block->loadProduct($value['product_id']);
	$_optionId = $product ->getPlaytype();
	$_attributeId = $product->getResource()->getAttribute('playtype');
	if ($_attributeId->usesSource()) {
	    $_optionText = $_attributeId->getSource()->getOptionText($_optionId);
	    if($_optionText == "My Practice Plans"){
	    	$productUrl = $block->getProductUrl($product ->getId());
	    	$image_url = $imageHelper->init($product, 'product_thumbnail_image')->setImageFile($product->getFile())->resize($imagewidth, $imageheight)->getUrl();
	      	echo "<img src='".$image_url."'/>";
	    	echo "<a href='".$productUrl."'>";
	      	echo "<br><h5> ".$product ->getName()."</h5>";
			echo "<p> ".$product ->getShortDescription()."</p>";
			echo "<br> Product view: ".$block->getProductViewedCount($value['product_id']);
			echo "</a>";
	    }      
	}
}
?>
<?php
echo"<br>";
echo "<br><h1>Recently Viewed:-</h1>";
echo $this->getLayout()
            ->createBlock("Magento\Reports\Block\Product\Widget\Viewed")
            ->setDisplayType("recently.view.products")
            //->setProductsCount("6")
            ->setTemplate("widget/viewed/content/viewed_list.phtml")
            ->toHtml(); 
 ?>