<div class="fm-box-model">
    <div class="box bind prod-payment">
        <div class="box-content">
            <div class="title">
                <h2>Lorem Ipsum Color</h2>
                <p>Lorem ipsum dolor sit amet dolor sit amet.</p>
            </div>
            <div class="p-lists cols">
                <?php 
                    $productData = $block->getRelatedProduct();
                    echo $this->getLayout()->createBlock('Plumtree\LogincustProduct\Block\Index\Index')->setTemplate('Plumtree_LogincustProduct::list.phtml')->setCollection($productData)->setProductType('My Plays')->toHtml(); 
                ?>
            </div>
            <div class="proc-checkout cols">
                <div class="top">
                    <div class="actions">
                        <button id="subcribe-checkout" class="action ptc"><span>Proceed to checkout</span></button>
                    </div>
                    <p class="or-use">or use</p>
                    <a href="#" class="action link checkout-paypal-link"><span>Checkout with PayPal</span></a>
                </div>
                <div class="mid order-subtotal">
                    <p>Order Subtotal</p>
                    <h2><sup class="up">$</sup> 15.35</h2>
                </div>
                <div class="bottom try">
                    <div class="actions">
                        <a href="#" class="action link try-unlimit-link">
                            <span class="one">Try For Only $1</span>
                            <span class="two">Unlimited Access for 7 Days</span>
                        </a>
                        <a href="#" class="action link try-limit-link">
                            <span class="one">1-Year For $11.99</span>
                            <span class="two">Less than $1 per Month</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	require(['jquery', 'jquery/ui'], function($){
		jQuery(document).ready( function() {
			jQuery("#subcribe-checkout").click(function(){
				jQuery.ajax({
			        type: "POST",
			        showLoader: true,
			        url: "<?php echo $this->getUrl('logincustproduct/index'); ?>",
			        data : {},
			        success: function(data)
			        {
			        	if(data == 1)
			            window.location.href = '<?php echo $this->getUrl("checkout/cart/index", array("_secure" => true));?>';
			        },
			        error: function (e) {
			            //alert("not added");
			        }
	    		});
    		});
		});
	});
</script>