<?php 
$playbanktypeOptions = $block->getPlaybanktypeOptions();
$playbankgenderOptions = $block->getPlaybankgenderOptions();

?>
<div class="tabs-container tabs-signup">
    <ul class="tabs-head">
        <li><a class="t1" href="#tab_1"><span>Section 1 </span></a></li>
        <li><a class="t2" href="#tab_2"><span>Section 2</span></a></li>
        <li><a class="t3" href="#tab_3"><span>Section 3</span></a></li>
    </ul>
    <div class="tabs-detail">
        <div class="tabs-content" id="tab_1">
            <label>Play Bank Type</label>
            <select class="admin__control-select" name="customer[playbanktype]" id="playbanktype">
                <option value=""> </option>
               <?php 
                foreach ($playbanktypeOptions as $key => $values) {
                    echo '<option data-title="'.$values.'" value="'.$key.'">'.$values.'</option>';
                }
                ?>
            </select>
        </div>
        <div class="tabs-content" id="tab_2">
            <label>Play Bank Gender</label>
            <select class="admin__control-select" name="customer[playbankc]" id="playbankgender">
                <option value=""> </option>
                <?php 
                foreach ($playbankgenderOptions as $key => $values) {
                    echo '<option data-title="'.$values.'" value="'.$key.'">'.$values.'</option>';
                }
                ?>
            </select>
        </div>
        <div class="tabs-content" id="tab_3">
            <label>Play Bank Regions</label>
            <p>&nbsp;</p>
            <select class="admin__control-select" name="customer[playbankgender]" id="playbankregions">
                <option value=""> </option>
                <?php 
                    $regions = $block->getRegions();
                    foreach ($regions as $key => $values) {
                        echo '<option data-title="'.$values['name'].'" value="'.$values['region_id'].'">'.$values['name'].'</option>';
                    }
                ?>
            </select>
        </div>
    </div>
</div>
<script>
require(['jquery','jquery/ui'],function ($, tabs) {
    $(".tabs-signup").tabs();
});
</script>
<script type="text/javascript">
    require(['jquery', 'jquery/ui'], function($){
        jQuery(document).ready( function() {
            jQuery("#playbanktype").change(function(){
                jQuery.ajax({
                    type: "POST",
                    showLoader: true,
                    url: "<?php echo $this->getUrl('afterregister/index/save'); ?>",
                    data : {playbanktype:jQuery("#playbanktype").val() },
                    success: function(data)
                    {
                        if(data == 1){
                            alert("saved data");
                        }
                    },
                    error: function (e) {
                        //alert("not added");
                    }
                });
            });
            jQuery("#playbankgender").change(function(){
                jQuery.ajax({
                    type: "POST",
                    showLoader: true,
                    url: "<?php echo $this->getUrl('afterregister/index/save'); ?>",
                    data : {playbankgender:jQuery("#playbankgender").val() },
                    success: function(data)
                    {
                        if(data == 1){
                            alert("saved data");
                        }
                    },
                    error: function (e) {
                        //alert("not added");
                    }
                });
            });
            jQuery("#playbankregions").change(function(){
                jQuery.ajax({
                    type: "POST",
                    showLoader: true,
                    url: "<?php echo $this->getUrl('afterregister/index/save'); ?>",
                    data : {playbankregions:jQuery("#playbankregions").val() },
                    success: function(data)
                    {
                        if(data == 1){
                            alert("saved data");
                        }
                    },
                    error: function (e) {
                        //alert("not added");
                    }
                });
            });
        });
    });
</script>