/**
 * Custom Style Sheet
 *
 * @less			'account'
 */

.account {
	&-coach {
		.breadcrumbs {
			.pos(a,0,'',0,0,2);
			> ul.items {
				.c(@mg-white);
				border: 0;
				.item {
					&.home {
						a {
							.pos(r);
							.pd(left,20,px);
							&::before {
								.bg-icon('fm_arrow-mark-left.png', 10px auto);
								.pos(a,5,'',0);
								content: "";
								width: 10px;
								height: 10px;
							}
						}
					}
				}
			}
		}
		.page-main {
			.coach {
				&-notify {
					.pos(a,'','','',0,3);
					max-width: 340px;
					ul {
						.clear-list();
						li {
							.pos(r);
							.mg(top,10,px);
							.mg(right,10,px);
							a {
								&.close {
									.pos(a,0,'','',0);
									.fs(0);
									.pd(all,12,px);
									&::before {
										.bg-icon('fm_cross-small.png');
										.pos(a,0,0,0,0);
										content: "";
									}
								}
							}
							p {
								.bg(@mg-white);
								.br(5);
								.fm(@mg-font-gMu);
								.fs(11);
								.fw(600);
								.c(@mg-gray-dark7);
								.pd-tb(5,px);
								.pd-lr(42,px);
								.mg(bottom,0,px);
								.ds(b);
								span,
								strong {
									.fs(14);
									.c(@mg-gray-dark8);
									.ds(b);
								}
								&:hover {
									.td(n);
								}
								&::before {
									.bg-icon('fm_info.png');
									.pos(a,7,'',14);
									content: "";
									width: 16px;
									height: 16px;
								}
							}
						}
					}
				}
				&-panel {
					.bg('','fm_coach-panel-bg.png',center center,cover);
				}
				&-navigation {
					.bg('','fm_coach-navigation-bg.png','',100% auto,repeat-y);
				}
				&-detail {
					//.bg(@mg-gray-dark6);
					background-color: #1c1d21;
					.block {
						.pd-tb(15,px);
					}
				}
			}
			.block {
				.swrap();
				.c(@mg-white);
				.mg(bottom,0,px);
				&-cinfo {
					.pos(r);
					.pd-tb(130,px);
					h2,
					h4 {
						.fm(@mg-font-gOs);
						.ls(0.05);
						.tt(u);
						.mg-tb(0,px);
					}
					h2 {
						.fs(40);
					}
					.coach-title-box {
						h2 {
							font-weight: 600;
						}
					}
					h4 {
						.fs(16);
						.lh(n);
						.ls(0.075);
					}
					.description {
						a {
							color: #fff;
							display: inline-block;
						}
						a:hover {
							text-decoration: none;
						}
						h4 {
							color: #fff;
							font-size: 20px;
						}
					}
					p {
						.fm(@mg-font-gMu);
						.fw(600);
						.fs(14);
						.ls(0.025);
						.mg(bottom,0,px);
					}
					.figure {
						.fl(l);
						max-width: 220px;
						img {
							.border(all,@mg-white,4);
							width: 100%;
						}
					}
					.detail {
						.mg(left,270,px);
						max-width: 450px;
						.title {
							.border(bottom,@mg-blue-light2,2);
							.pos(r);
							.pd(bottom,10,px);
							.mg(bottom,10,px);
							p {
								.mg(top,5,px);
							}
							.status {
								.pos(a,'',0);
								.ta(c);
								.pd(left,25,px);
								left: 100%;
								p {
									.fs(11);
									.tt(c);
									.mg(top,0,px);
								}
								.switch {
									.pos(r);
									.ds(ib);
									width: 40px;
									height: 22px;
									input { 
										opacity: 0;
										width: 0;
										height: 0;
										&:checked {
											+ .slider {
												.bg(@mg-green2);
												&::before {
													.ts(X,16px);
												}
											}
										}
										&:focus + {
											.slider {
												.bs(0,0,1,@mg-green2);
											}
										}
									}
									.slider {
										.trans(all, 0.35, ease, 0);
										.bg(@mg-blue-light3);
										.pos(a,0,0,0,0);
										cursor: pointer;
										&::before {
											.trans(all, 0.35, ease, 0);
											.bg(@mg-white);
											.pos(a,'',3,4);
											content: "";
											height: 16px;
											width: 16px;
										}
										&.round {
											.br(35);
											&::before {
												.br(100);
											}
										}
									}
								}
							}
						}
						.content {
							p {
								color: #b0b3bd;
								font-size: 13px;
							}
						}
						.description {
							.mg(bottom,10,px);
							h4 {
								.pos(r);
								.pd(right,50,px);
								.ds(ib);
								min-width: 130px;
								&::before,
								&::after {
									.pos(a,1,'','',0);
									content: "";
								}
								&::before {
									.border(all,@mg-blue-light3,2);
									width: 18px;
									height: 18px;
								}
								&::after {
									.border(left,transparent,5);
									.border(right,transparent,5);
									.border(top,@mg-blue-light3,5);
									top: 10px;
									right: 6px;
								}
							}
						}
						.help {
							.pos(a,'',20,'',20);
							a {
								.bg(@mg-white);
								.br(100);
								.bs(0,0,10,rgba(0,0,0,0.25));
								.fs(0);
								.pd(all,20,px);
								.ds(b);
								&::before {
									.bg-icon('fm_help-mark.png');
									.pos(a,0,0,0,0);
									content: "";
								}
							}
						}
					}
				}
				&-cnav {
					ul {
						.clear-list();
						height: 53px;
						li {
							.ds(ib);
							vertical-align: top;
							&:not(:first-child) {
								.mg(left,50,px);
							}
							&.ui-state-active,
							&.ui-tabs-active {
								a {
									.fs(13);
									.ls(0);
									span {
										.border(bottom,@mg-blue3,2);
										.pd(top,0,px);
										.pd(bottom,3,px);
										border-color:#2366df;
									}
								}
							}
							a {
								.fm(@mg-font-gMu);
								.fs(11);
								.fw(600);
								.ls(0.04);
								.tt(u);
								.ti(2);
								.c(@mg-white);
								.pd-tb(15,px);
								.ds(b);
								span {
									.pd(top,3,px);
									.ds(b);
								}
								&:hover {
									.td(n);
								}
								&.active {
									.fs(13);
									.ls(0);
									span {
										.border(bottom,@mg-blue3,2);
										.pd(top,0,px);
										.pd(bottom,3,px);
										border-bottom-color: ;
									}
								}
							}
						}
					}
				}
			}
		}
		.products-list {
			.mg(bottom,12,px);
			.product-item {
				.border(bottom,@mg-gray-light9,1);
				.fm(@mg-font-gMu);
				.pd-tb(12,px);
				.c(@mg-gray-light10);
				p {
					.c(i);
				}
				&-info {
				}
				&-photo {
					.pd(all,0,px);
					width: 110px;
					img {
						.pos(s);
						.mg(all,0,px);
						vertical-align: middle;
					}
				}
				&-details {
					.pd-tb(10,px);
					.ds(t);
					width: 100%;
				    vertical-align: middle;
				}
				&-col {
					.ds(tc);
					&:not(:first-child) {
						.ta(r);
						.pd(left,20,px);
						width: 25%;
						vertical-align: bottom;
					}
				}
				&-name {
					.pd(all,0,px);
					.mg(all,0,px);
					a {
						.fm(i);
						.fs(17);
						.fw(600);
					}
				}
				&-description {
					.mg(top,5,px);
					.mg(bottom,0,px);
					/*height: 40px;
					overflow: hidden;*/
					a {
						.c(@mg-white);
					}
					p {
						.mg(bottom,10,px);
					}
				}
				&-viewed {
					strong {
						.fs(17);
						.c(@mg-white);
					}
				}
				&-actions {
					.actions {
						&-secondary {
							.ds(n);
						}
					}
					.action {
						&.tocart {
							.bg(none);
							.pos(r);
							width: 40px;
							height: 24px;
							&::before {
								.bg-icon('fm_add-mark.png');
								.pos(a,0,0,0,0);
								content: "";
							}
						}
					}
				}
			}
		}
	}
}