/**
 * Custom Style Sheet
 *
 * @less			'blocks'
 */

.block {
	.boxsizing();
	.clear();
	&.block {
		&-joinnow {
			.bg('','fm_sidebar-join-now.png',-50% 50%,cover,no-repeat);
			.ta(c);
			.pd(all,20,px);
			.pd(top,10,px);
			.title {
				.bg(none);
				.c(@mg-white);
				strong {
					.fs(24);
				}
			}
			.content {
				.c(@mg-gray-dark1);
				p {
					.fs(16);
					.fw(300);
				}
				.actions {
					.mg(top,40,%);
				}
			}
		}
		&-contributor {
			.content {
				.ta(c);
				h3 {
					.fm(@mg-font-hMd);
					.fw(n);
					.tt(u);
					.c(@mg-gray1);
					.mg(top,0,px);
					.mg(bottom,10,px);
				}
				p {
					.fs(14);
					.c(@mg-gray-light2);
				}
				.figure {
					.border(all,@mg-blue1,1);
					.br(100);
					.ds(ib);
					.mg(bottom,20,px);
					img {
						.border(all,@mg-white,3);
						.br(100);
						vertical-align: top;
					}
				}
				.emblem {
					.sidebar & {
						.ds(n);
					}
				}
				.actions {
					.mg(top,20,px);
				}
			}
		}
	}
	&.filter {
		.mg(bottom,20,px);
		.block-subtitle {
			.bg(@mg-gray-dark1);
			.fm(@mg-font-hMd);
			.fs(20);
			.fw(n);
			.ls(0.01);
			.tt(u);
			.c(@mg-white);
			.pd-tb(10,px);
			.pd-lr(15,px);
			.mg(bottom,10,px);
			.ds(b);
		}
		.active > {
			.filter-options {
				&-title {
					&::after {
						content: '\e622';
					}
				}
			}
		}
		.filter-options {
			&-item {
				.pd(bottom,0,px);
				border: 0;
			}
			&-title {
				.fm(@mg-font-hMd);
				.fs(18);
				.fw(n);
				.ls(0.01);
				.tt(u);
				.c(@mg-blue1);
				.pd-lr(10,px);
				&::after {
					.fw(b);
					content: '\e608';
				}
			}
			&-content {
				.pd(all,0,px);
				.items {
					.pd(left,30,px);
					.mg(bottom,0,px);
					list-style: none;
					.item {
						.mg-tb(18,px);
						a {
							.bg(none);
							.fm(@mg-font-hMd);
							.fs(18);
							.fw(n);
							.ls(0.01);
							.tt(c);
							.c(@mg-gray-dark3);
						}
						.count {
							.ds(n);
						}
					}
				}
			}
		}
	}
	&.newsletter {
		.action {
			&.subscribe {
				height: auto;
			}
		}
	}
}