/**
 * Custom Style Sheet
 *
 * @less			'cart'
 */
body.checkout-cart-index{
	font-family: 'Muli',sans-serif;
}
.cart.table-wrapper{
	.product-item-photo{
		width:20%;
	}
	.product-item-name{
	    padding: 10px 0;
		a {
		    color: initial;
		    font-family: 'Muli',sans-serif;
		}
	}
	.item-actions{
		.actions-toolbar{
			a.towishlist{
				color: #1459cf;
			}
		}
	}
}
.cart-summary {
	.checkout-methods-items{
		 .action.primary.checkout {
		    background-color: #1459cf;
		    padding: 15px 0;
		    height: auto;
		    &:hover {
			    background-color: #000D25;
			}
			a.multicheckout{
				color: #1459cf;
			}
			span{
				font-family: 'Lato','sans-serif';
			}
		}
	}
}
.cart-discount{
	#block-discount-heading{
		color: #1459cf;
	}
}