@font-family : 'Muli',sans-serif;
@height : 44px;
body.contact-index-index {
	.page-title{
    	font-family: @font-family !important;
    }
    .actions-toolbar{
		.primary{
			.action{
				background:#1459D0;
				height: @height;
				span{
					font-family: @font-family;
					font-weight: 700;
					text-transform: capitalize;
				}
			}
		}
	}
}
body.contact-index-index input {
    font-family: @font-family;
}