@font-family : 'Muli',sans-serif;
@height : 44px;
.customer-account-create{
	.page-title{
		font-family: @font-family !important;
	}
	.fieldset span {
	    font-family: @font-family !important;
	}
	.fieldset input {
	    font-family: 'Muli',sans-serif;
	}
	.actions-toolbar{
		.primary{
			.action{
				background:#1459D0;
				height: @height;
				span{
					font-family: @font-family;
					font-weight: 700;
					text-transform: capitalize;
				}
			}
		}
		.secondary {
			a{
				span{
					color: #1459D0;
				}
			}
		}
	}
}