@font-family : 'Muli',sans-serif;
@height : 44px;
.customer-account-login{
	.page-title{
		font-family: @font-family !important;
	}
	.login-container {
		.block {
			.block-title {
				strong{
					font-family: @font-family;
				}
			}
			.block-content{
				.fieldset {
					.field{
						font-family: @font-family ;
						input {
						    font-family: @font-family ;
						}
					}					
				}
				.actions-toolbar{
					.primary{
						.action{
							background:#1459D0;
							height: @height;
							span{
								font-family: @font-family;
								font-weight: 700;
								text-transform: capitalize;
							}
						}
					}
					.secondary {
						a{
							span{
								color: #1459D0;
							}
						}
					}
				}
				p{
					font-family: @font-family;
				}
			}
		}
	}
}
