/**
 * Custom Style Sheet
 *
 * @less			'footer'
 */

.page-footer {
	.mg(top,0,px);
}

//
// @Back to Top
// ---------------------------------------------
#back2top {
	.pos(f,'',160,'',30,999);
	a {
		.boxsizing();
		.trans(all, 0.35, ease, 0);
		.border(all,@mg-blue-dark1,1);
		.bg(@mg-blue1);
		.br(3);
		.fs(10);
		.ta(c);
		.tt(u);
		.ti(2);
		.pd(top,15,px);
		.ds(b);
		color: @mg-white;
		width: 40px;
		height: 40px;
		&:visited {
			.bg(@mg-blue1);
			border-color: @mg-blue-dark1;
			color: @mg-white;
			.ic {
				.bg-icon('arrowline-up.svg',auto 18px);
				opacity: 1;
			}
		}
		&:hover {
			.bg(@mg-blue-dark1);
			border-color: @mg-blue-dark1;
			color: @mg-white;
			.ic {
				.bg-icon('arrowline-up.svg',auto 18px);
				opacity: 1;
			}
		}
		.ic {
			.bg-icon('arrowline-up.svg',auto 18px);
			.pos(a,4);
			.ds(b);
			width: 100%;
			height: 16px;
			opacity: 1;
		}
		br {
			.ds(n);
		}
	}
	.med(m,{
		bottom: 70px;
		right: 15px;
	});
}