/**
 * Custom Style Sheet
 *
 * @less			'herobanner'
 */

.bannerslide {
	.clear();
	.pos(r);
	.ta(c);
	overflow: hidden;
	&-wrapper {
		.image {
			img {
				vertical-align: middle;
				width: 100%;
			}
			&-fixed {
				.pos(a,0,'',0);
				max-width: 220px;
			}
		}
		.is {
			&-image {
				.detail {
					.pos(a,'','',0,0);
					.ts(Y,-50%);
					top: 50%;
					.med(m,{
						.pd(top,20,px);
						.pd-tb(20,px);
					});
				}
				&:not(.is-small) {
					.detail {
						.med(m,{
							.pos(s);
							.ts(Y,0%);
							.pd(bottom,50,px);
						});
					}
				}
			}
			&-url {
				cursor: pointer;
			}
			&-stretch {
				overflow: hidden;
			}
			&-small {
			}
			&-medium {
				
			}
			&-large {
				
			}
			&-black {
				color: @mg-black;
			}
			&-white {
				color: @mg-white;
				/*
				.content {
					color: @mg-white;
					* {
						color: inherit;
						&::before {
							color: inherit;
						}
					}
				}
				*/
			}
		}
	}
	&:not(.is-stretch) {
		&.is {
			&-image {
				.image {
					.med(d,{
						img {
							.ds(b);
							.pos(r);
							.mg(left,-700,px);
							left: 50%;
							width: 1400px;
							max-width: inherit;
						}
					});
				}
				&.is {
					&-small {
						.image {
							.med(m,{
								img {
									.mg(left,-512,px);
									width: 1024px;
								}
							});
						}
					}
					&-medium {
						.image {
							.med(m,{
								img {
									.mg(left,-460,px);
									width: 920px;
								}
							});
						}
					}
					&-large {
						.image {
							.med(ts,{
								img {
									.mg(left,-496,px);
									width: 992px;
								}
							});
							.med(m,{
								img {
									.mg(left,-450,px);
									width: 900px;
								}
							});
						}
					}
					&-xlarge {
						.image {
							.med(m,{
								img {
									.mg(left,-600,px);
									width: 1200px;
								}
							});
						}
					}
				}
			}
		}
	}
	&:not(.is-image) {
		.pd-tb(30,px);
	}
	&.is-stretch {
		&-mob {
			&.is-image {
				&.is-small,
				&.is-medium,
				&.is-large {
					.image {
						img {
							.med(m,{
								.pos(s);
								.mg(left,0,px);
								left: auto;
								width: 100%;
							});
						}
					}
				}
			}
		}
	}
	.detail {
		.swrap();
	}
	.content {
		.mg-lr(auto);
		width: 100%;
		&.tl {
			.ta(l);
		}
		&.tr {
			.ta(r);
		}
		&.lg {;
		}
		&.md {
		}
		&.xmd {
		}
		&.sm {
		}
		&.xsm {
		}
		&.pl,
		&.pr {
			.boxsizing();
			.ta(l);
			.med(gtm,{
				.fl(l);
				.pd(top,60,px);
				width: 60%;
			});
			.med(gtts,{
				.pd(top,80,px);
			});
		}
		&.pl {
			.med(gtts,{
				.pd(left,80,px);
			});
		}
		&.pr {
			.med(gtm,{
				.fl(r);
			});
		}
	}
	.title {
		.clear();
		.tt(u);
		.c(@mg-gray-dark1);
		> * {
			color: inherit;
		}
		h2 {
			.fm(@mg-font-hMd);
			.fs(56);
			.fl(l);
			.c(@mg-gray-dark1);
			.mg-tb(0,px);
			color: inherit;
		}
		p {
			.fm(@mg-font-gLa);
			.fw(300);
			.fs(26);
			.c(@mg-white);
			.mg(bottom,	0,px);
		}
		> div {
			.border(left,@mg-gray-dark2,1);
			.fm(@mg-font-hMd);
			.fs(20);
			.fl(l);
			.pd(left,15,px);
			.mg(top,8,px);
			.mg(left,15,px);
			span {
				.ds(b);
				line-height: 1;
				&:not(:first-child) {
					.c(@mg-white);
					.mg(top,5,px);
				}
			}
		}
	}
	.description {
		.mg(top,10,px);
		> * {
			color: inherit;
		}
		p {
			.fm(@mg-font-gLa);
			.fs(16);
			.fw(n);
			.c(@mg-blue-light1);
			> strong {
				.c(@mg-white);
			}
		}
	}
	.actions {
		.mg(top,30,px);
		.med(ts,{
			.mg(top,20,px);
		});
		.action {
			.bg(rgba(0,0,0,0.1));
			.ti(-9999);
			.ds(ib);
			width: 32px;
			height: 32px;
			&:not(:first-child) {
				.mg(left,10,px);
			}
			&.towishlist {
				.bg('','fm_add-to-wishlist.png',center);
			}
			&.tocart {
				.bg('','fm_add-to-cart.png',center,20px);
			}
			&.toemail {
				.bg('','fm_email.png',center,18px);
			}
		}
	}
	&-carousel {
		.mg(bottom,50,px);
		&:not(.slick-slider) {
			.bannerslide {
				&:not(:first-child) {
					.ds(n);
				}
			}
		}
		.slick {
			&-prev,
			&-next {
				.bg(@mg-gray-dark1);
				width: 32px;
				height: 58px;
			}
			&-prev {
				&::before {
					.bg-icon('fm_arrow-left-large-white.png');
				}
			}
			&-next {
				&::before {
					.bg-icon('fm_arrow-right-large-white.png');
				}
			}
			&-dots {
				bottom: 15px;
				li {
					.mg-lr(3,px);
					button {
						.bs(none);
						&::before {
							.fs(11);
							.c(@mg-gray-dark1);
						}
					}
					&.slick-active {
						button {
							&::before {
								.fs(15);
								.c(@mg-white);
							}
						}
					}
				}
			}
		}
	}
}