/**
 * Custom Style Sheet
 *
 * @less			'listing'
 */

 
.page-layout-1column {
	.products-grid {
		.product-item {
			width: 100%/5;
		}
	}
}

.products {
	.mg-tb(0,px);
	&-grid {
		.products-grid();
	}
	&-list {
		.products-list()
	}
}

.products-grid() {
	.product-items {
		.mg(top,0,px);
		.mg-lr(-7,px,imp);
		li {
			.product-item {
				.pd-lr(7,px,imp);
				&-photo {
					.bg(@mg-white);
					.ds(b);
					img {
						.med(m,{
							width: 100%;
						});
					}
				}
				&-name {
					.mg-lr(0,px,imp);
				}
				&-inner {
					.pos(s);
					.pd(all,0,px);
					.mg(all,0,px);
					.tocart {
						.pd-lr(8,px);
						height: 42px;
					}
					.actions-secondary {
						.towishlist {
							.bg(@mg-gray-dark1);
							.mg-lr(10,px);
							min-width: inherit;
						}
					}
				}
				&-info { 
					.mg(all,2,px);
					width: auto;
					.page-product-downloadable & {
						.border(all,@mg-gray-light3,1);
					}
					&:hover {
						.mg(all,2,px);
						.product-item {
							&-details {
								.ts(Y,0%);
								.pos(a);
								height: auto;
							}
							&-inner {
							}
							&-actions {
								.mg(all,0,px);
								.mg(top,20,px);
							}
						}
					}
					&.fixit {
						.pos(r);
						.product-item {
							&-details {
								.pos(a,'',0,0,0);
								background: #ffffff;
								.product-item-contributor:after {
									content: "";
									clear: both;
								}
								.product-item-contributor span {
									font-family: "Muli", sans-serif;
									font-size: 13px;
									font-weight: 700;
									color: #a0a2a9;
									float: left;
								}
								.product-item-contributor span:not(:first-child) {
									border-left: none;
									float: right;
								}
								.product-item-description {
									float: left;
								}
							}
						}
					}
				}
				&-actions {
					.actions-secondary {
						.bg(none);
					}
				}
			}
		}
		&.slick-slider {
			.slick {
				&-prev,
				&-next {
					.ts(Y,-100%);
					top: -32px;
				}
				&-prev {
					left: auto;
					right: 40px;
					&::before {
						.bg-icon('left-arrow.png');
						content: "";
					}
				}
				&-next {
					right: 10px;
					&::before {
						.bg-icon('right-arrow.png');
						content: "";
					}
				}
			}
			.product-item {
				.pd-lr(7,px,imp);
				.mg(left,0,px);
				&-info {
					width: auto;
				}
			}
		}
	}
}

.products-list() {

}

.catalog-category-view {
    .sidebar {
        .block {
            .title {
				background-color: transparent;
				border-bottom: 1px solid #d7d8dd;
    			padding-left: 0;
                strong {
                    font-family: "Muli",sans-serif;
                    font-size: 14px;
                    font-weight: 900;
                    color: #000000;
                }
            }
        }
		.block.filter {
			.block-subtitle {
				background-color: transparent;
				border-bottom: 1px solid #d7d8dd;
				font-family: "Muli",sans-serif;
				font-size: 14px;
				font-weight: 900;
				color: #000000;
				padding-left: 0;
			}
			.filter-options-title {
				font-family: "Muli",sans-serif;
				font-size: 13px;
				font-weight: 900;
				color: #2161d1;
				padding-bottom: 10px;
			}
			.filter-options-title:after {
				font-size: 12px;
			}
		}
        &.sidebar-additional {
            .block.block-contributor {
                .content {
                    .figure {
                        border: none;
                        border-radius: 0 !important;
                        -moz-border-radius: 0 !important;
                        -webkit-border-radius: 0 !important;
                        margin-bottom: 30px;
                        -webkit-box-shadow: 0px 18px 36px 14px rgba(212,215,224,0.73);
                        -moz-box-shadow: 0px 18px 36px 14px rgba(212,215,224,0.73);
                        box-shadow: 0px 18px 36px 14px rgba(212,215,224,0.73);
                        img {
                            border: none;
                            border-radius: 0 !important;
                            -moz-border-radius: 0 !important;
                            -webkit-border-radius: 0 !important;
                        }
					}
					.detail {
						h3 {
							font-family: "Muli", sans-serif;
							font-size: 1.2rem;
							font-weight: 900;
						}
						p {
							font-family: "Muli", sans-serif;
							font-size: 1.2rem;
    						font-weight: 700;
						}
						.actions {
							a.action.primary,
							a.action.primary:visited {
								background: #1558d1;
								height: 36px;
								line-height: 36px;
								font-family: "Muli", sans-serif;
								font-size: 14px;
								font-weight: 900;
								display: block;
							}
						}
					}
                }
            }
        }
	}
	.product-items {
		.product-item-name, 
		.product.name a,
		.product-item-name a:visited {
			font-family: "Muli", sans-serif;
			font-size: 14px;
			font-weight: 900;
			color: #000000;
		}
		li {
			padding-top: 10px !important;
			.product-item-info.fixit {
				-webkit-box-shadow: 0px 0px 16px -4px rgba(109, 109, 109, 0.5);
				-moz-box-shadow: 0px 0px 16px -4px rgba(109, 109, 109, 0.5);
				box-shadow: 0px 0px 16px -4px rgba(109, 109, 109, 0.5);
				padding: 0 5px;
			}
		}
	}
	.box-section {
		.box-title.bt-with-bg {
			background: #2f3132;
			h2 {
				background: #fff;
				padding-right: 30px;
				font-family: "Muli", sans-serif;
				font-weight: 900;
				color: #000000;
				line-height: 2;
			}
			p {
				max-width: 220px;
				font-size: 12px;
				color: #fff;
				line-height: 1.2;
				padding-top: 12px;
				padding-left: 0;
			}
			p:before {
				display: none;
			}
		}
	}
	.page-bottom .widget.block.block-static-block {
		margin-bottom: 0;
	}
	.plp-newsletter-box {
		background: url('../images/newsletter_background_img.png') no-repeat 0 0;
		background-size: cover;
		min-height: 470px;
		.plp-nl-box {
			max-width: 960px;
			margin: 0 auto;
			padding: 164px 0;
			.join-our-box {
				float: left;
				width: 50%;
				text-align: right;
				border-right: 1px solid #3f4872;
				h3,
				p {
					color: #ffffff;
					font-weight: 900;
					font-family: "Muli", sans-serif;
					text-transform: uppercase;
					text-align: right;
					padding-right: 20px;
				}
				h3 {
					font-size: 4rem;
					display: inline-block;
					width: 70%;
					margin-top: 0;
				}
				p {
					color: #afb6cb;
					font-size: 1.6rem;
				}
			}
			.nl-box {
				float: right;
				width: 49%;
				form {
					padding-left: 20px;
					.label {
						color: #afb6cb;
						font-size: 1.5rem;
						font-family: "Muli", sans-serif;
						margin-bottom: 13px;
						text-transform: uppercase;
						display: block;
					}
					.control {
						input {
							font-size: 1.5rem;
							font-family: "Muli", sans-serif;
							margin-bottom: 20px;
							background: transparent;
							border: 2px solid #fff;
							padding: 10px;
							height: auto;
						}
					}
					.actions {
						button.action.primary {
							background: #1558d1;
							height: 43px;
							line-height: 43px;
							font-family: "Muli", sans-serif;
							font-size: 14px;
							font-weight: 900;
							display: block;
							width: 100%;
						}
					}
				}
			}
		}
		.plp-nl-box:after {
			content: "";
			clear: both;
			display: block;
		}
	}
}
.bannerslide-carousel.slick-slider {
    margin-bottom: 20px;
    margin-top: -35px;
}