/**
 * Custom Style Sheet
 *
 * @less			'misc'
 */

.al {
	.ta(l);
}
.ar {
	.ta(r);
}
.ac {
	.ta(c);
}
.right {
	.fl(r);
}
.left {
	.fl(l);
}

ul {
	&.list {
		.clear-list();
	}
	&.blist {
		.bullet-list();
	}
}
.cms-page-view {
	ul {
		&.blist {
			.clear-list();
		}
	}
}


//
// @MessageBar	Success/Error/Notice/Info/Warning
// ---------------------------------------------
.page {
	&.messages {
		.messages {
			.mg(bottom,0,px);
			.message {
				.br(3);
				.mg(top,10,px);
				.mg(bottom,20,px);
				.med(m,{
					.mg(top,0,px);
					.mg(bottom,10,px);
				});
				&.error {
					background: @mg-red-light;
					color: @mg-gray-dark2;
				}
				&.success {
					background: @mg-green;
					color: @mg-white;
				}
				&.info,
				&.notice,
				&.warning {
					background: @mg-gray-dark1;
					color: @mg-white;
				}
				> *:first-child {
					&::before {
						color: inherit;
					}
				}
				a {
					.td(u);
					color: inherit !important;
					&:visited {
						.td(u);
						color: inherit !important;
					}
					&:hover {
						.td(n);
						color: inherit !important;
					}
				}
			}
		}
	}
}
.account {
	.page {
		&.messages {
			.mg(bottom,0,px);
		}
	}
}
.page-layout {
	&-1column {
		.page {
			&.messages {
				.pd-lr(0,px,imp);
			}
		}
	}
}
