<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Edit $block */
?>
<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
$coachingstatus = $profilestatus = $stateaccociation = $tagline = null;
if ($customerSession->isLoggedIn()) {
    $coachingstatus = $customerSession->getCustomer()->getCoachingstatus();
    $profilestatus = $customerSession->getCustomer()->getProfilestatus();
    $stateaccociation = $customerSession->getCustomer()->getStateaccociation();
    $tagline = $customerSession->getCustomer()->getTagline();
    $playbanktype = $customerSession->getCustomer()->getPlaybanktype();
    $playbankstate = $customerSession->getCustomer()->getPlaybankstate();
    $playbankgender = $customerSession->getCustomer()->getPlaybankgender();
    $blockObj= $block->getLayout()->createBlock('Plumtree\Afterregister\Block\Index\Index');
    $regions = $blockObj->getRegions();
    $playbanktypeOptions = $blockObj->getPlaybanktypeOptions();
    $playbankgenderOptions = $blockObj->getPlaybankgenderOptions();
}

?>
<form class="form form-edit-account" action="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/account/editPost') ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>" autocomplete="off">
    <fieldset class="fieldset info">
        <?php echo $block->getBlockHtml('formkey')?>
        <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Account Information') ?></span></legend><br>
        <?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getCustomer())->toHtml() ?>
        <div class="field field-name-avatar">
            <?php 
            
            $avatarFile = !empty($block->getCustomer()->getCustomAttribute('profileimg')) ? $block->getLayout()->createBlock('\Plumtree\Afterloginpage\Block\Attributes\Avatar')->checkImageFile(base64_encode($block->getCustomer()->getCustomAttribute('profileimg')->getValue())) : false; ?>
            <?php $avatar = ($avatarFile) ? $block->getUrl('pub/media/customer').$block->getCustomer()->getCustomAttribute('profileimg')->getValue() : $block->getViewFileUrl('Plumtree_Afterloginpage::images/no-profile-photo.jpg');?>
            <label class="label" for="profileimg">
                <span class="avatar-title"><?php echo __('Profile Picture');?></span>
                <img src="<?php echo $avatar; ?>" width="150px" height="150px" alt="profile-picture" title="<?php echo __('Upload new avatar'); ?>" class="profile-image"/>
            </label>
            <div class="control">
                <label for="profileimg" class="avatar-file-upload">
                    <?php echo __('Upload new avatar'); ?>
                </label>
                <input type="file" id="profileimg" name="profileimg" value="" title="Your avatar" class="avatar validate-image" />
            </div>
        </div>
        <div class="field choice">
             <label class="label" for="coachingstatus"><span><?php /* @escapeNotVerified */ echo __('Coaching Status') ?></span></label>
            <input type="text" name="coachingstatus" id="coachingstatus" data-role="coachingstatus" 
            value="<?php echo $coachingstatus; ?>" title="<?php /* @escapeNotVerified */ echo __('Coaching Status') ?>" class="input-text" />
        </div>
        <div class="field choice">
             <input type="checkbox" name="profilestatus" <?php if($profilestatus) {echo "checked='checked'";} ?> id="profilestatus" data-role="profilestatus" value="<?php echo $profilestatus ? 1 : 0 ;?>" title="<?php /* @escapeNotVerified */ echo __('profile status') ?>" class="checkbox" />
             <label class="label" for="profilestatus"><span><?php /* @escapeNotVerified */ echo __('Profile Status') ?></span></label>
        </div>
        <div class="field choice">
             <label class="label" for="stateaccociation"><span><?php /* @escapeNotVerified */ echo __('State Accociation') ?></span></label>
            <input type="text" name="stateaccociation" id="stateaccociation" data-role="stateaccociation" 
            value="<?php echo $stateaccociation; ?>" title="<?php /* @escapeNotVerified */ echo __('State Accociation') ?>" class="input-text" />
        </div>
        <div class="field choice">
             <label class="label" for="tagline"><span><?php /* @escapeNotVerified */ echo __('Tag Line') ?></span></label>
            <input type="text" name="tagline" id="tagline" data-role="tagline" 
            value="<?php echo $tagline; ?>" title="<?php /* @escapeNotVerified */ echo __('Tag Line') ?>" class="input-text" />
        </div>
        <div class="field choice">
             <label class="label" for="playbanktype"><span><?php /* @escapeNotVerified */ echo __('Play Bank Type') ?></span></label>
            <select class="admin__control-select" name="playbanktype" id="playbanktype">
                <?php 
                    foreach ($playbanktypeOptions as $key => $values) {
                        if ($playbanktype == $key){
                            echo '<option data-title="'.$values.'" selected="selected" value="'.$key.'">'.$values.'</option>';
                        }else{
                            echo '<option data-title="'.$values.'" value="'.$key.'">'.$values.'</option>';
                        }
                    }
                ?>
            </select>
        </div>
        <div class="field choice">
             <label class="label" for="playbankstate"><span><?php /* @escapeNotVerified */ echo __('Play Bank Region') ?></span></label>
            <select class="admin__control-select" name="playbankstate" id="playbankstate">
                <?php 
                    foreach ($regions as $key => $values) {
                        if($playbankstate == $values['region_id']){
                        echo '<option data-title="'
                        .$values['name'].'" selected="selected" value="'.$values['region_id'].'">'.$values['name'].'</option>';
                        }else{
                           echo '<option data-title="'
                        .$values['name'].'" value="'.$values['region_id'].'">'.$values['name'].'</option>';
                        }
                    }
                ?>
            </select>
        </div>
        
        <div class="field choice">
             <label class="label" for="playbankgender"><span><?php /* @escapeNotVerified */ echo __('Play Bank Gender') ?></span></label>
            <select class="admin__control-select" name="playbankgender" id="playbankgender">
                <?php 
                foreach ($playbankgenderOptions as $key => $values) {
                    if ($playbankgender == $key){
                        echo '<option data-title="'.$values.'" selected="selected" value="'.$key.'">'.$values.'</option>';
                    }else{
                        echo '<option data-title="'.$values.'" value="'.$key.'">'.$values.'</option>';
                    }
                }
                ?>
            </select>
        </div>
        <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
        <?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
        <?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
        <?php if ($_dob->isEnabled()): ?>
            <?php echo $_dob->setDate($block->getCustomer()->getDob())->toHtml() ?>
        <?php endif ?>
        <?php if ($_taxvat->isEnabled()): ?>
            <?php echo $_taxvat->setTaxvat($block->getCustomer()->getTaxvat())->toHtml() ?>
        <?php endif ?>
        <?php if ($_gender->isEnabled()): ?>
            <?php echo $_gender->setGender($block->getCustomer()->getGender())->toHtml() ?>
        <?php endif ?>
        <div class="field choice">
            <input type="checkbox" name="change_email" id="change-email" data-role="change-email" value="1" title="<?php /* @escapeNotVerified */ echo __('Change Email') ?>" class="checkbox" />
            <label class="label" for="change-email"><span><?php /* @escapeNotVerified */ echo __('Change Email') ?></span></label>
        </div>
        <div class="field choice">
            <input type="checkbox" name="change_password" id="change-password" data-role="change-password" value="1" title="<?php /* @escapeNotVerified */ echo __('Change Password') ?>"<?php if ($block->getChangePassword()): ?> checked="checked"<?php endif; ?> class="checkbox" />
            <label class="label" for="change-password"><span><?php /* @escapeNotVerified */ echo __('Change Password') ?></span></label>
        </div>
    </fieldset>

    <fieldset class="fieldset password" data-container="change-email-password">
        <legend class="legend"><span data-title="change-email-password"><?php /* @escapeNotVerified */ echo __('Change Email and Password') ?></span></legend><br>
        <div class="field email required" data-container="change-email">
            <label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
            <div class="control">
                <input type="email" name="email" id="email" autocomplete="email" data-input="change-email" value="<?php echo $block->escapeHtml($block->getCustomer()->getEmail()) ?>" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" class="input-text" data-validate="{required:true, 'validate-email':true}" />
            </div>
        </div>
        <div class="field password current required">
            <label class="label" for="current-password"><span><?php /* @escapeNotVerified */ echo __('Current Password') ?></span></label>
            <div class="control">
                <input type="password" class="input-text" name="current_password" id="current-password" data-input="current-password" autocomplete="off" />
            </div>
        </div>
        <div class="field new password required" data-container="new-password" data-mage-init='{"passwordStrengthIndicator": {}}'>
            <label class="label" for="password"><span><?php /* @escapeNotVerified */ echo __('New Password') ?></span></label>
            <div class="control">
                <input type="password" class="input-text" name="password" id="password"
                    data-password-min-length="<?php echo $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                    data-password-min-character-sets="<?php echo $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
                    data-input="new-password"
                    data-validate="{required:true, 'validate-customer-password':true}"
                    autocomplete="off" />
                <div id="password-strength-meter-container" data-role="password-strength-meter" >
                    <div id="password-strength-meter" class="password-strength-meter">
                        <?php /* @escapeNotVerified */ echo __('Password Strength'); ?>:
                        <span id="password-strength-meter-label" data-role="password-strength-meter-label" >
                            <?php /* @escapeNotVerified */ echo __('No Password'); ?>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="field confirm password required" data-container="confirm-password">
            <label class="label" for="password-confirmation"><span><?php /* @escapeNotVerified */ echo __('Confirm New Password') ?></span></label>
            <div class="control">
                <input type="password" class="input-text" name="password_confirmation" id="password-confirmation"
                    data-input="confirm-password"
                    autocomplete="off" />
            </div>
        </div>
        <?php echo $block->getChildHtml('form_additional_info'); ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action save primary" title="<?php /* @escapeNotVerified */ echo __('Save') ?>"><span><?php /* @escapeNotVerified */ echo __('Save') ?></span></button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>"><span><?php /* @escapeNotVerified */ echo __('Go back') ?></span></a>
        </div>
    </div>
</form>
<script>
    require([
        "jquery",
        "mage/mage"
    ], function($){
        //$('#profilestatus').val($(this).is(':checked'));
        $('#profilestatus').change(function() {
            if($(this).is(":checked")) {
                //var returnVal = confirm("Are you sure?");
                //$(this).attr("checked", returnVal);
                $('#profilestatus').val(1);  
            }else{
                $('#profilestatus').val(0);  
            }
                  
        });
        var dataForm = $('#form-validate');
        var ignore = <?php /* @escapeNotVerified */ echo $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null'; ?>;

        dataForm.mage('validation', {
        <?php if ($_dob->isEnabled()): ?>
            errorPlacement: function(error, element) {
                if (element.prop('id').search('full') !== -1) {
                    var dobElement = $(element).parents('.customer-dob'),
                        errorClass = error.prop('class');
                    error.insertAfter(element.parent());
                    dobElement.find('.validate-custom').addClass(errorClass)
                        .after('<div class="' + errorClass + '"></div>');
                }
                else {
                    error.insertAfter(element);
                }
            },
            ignore: ':hidden:not(' + ignore + ')'
        <?php else: ?>
            ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
        <?php endif ?>
        });

    });
</script>
<script type="text/x-magento-init">
    {
        "[data-role=change-email], [data-role=change-password]": {
            "changeEmailPassword": {
                "titleChangeEmail": "<?php /* @escapeNotVerified */ echo __('Change Email') ?>",
                "titleChangePassword": "<?php /* @escapeNotVerified */ echo __('Change Password') ?>",
                "titleChangeEmailAndPassword": "<?php /* @escapeNotVerified */ echo __('Change Email and Password') ?>"
            }
        }
    }
</script>
