<?php
	$data = $block->getCustomerData();
	$image = $data->getProfileimg();
	$imageDefault = 'fm_profile-avatar.jpg';
	
	if(isset($image)):
		$imagePath = $this->getUrl('pub/media/customer') . substr($image, 1);
	else:
		$imagePath = $this->getViewFileUrl('images/' . $imageDefault );
	endif;

	$wishlistCollection = $block->getWhishlist()->getData();
?>
<div class="coach-notify">
	<ul>
		<li>
			<p><?= __('New play posted <strong>Storylines to watch throughout the...
			</strong>'); ?></p>
			<a href="#" class="close"><?= __('x') ?></a>
		</li>
	</ul>
</div>
<div class="coach-panel">
	<div class="block block-cinfo">
		<div class="figure">
			<a href="<?php echo $this->getUrl("customer/account/edit", array("_secure" => true)); ?>"><img src="<?= $imagePath ?>" alt="" /></a>
		</div>
		<div class="detail">
			<div class="title coach-title-box">
				<h2><?= $data->getName() ?></h2>
				<?php if($data->getTagline()): ?>
					<p><?= $data->getTagline() ?></p>
				<?php endif; ?>
				<div class="status">
					<label class="switch">
					  <input type="checkbox" name="status" value="<?= $data->getProfilestatus() ?>" <?= ($data->getProfilestatus() == 1) ? 'checked' : '' ?>>
					  <span class="slider round"></span>
					</label>
					<p><?= __('public') ?></p>
				</div>
			</div>
			<div class="content">
				<?php if($data->getStateaccociation()): ?>
				<div class="description state-association">
					<a href="<?php echo $this->getBaseUrl()?>customer/account/">
						<p><?= __('State Association') ?></p>
						<h4><?= $data->getStateaccociation() ?></h4>
					</a>
				</div>
				<?php endif; ?>
				<?php if($data->getCoachingstatus()): ?>
				<div class="description coaching-status">
					<a href="<?php echo $this->getBaseUrl()?>customer/account/">
						<p><?= __('Coaching Status') ?></p>
						<h4><?= $data->getCoachingstatus() ?></h4>
					</a>
				</div>
				<?php endif; ?>
				<div class="description coach-community-rank">
					<p><?= __('Coach Community Rank') ?></p>
				</div>
				<div class="help">
					<a href="#" ><?= __('x') ?></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="coach-content" id="coach_tabs">
	<div class="coach-navigation">
		<div class="block block-cnav">
			<ul>
				<li><a data-role="title" href="#plays"><span><?= __('Basketball Plays') ?></span></a></li>
				<li><a data-role="title" href="#playbooks"><span><?= __('Basketball Playbooks') ?></span></a></li>
				<li><a data-role="title"href="#practiseplans"><span><?= __('Basketball Videos') ?></span></a></li>
				<li><a data-role="title" href="#recentlyviewed"><span><?= __('Recently Viewed') ?></span></a></li>
			</ul>
		</div>
	</div>
	<div class="coach-detail">
		<div class="block block-plays" id="plays" data-role="content">
			<?php
				echo $this->getLayout()->createBlock('Plumtree\Afterloginpage\Block\Index\Index')->setTemplate('Plumtree_Afterloginpage::list.phtml')->setCollection($wishlistCollection)->setProductType('My Plays')->toHtml(); ?>
		</div>
		<div class="block block-playtooks" id="playbooks" data-role="content">
			<?php
				echo $this->getLayout()->createBlock('Plumtree\Afterloginpage\Block\Index\Index')->setTemplate('Plumtree_Afterloginpage::list.phtml')->setCollection($wishlistCollection)->setProductType('My Playbooks')->toHtml(); ?>
		</div>
		<div class="block block-practiseplans" id="practiseplans" data-role="content">
			<?php
				echo $this->getLayout()->createBlock('Plumtree\Afterloginpage\Block\Index\Index')->setTemplate('Plumtree_Afterloginpage::list.phtml')->setCollection($wishlistCollection)->setProductType('My Practice Plans')->toHtml(); ?>
		</div>
		<div class="block block-recentlyviewed" id="recentlyviewed" data-role="content">
			<?php
				echo $this->getLayout()
						->createBlock("Magento\Reports\Block\Product\Widget\Viewed")
						->setDisplayType("recently.view.products")
						->setTemplate("widget/viewed/content/viewed_list_dashboard.phtml")
						->toHtml();  ?>
		</div>
	</div>
</div>
<script>
require(['jquery','jquery/ui'],function ($) {
	$("#coach_tabs").tabs();
});
</script>