<?php
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
	
	$productCollection = $this->getCollection();
	$productType = $this->getProductType();
	
	$imagewidth = 90;
	$imageheight = 90;
?>

<?php
	if(count($productCollection) > 0):
?>

<div class="products wrapper list products-list">
	<ol class="products list items product-items">
		<?php
			foreach ($productCollection as $key => $value):
				$product = $block->loadProduct($value['product_id']);
				$_optionId = $product ->getPlaytype();
				$_attributeId = $product->getResource()->getAttribute('playtype');
				if ($_attributeId->usesSource()):
					$_optionText = $_attributeId->getSource()->getOptionText($_optionId);
					
					if($_optionText == $productType):
		?>
						<li class="item product product-item">
							<div class="product-item-info">
								<?php
									$image_url = $imageHelper->init($product, 'product_thumbnail_image')->setImageFile($product->getFile())->resize($imagewidth, $imageheight)->getUrl();
									
									if($image_url):
								?>
										<a href="<?= $block->getProductUrl($product ->getId()) ?>" class="product photo product-item-photo">
											<img class="product-image-photo" src="<?= $image_url ?>" alt="" />
										</a>
								<?php
									endif;
								?>
								<div class="product-item-details">
									<div class="product-item-col c1">
										<strong class="product-item-name">
											<a class="product-item-link" href="<?= $block->getProductUrl($product ->getId()) ?>"><?= $product->getName() ?></a>
										</strong>
										<?php if($product->getShortDescription()): ?>
											<div class="product-item-description">
												<?= $product->getShortDescription() ?>
											</div>
										<?php endif; ?>
									</div>
									<div class="product-item-col c2">
										<div class="product-item-viewed">
											<p><strong><?= $block->getProductViewedCount($product->getEntityId()) ?></strong> <?= __('views') ?></p>
										</div>
									</div>
									<div class="product-item-col c3">
										<div class="product-item-actions">
											<button type="button"
													title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
													class="action tocart primary">
												<span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</li>
		<?php
					endif;
				endif;
			endforeach;
		?>
	</ol>
</div>

<?php
	else:
?>
	<div class="message info empty">
		<div><?= __('We can\'t find products matching the selection.'); ?></div>
	</div>
<?php
	endif;
?>