// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Newsletter subscription
    .block.newsletter {
        margin-bottom: @indent__xl;

        .form.subscribe {
            display: table;
            width: 100%;
        }

        .fieldset {
            display: table-cell;
            margin: 0;
            padding: 0;
            vertical-align: top;
        }

        .field {
            margin: 0;
            display: none;

            .control {
                .lib-icon-font(
                @icon-envelope,
                @_icon-font-size: 35px,
                @_icon-font-line-height: 33px,
                @_icon-font-color: @form-element-input-placeholder__color
                );
                display: block;

                &:before {
                    position: absolute;
                }
            }
        }

        input {
            padding-left: 35px;
        }

        .title {
            display: block;
            margin-bottom: 23px;

            strong {
                .lib-css(color, @color-white);
                font-family: @custom__font__helvetica_medium;
                font-weight: normal;
                line-height: @custom__footer__top__txt__lnh;
                font-size:  @custom__header__footer__fs;
                letter-spacing: @custom__footer__subscribe__txt_ls;
                margin-bottom: 31px;
            }
        }

        .label {
            &:extend(.abs-visually-hidden all);
        }

        .actions {
            display: table-cell;
            vertical-align: top;
            width: 1%;
        }

        .action.subscribe {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            margin-left: -1px;
            padding: @custom__footer__subscribe__btn_padding;

            span {
                font-family: @custom__font__helvetica_medium;
                font-size:  @custom__header__footer__fs;
                line-height: @custom__footer__subscribe__btn_lnh;
                font-weight: normal;
                .lib-css(color, @color-white);
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .block.newsletter {
        .title {
            strong {
                font-size:  @custom-mobile-subs-txt__font-size;
                font-weight: @custom-mobile-subs-txt__font-weight;
            }
        }
        .action.subscribe {
            padding: @custom-mobile-subs-btn__padding;
            span {
                font-size: @custom-mobile-subs-btn__font-size;
            }
        }
    }
}


//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .block.newsletter {
        .title {
            strong {
                font-size:  @custom-tablet-subs-txt__font-size;
            }
        }
        .action.subscribe {
            padding: @custom-tablet-subs-btn__padding;
            span {
                font-size: @custom-tablet-subs-btn__font-size;
            }
        }
    }
}
//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block.newsletter {
        width: 100%;

        .field {
            margin-right: 5px;

            .control {
                width: 100%;
            }
        }

        .action.subscribe {
            border-radius: 0px;
        }
    }
}
