<?php if($block->getCurrentPageView() == 'fastdraw') { ?> 
   <div class="cms-report-building-software fastdraw">
      <div class="rbs-sections-3 rbs-sections-3--2">
         <div class="rbs-s-reset-3">
            <h3>Fastdraw <span>Features</span></h3>
            <div class="features-box ff-b">
               <div class="f-b-1">
                  <div class="fb-img-box"><img src="<?php echo $block->getMediaUrl(); ?>wysiwyg/fastdraw-pdppage/ff/1-icon_diagram_blue-2.png" alt="" /></div>
                  <div class="fb-img-box-2">
                     <h4>Diagram and Draw</h4>
                     <p>The #1 tool to draw, organize, and share plays and drills.</p>
                  </div>
               </div>
               <div class="f-b-2">
                  <div class="fb-img-box"><img src="<?php echo $block->getMediaUrl(); ?>wysiwyg/fastdraw-pdppage/ff/2-icon_create_blue-2.png" alt="" /></div>
                  <div class="fb-img-box-2">
                     <h4>Create Playbooks</h4>
                     <p>Easy to build, professional design, and fully customizable.</p>
                  </div>
               </div>
               <div class="f-b-3">
                  <div class="fb-img-box"><img src="<?php echo $block->getMediaUrl(); ?>wysiwyg/fastdraw-pdppage/ff/3-icon_find_blue-2.png" alt="" /></div>
                  <div class="fb-img-box-2">
                     <h4>Get Plays</h4>
                     <p>Access thousands of plays and drills to adapt and use.</p>
                  </div>
               </div>
            </div>
            <div class="features-box ff-b features-box-2">
               <div class="f-b-1">
                  <div class="fb-img-box"><img src="<?php echo $block->getMediaUrl(); ?>wysiwyg/fastdraw-pdppage/ff/4-icon_organize_blue-2.png" alt="" /></div>
                  <div class="fb-img-box-2">
                     <h4>Organize</h4>
                     <p>Categorize, add labels, and create comprehensive plays and playbooks.</p>
                  </div>
               </div>
               <div class="f-b-2">
                  <div class="fb-img-box"><img src="<?php echo $block->getMediaUrl(); ?>wysiwyg/fastdraw-pdppage/ff/5-icon_trade_blue-2.png" alt="" /></div>
                  <div class="fb-img-box-2">
                     <h4>FastTrade</h4>
                     <p>Share plays directly with other FastDraw users and via email.</p>
                  </div>
               </div>
               <div class="f-b-3">
                  <div class="fb-img-box"><img src="<?php echo $block->getMediaUrl(); ?>wysiwyg/fastdraw-pdppage/ff/6-icon_save_blue-2.png"alt="" /></div>
                  <div class="fb-img-box-2">
                     <h4>Backup</h4>
                     <p>Save and access your work across multiple computers and devices.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="rbs-sections-2">
         <div class="rbs-s-reset-2 days-guarantee">
            <div class="guarantee-img"><img src="<?php echo $block->getMediaUrl(); ?>wysiwyg/report-building-software/need_logo.png" alt="" /></div>
            <div class="guarantee-info">
               <h4>No Need To Sweat Your Decision</h4>
               <p>Take our products for a test drive and in the off-chance that it's not working out, return it within 30 days and get a full refund.</p>
            </div>
         </div>
      </div>
      <div class="rbs-sections-1">
         <div class="rbs-s-reset-1">
            <div class="rbs-logo-box"><?php echo $this->getLayout()
             ->createBlock('Magento\Cms\Block\Block')
             ->setBlockId('collaborate_coaches_slider')
             ->toHtml(); ?></div>
         </div>
      </div>
      <div class="rbs-sections-4 rbs-sections-4--2">
         <div class="rbs-s-reset-4">
            <div class="testimonial-slider rbs-feature">
               <div class="box-1">
                  <h3>Play<span>Books</span></h3>
                  <p>Make your playbooks the envy of the gym (and the team you just beat).</p>
               </div>
               <div class="box-2">
                  <h3>Fast<span>Everything</span></h3>
                  <p>Add 5 players to the court(1 with the ball) with one click. It's THAT easy! Your players even AUTOMATICALLY follow their cut or pass to their new location. BAM!</p>
               </div>
               <div class="box-3">
                  <h3>Frame<span>Descriptions</span></h3>
                  <p>Lit's be honest, your players can't read your chicken scratch... so type it up!</p>
               </div>
            </div>
            <div class="testimonial-img"><img src="<?php echo $block->getMediaUrl(); ?>wysiwyg/fastdraw-pdppage/coach_bottom.png" alt="" /></div>
         </div>
      </div>
      <div class="rbs-sections-4">
         <div class="rbs-s-reset-4">
            <div class="testimonial-img"><img src="<?php echo $block->getMediaUrl(); ?>wysiwyg/fastdraw-pdppage/test_2.png" alt="" /></div>
            <div id="testimonial-slider" class="slick-track testimonial-slider">
               <div class="item">
                  <div class="testimonial-box">
                     <div class="testi-txt">If you are not using FastDraw, you are depriving your team, your program, and yourself the best chance to grow and succeed.</div>
                     <div class="testi-user-info">
                        <h4>Boaz Roth</h4>
                        <p>Head Boys Baskball Coach</p>
                        <p>Thomas Jefferson School</p>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="testimonial-box">
                     <div class="testi-txt">If you are not using FastDraw, you are depriving your team, your program, and yourself the best chance to grow and succeed.</div>
                     <div class="testi-user-info">
                        <h4>Boaz Roth</h4>
                        <p>Head Boys Baskball Coach</p>
                        <p>Thomas Jefferson School</p>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="testimonial-box">
                     <div class="testi-txt">If you are not using FastDraw, you are depriving your team, your program, and yourself the best chance to grow and succeed.</div>
                     <div class="testi-user-info">
                        <h4>Boaz Roth</h4>
                        <p>Head Boys Baskball Coach</p>
                        <p>Thomas Jefferson School</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="rbs-sections-5">
         <div class="rbs-s-reset-5">
            <h3>As Featured <span>In</span></h3>
            <div class="as-featured-in">
               <div class="as-f-in-box">
                  <div class="a-f-i-1">
                     <div class="afi-img-box"><img src="<?php echo $block->getMediaUrl(); ?>wysiwyg/report-building-software/parteners/espn.png" alt="" /></div>
                  </div>
                  <div class="a-f-i-2">
                     <div class="afi-img-box"><img src="<?php echo $block->getMediaUrl(); ?>wysiwyg/report-building-software/parteners/apple.png" alt="" /></div>
                  </div>
                  <div class="a-f-i-3">
                     <div class="afi-img-box"><img src="<?php echo $block->getMediaUrl(); ?>wysiwyg/report-building-software/parteners/sports.png" alt="" /></div>
                  </div>
               </div>
            </div>
            <div class="as-featured-in afi-2">
               <div class="as-f-in-box">
                  <div class="a-f-i-1">
                     <div class="afi-img-box"><img src="<?php echo $block->getMediaUrl(); ?>wysiwyg/report-building-software/parteners/crain.png" alt="" /></div>
                  </div>
                  <div class="a-f-i-2">
                     <div class="afi-img-box"><img src="<?php echo $block->getMediaUrl(); ?>wysiwyg/report-building-software/parteners/Wgn.png" alt="" /></div>
                  </div>
                  <div class="a-f-i-3">
                     <div class="afi-img-box"><img src="<?php echo $block->getMediaUrl(); ?>wysiwyg/report-building-software/parteners/scars.png" alt="" /></div>
                  </div>
               </div>
            </div>
            <div class="afi-bottom"></div>
         </div>
      </div>
      <div class="rbs-sections-6">
         <div class="rbs-s-reset-6">
            <h3>Pricing <span>Options</span></h3>
            <div class="pricing-options-table">
               <div class="box-section fm-box-table">
                  <div class="box swrap box-pbpricing box-table-wrapper">
                     <div class="box-content box-table-content rows-six">
                        <div class="comparison-table">
                           <div class="header-row">
                              <div class="row one">
                                 <ul>
                                    <li class="header h-feature col-one">
                                       <h3>Features</h3>
                                    </li>
                                    <ul id="comp_slick_carousel" class="comp-slick-carousel slider is-mobile-ul">
                                       <li class="header h-commit add_tocart" data-id="no_commitments">
                                          <div class="item-details">
                                             <div class="item-top"></div>
                                             <div class="item-price">
                                                <p><sup class="item-price-sign"></sup>FastDraw<span class="item-price-duration">Ipad</span></p>
                                             </div>
                                          </div>
                                       </li>
                                       <li class="header h-access add_tocart" data-id="playbank_access">
                                          <div class="item-details">
                                             <div class="item-top"></div>
                                             <div class="item-price">
                                                <p><sup class="item-price-sign"></sup>FastDraw<span class="item-price-duration">Desktop</span></p>
                                             </div>
                                          </div>
                                       </li>
                                       <li class="header h-coach-pack add_tocart active-pack" data-id="coach_pack">
                                          <div class="item-details">
                                             <div class="item-top">
                                                <p>Most Popular</p>
                                             </div>
                                             <div class="item-price">
                                                <p><sup class="item-price-sign"></sup>FastDraw<span class="item-price-duration">Desktop + Ipad</span></p>
                                             </div>
                                          </div>
                                       </li>     
                                       <li class="header h-access add_tocart" data-id="playbank_access">
                                          <div class="item-details">
                                             <div class="item-top"></div>
                                             <div class="item-price">
                                                <p><sup class="item-price-sign"></sup>FastDraw+<span class="item-price-duration">FastScout Bundle</span></p>
                                             </div>
                                          </div>
                                       </li>                             
                                    </ul>
                                 </ul>
                              </div>
                           </div>
                           <div class="content-rows">
                              <div class="feature-row h-feature is-mobile">
                                 <h3>Features</h3>
                              </div>
                              <div class="row two">
                                 <ul>
                                    <li class="col-one">
                                       <p>Platforms</p>
                                    </li>
                                    <li class="col-two bg-none-imp">
                                       <p>iPad</p>
                                    </li>
                                    <li class="col-three bg-none-imp">
                                       <p>Mac, PC</p>
                                    </li>
                                    <li class="col-four bg-none-imp all-mpi">
                                       <p>Mac, PC, iPad</p>
                                    </li>
                                    <li class="col-five bg-none-imp">
                                       <p>Mac, PC, iPad</p>
                                    </li>                                 
                                 </ul>
                              </div>
                              <div class="row three">
                                 <ul>
                                    <li class="col-one">
                                       <p>Create, save and share plays</p>
                                    </li>
                                    <li class="col-two bg-none-imp">
                                       <p>Unlimited plays</p>
                                    </li>
                                    <li class="col-three bg-none-imp">
                                       <p>Unlimited plays</p>
                                    </li>
                                    <li class="col-four bg-none-imp">
                                       <p>Unlimited plays</p>
                                    </li>
                                    <li class="col-five bg-none-imp">
                                       <p>Unlimited plays</p>
                                    </li>                                 
                                 </ul>
                              </div>
                              <div class="row four">
                                 <ul>
                                    <li class="col-one">
                                       <p>Printing</p>
                                    </li>
                                    <li class="col-two bg-none-imp">
                                       <p>Print one play at a time</p>
                                    </li>
                                    <li class="col-three bg-none-imp">
                                       <p>Print multiple plays and full playbooks with customized layouts</p>
                                    </li>
                                    <li class="col-four bg-none-imp">
                                       <p>Print multiple plays and full playbooks with customized layouts</p>
                                    </li>
                                    <li class="col-five bg-none-imp">
                                       <p>Print multiple plays and full playbooks with customized layouts</p>
                                    </li>                                 
                                 </ul>
                              </div>
                              <div class="row five">
                                 <ul>
                                    <li class="col-one">
                                       <p>Draw powerful plays with desktop-only features</p>
                                    </li>
                                    <li class="col-two"></li>
                                    <li class="col-three"></li>
                                    <li class="col-four"></li>
                                    <li class="col-five"></li>
                                 </ul>
                              </div>
                              <div class="row six">
                                 <ul>
                                    <li class="col-one">
                                       <p>Organize your plays into custom playbooks</p>
                                    </li>
                                    <li class="col-two"></li>
                                    <li class="col-three"></li>
                                    <li class="col-four"></li>
                                    <li class="col-five"></li>
                                 </ul>
                              </div>
                              <div class="row seven">
                                 <ul>
                                    <li class="col-one">
                                       <p>Download and edit over 4,000 plays from fastdraw's coaching community</p>
                                    </li>
                                    <li class="col-two"></li>
                                    <li class="col-three"></li>
                                    <li class="col-four"></li>
                                    <li class="col-five"></li>
                                 </ul>
                              </div>
                              <div class="row seven eight">
                                 <ul>
                                    <li class="col-one">
                                       <p>Receive and edit plays from other coaches</p>
                                    </li>
                                    <li class="col-two"></li>
                                    <li class="col-three"></li>
                                    <li class="col-four"></li>
                                    <li class="col-five"></li>
                                 </ul>
                              </div>
                              <div class="row seven nine">
                                 <ul>
                                    <li class="col-one">
                                       <p>Backup your plays</p>
                                    </li>
                                    <li class="col-two"></li>
                                    <li class="col-three"></li>
                                    <li class="col-four"></li>
                                    <li class="col-five"></li>
                                 </ul>
                              </div>
                              <div class="row seven ten">
                                 <ul>
                                    <li class="col-one">
                                       <p>Save player names and color defaults</p>
                                    </li>
                                    <li class="col-two"></li>
                                    <li class="col-three"></li>
                                    <li class="col-four"></li>
                                    <li class="col-five"></li>
                                 </ul>
                              </div>
                              <div class="row f-price-row">
                                 <ul>
                                    <li class="col-one">
                                       <p></p>
                                    </li>
                                    <li class="col-two last-col-five bg-none-imp">
                                       <div class="item-price-1">
                                          <p><sup class="item-price-sign">$</sup>24.99<span class="item-price-duration">/ year</span></p>
                                       </div>
                                    </li>
                                    <li class="col-three last-col-five bg-none-imp">
                                       <div class="item-price-1">
                                          <p><sup class="item-price-sign">$</sup>74.99<span class="item-price-duration">/ year</span></p>
                                       </div>
                                    </li>
                                    <li class="col-four last-col-five bg-none-imp">
                                       <div class="item-price-1">
                                          <p class="active-price"><sup class="item-price-sign">$</sup>89.99<span class="item-price-duration">/ year</span></p>
                                       </div>
                                       <div class="item-details-1">
                                          <div class="item-top-1"></div>
                                       </div>
                                    </li>
                                    <li class="col-five last-col-five bg-none-imp">
                                       <div class="item-price-1">
                                          <p><sup class="item-price-sign">$</sup>147.99<span class="item-price-duration">/ year</span></p>
                                       </div>
                                    </li>                             
                                 </ul>
                              </div>
                              <div class="row ten" id="addProduct">
                              	<?php if($block->getCurrentProductSku() == '654-654-002') {?>
   	                              <ul>
   	                                 <li class="col-one"></li>
   	                                 <li class="col-two"><a id="btn_1" class="addProduct" href="javascript:void(0)" protion="options_1_3">Add To Cart</a></li>
   	                                 <li class="col-three"><a id="btn_2" class="addProduct" href="javascript:void(0)" protion="options_1_4">Add To Cart</a></li>
   	                                 <li class="col-four"><a id="btn_3" class="addProduct" href="javascript:void(0)" protion="options_1_5">Add To Cart</a></li>
   	                                 <li class="col-five"><a id="btn_4" class="addProduct" href="javascript:void(0)" protion="options_1_6">Add To Cart</a></li>
   	                              </ul>
                             <?php } else { ?>
                             			<ul>
   	                                 <li class="col-one"></li>
   	                                 <li class="col-two"><a id="btn_1" class="addProduct" href="javascript:void(0)" protion="options_4_3">Add To Cart</a></li>
   	                                 <li class="col-three"><a id="btn_2" class="addProduct" href="javascript:void(0)" protion="options_4_4">Add To Cart</a></li>
   	                                 <li class="col-four"><a id="btn_3" class="addProduct" href="javascript:void(0)" protion="options_4_5">Add To Cart</a></li>
   	                                 <li class="col-five"><a id="btn_4" class="addProduct" href="javascript:void(0)" protion="options_4_6">Add To Cart</a></li>
   	                              </ul>
                             <?php } ?>	
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <script type="text/javascript" xml="space">// <![CDATA[
                  	require(['jquery', 'fm_slider'], function($) {
                      	var options = {
                          	selector: '#comp_slick_carousel',
                          	responsive: [1, 1, 1],
                          	arrows: true,
                          	show: 1
                      	}
                      	$.fm.slider(options);
                      	jQuery(".addProduct").click(function() {
                      		jQuery('#'+jQuery(this).attr('protion')).trigger('click');
   		               	jQuery('.product-add-form .product-options-bottom #product-addtocart-button').trigger('click');
   		               	window.scrollTo({ top: 0, behavior: 'smooth' });
                  		});
                  		var cnt = 0;
                  		jQuery('#options-1-list .field .radio').each(function(){
         						var get_id = jQuery(this).attr('id');
         						var idArray = new Array(get_id);
         						jQuery.each(idArray, function(key, value) {
         					        cnt++;
         					        jQuery('#addProduct li #btn_'+cnt).attr('protion',value);
         					        console.log(jQuery('#addProduct li #btn_'+cnt).attr('protion'));
         					    });

         					});

   					
                      	jQuery(".addProduct").click(function() {
   		               	jQuery('.product-add-form .product-options-bottom #product-addtocart-button').trigger('click');
   						      jQuery('#'+jQuery(this).attr('protion')).trigger('click');
                  		});
                        $(document).ready(function(){
                           jQuery('form select').each(function(i, select){
                              var $select = jQuery(select);
                              $select.find('option').each(function(j, option){
                                 var $option = jQuery(option);
                                 // Create a radio:
                                var $radio = jQuery('<input type="radio" />');
                                // Set name and value:
                                $radio.attr('name', $select.attr('name')).attr('value', $option.val());
                                // Set checked if the option was selected
                                if ($option.attr('selected')) $radio.attr('checked', 'checked');
                                // Insert radio before select box:
                                $select.before($radio);
                                // Insert a label:
                                $select.before(
                                  jQuery("<label />").attr('for', $select.attr('name')).text($option.text())
                                );
                                // Insert a <br />:
                                $select.before("<br/>");
                              });
                              $select.remove();
                           });
                        });
                  	});
                  // ]]>
               </script>
            </div>
         </div>
      </div>
   </div>
<?php } ?>   