@theme-green-color: #02cc7f;
.product-fastdrawr-report-building-software,
.product-fastcout-d1,
.product-fastcout-d2d3,
.product-fastcout-nba{

	@media only screen and (min-width: 768px){
		.fotorama .fotorama__stage {			
			position: relative;
			left: 0 !important;
			.fotorama__stage__shaft {
				top: 1px;
				max-width: inherit !important;
			}
		}
		.fotorama .fotorama__nav-wrap--vertical .fotorama__nav__frame{
			float: @none;
			margin-right: @zero;
		}
		.fotorama .fotorama__nav-wrap .fotorama__nav--thumbs {
		}		
		.fotorama .fotorama__nav-wrap {		    
		    left: -112px;
		}
		.fotorama .fotorama__arr--next{
			position: unset !important;
		}
		.product.media .gallery-placeholder {
		    margin-left: 112px;
		}		
	}
}

.product-fastdrawr-report-building-software,
.product-fastcout-d1,
.product-fastcout-d2d3,
.product-fastcout-nba {	
	.product-info-top {
		background: #141416;
		padding-top: 50px;
		padding-bottom: 50px;
		margin-bottom: 50px;
		.product.media{
			overflow: visible;
			width: 50%;
		}
		.product-info-main{
			width: 45%;
			.short-description {
				p{
					font-size: @font17 !important;
				    line-height: 25px;
				    color: @theme-green-color !important;
				    font-family: @mg-font-gMu;
				    max-width: 500px;
				    font-weight: @ex-bold !important;
				    text-transform: @uppercase;
				}
			}
			.product-add-form{
				.product-options-wrapper {
					.fieldset {
						.field.required > label.label:after {
							display: @none;
						}
						.field.required {
							label.label {
								span {
									color: @mg-white;
									font-style: italic;
									font-size: 13px;
								}
							}
							.control {
								width: 100%;
								.options-list {
									.field {
										display: inline-block;
										margin-right: 10px;
										margin-top: 15px;
										vertical-align: top;
									}
									.field:last-child {
										margin-right: @zero;
									}
									input[type="radio"] {
										display: @none;
									}
									label.label {							
										border: 1px solid #818592;
										color: @mg-white !important;
										padding: 10px;
										min-height: 103px;
			    						width: 98px;
										font-size: @title2;
										display: flex !important;
										flex-flow: column;
										span {
											color: #9ca1b2;
											font-size: 12px;
											font-family: "Muli", sans-serif;
											font-weight: @bolder;
											letter-spacing: 1px;
											text-transform: uppercase;
											margin-bottom: @zero;
											font-style: normal;
											order: 2;
											text-align: center;
											width: @full;
											line-height: 1.2;
											span.subnode {
												color: #9ba0b2 !important;
												display: block;
												font-size: 7px !important;
												margin-top: 5px;
											}
										}
										span.price-notice {
											order: 1;
											color: #141415;
											height: 40px;
											overflow: hidden;
											span {
												font-family: 'Muli', sans-serif;
												font-size: @font22 !important;
												font-weight: @bolder;
												color: @mg-white;
												letter-spacing: @zero;
												/*margin-top: -10px;*/
			    								display: block;
											  }
										}
										span.price-notice.custom-price-notice {
											.price-wrapper {
												span {
													color: @theme-green-color;
													display: initial;
												}
												span.s-1 {										
													vertical-align: super;
													color: #777d90 !important;										
												}
												span.s-2 {}
											}
										}
									}
									label.label:before {
										display: none;
									}
									input[type="radio"]:checked ~ label,
									input[type="radio"]:checked + label {
										border: 1px solid #1550b9;
									}
									input[type="radio"]:checked ~ label span,
									input[type="radio"]:checked + label span {
										color: #ffffff;
									}
									input[type="radio"]:checked ~ label span.s-2,
									input[type="radio"]:checked + label span.s-2 {
										color: #ffffff !important;
									}
									input[type="radio"]:checked ~ label span.price-notice,
									input[type="radio"]:checked + label span.price-notice {
										color: #141415;
									}
								}
								.options-list#options-1-list{
									.field{							
										label.label{
											width: 88px;
											min-height: 95px;
										}
									}
								}
							}
						}
						.field.required:first-child {

						}
						.field.required:last-child {
							.control {
								width: 100%;
								.options-list {
									input[type="radio"]:checked ~ label,
									input[type="radio"]:checked + label {
										border: 1px solid @theme-green-color;
									}
								}
							}				
							.control .options-list label.label {
								/*background: #1459ce;*/
								border-color: #818592;
								padding: 20px;
								min-height: inherit;
								span {
									font-family: 'Muli', sans-serif;
									font-size: 12px;
									font-weight: 900;
									/*color: #fff;*/
									letter-spacing: @zero;
									text-align: @center;
									margin: @zero;
									letter-spacing: 0.75px
								}
							}
						}
					}
				}
				.box-tocart {		
					.actions {
						button.action.primary.tocart,
						button.action.primary.tocart:hover {
							background: @theme-green-color;
						}
					}
				}
			}
			.product-links{display: @none;}			
		}
		&:after {
			clear:both;
			content:"";
			display: block;
		}
	}
	.product-view{
		.product-essential{
			.cms-report-building-software{
				.rbs-sections-2 { 
					background: url("../images/fastscout/rbs-sections-2.jpg") no-repeat;
				}
				.rbs-sections-4 { 
					/*background: url("../images/fastscout/static-banner.png") no-repeat;*/
					background: rgb(11, 144, 94,0.1);
				}
				.rbs-sections-3, .rbs-sections-5, .rbs-sections-6{
					.rbs-s-reset-3, .rbs-s-reset-5, .rbs-s-reset-6 {
						h3 {
							span{
								color: @theme-green-color;
							}
						}
						.pricing-options-table .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row .item-details .item-price p{
							color: @theme-green-color;
						}
						.pricing-options-table .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row ul li.header.active-pack .item-details {
							background-color: #09915d;
						}
						.pricing-options-table .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row .active-pack .item-details .item-price p {
							color: @mg-white;
						}
						.pricing-options-table .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .header-row .row .item-details .item-top {
							background-color:#112f24;
						}
						.pricing-options-table .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .content-rows ul li.col-four {
							background-color: #09915d !important;
						    border-color: #09915d !important; 
						    border-bottom: 1px solid #05ac6c !important;
						}
						.pricing-options-table .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.last-col-five p{
						    font-size: 29px !important;
						    font-weight: @ex-bold;
						    color: @mg-white;
						    padding: 15px @zero !important;
						    span , sup{
						    	color: #9ca1b2;
						    }
						}
						.pricing-options-table .fm-box-table .box-table-wrapper .box-table-content.rows-six .row ul li.col-four .item-price-1 p.active-price{
							margin: @zero !important;
							width: @full;
							padding: 15px @zero !important;
						}
						.pricing-options-table .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .row#addProduct ul li a {
							background-color: @theme-green-color;
						}
						.pricing-options-table .fm-box-table .box-table-wrapper .box-table-content.rows-six .comparison-table .row#addProduct ul li:nth-child(4) a {
							background: @mg-white !important;
						    color: #02cc7f;
						    font-weight: @ex-bold;
						    font-size: @font16;
						    text-decoration: @none;
						}
					}					
				}
				.rbs-sections-3.rbs-sections-3--2 {
					border-top: 10px solid transparent; 
					border-image: url("../images/fastscout/fastscout-border.png") 30 repeat;
				}
				.rbs-sections-5 .rbs-s-reset-5 .afi-bottom{
					border-top: 10px solid transparent; 
					border-image: url("../images/fastscout/fastscout-border.png") 30 repeat;
				}
				/* Features */
				.rbs-sections-3 .rbs-s-reset-3 {
					max-width: 1280px;
				}
				.rbs-sections-3.rbs-sections-3--2 .features-box.ff-b .f-b-1,
				.rbs-sections-3.rbs-sections-3--2 .features-box.ff-b .f-b-2,
				.rbs-sections-3.rbs-sections-3--2 .features-box.ff-b .f-b-3 {
					.fb-img-box{
						width: @full;
						height: 200px;
						margin-bottom: 30px;
					}
					.fb-img-box-2{						
					    clear: both;
					    width: @full;
					    h4{
					    	font-size: @font20;
							color: @mg-white;
							font-family: "Futura PT";
							font-weight: @bold;
							text-align: @center;
							padding: @zero;
					    }
					    p{
					    	font-size: @font17;
							line-height: 23px;
							color: #e5e5e5;
							font-family: @mg-font-gMu;
							font-weight: @normal;
							text-align: @center;
							padding: @zero;
							margin: @margin-center;
						    width: 330px;
					    }
					}
				}
			}
			.slick-dots li.slick-active button::before {
				color: #00bb7b;
			}
			.rbs-sections-4 { 
				background: url("../images/fastscout/static-banner.png") no-repeat right top;					
			}
			.rbs-sections-4 .rbs-s-reset-4 .testimonial-slider .item .testimonial-box{
				background: url(../images/testiminoal/quote.png) no-repeat 0 0;
			}
			.rbs-sections-4 .rbs-s-reset-4 .testimonial-slider .item .testi-user-info h4{
				color: #0ac276;
			}	
		}
	}
}