<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * @var $block \Magento\Reports\Block\Product\Viewed
 */
?>
<?php
if ($exist = ($block->getRecentlyViewedProducts() && $block->getRecentlyViewedProducts()->getSize())) {
    $type = 'widget-viewed';
    $mode = 'list';

    $type = $type . '-' . $mode;

    $image = 'recently_viewed_products_list_content_widget';
    $title = __('Recently Viewed');
    $items = $block->getRecentlyViewedProducts();
    $_helper = $this->helper('Magento\Catalog\Helper\Output');

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $rating = 'short';
    $description = ($mode == 'list') ? true : false;
}
?>

<?php if ($exist):?>
		<?= /* @escapeNotVerified */ '<!-- ' . $image . '-->' ?>
		<div class="products-<?= /* @escapeNotVerified */ $mode ?> <?= /* @escapeNotVerified */ $mode ?>">
			<ol class="product-items <?= /* @escapeNotVerified */ $type ?>">
				<?php $iterator = 1; ?>
				<?php foreach ($items as $_item): ?>
					<?= /* @escapeNotVerified */ ($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
					<div class="product-item-info">
						<a href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>" class="product-item-photo">
							<?= $block->getImage($_item, $image)->toHtml() ?>
						</a>
						<div class="product-item-details">
							<div class="product-item-col c1">
								<strong class="product-item-name">
									<a title="<?= $block->escapeHtml($_item->getName()) ?>"
									   href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>" class="product-item-link">
										<?= $block->escapeHtml($_item->getName()) ?>
									</a>
								</strong>
								<?php if ($description):?>
									<div class="product-item-description">
										<?= /* @escapeNotVerified */ $_helper->productAttribute($_item, $_item->getShortDescription(), 'short_description') ?>
										<a title="<?= $block->escapeHtml($_item->getName()) ?>"
										   href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>"
										   class="action more"><?= /* @escapeNotVerified */ __('Learn More') ?></a>
									</div>
								<?php endif; ?>
							</div>
							<?php /* @escapeNotVerified */ echo $block->getProductPriceHtml(
								$_item,
								\Magento\Catalog\Pricing\Price\FinalPrice::PRICE_CODE,
								\Magento\Framework\Pricing\Render::ZONE_ITEM_LIST,
								[
									'price_id_suffix' => '-' . $type
								]
							) ?>
							<?php if ($rating): ?>
								<?= $block->getReviewsSummaryHtml($_item, $rating) ?>
							<?php endif; ?>
							<?php if ($showWishlist || $showCompare || $showCart): ?>
							<div class="product-item-col c3">
								<div class="product-item-actions">
									<?php if ($showCart): ?>
										<div class="actions-primary">
											<?php if ($_item->isSaleable()): ?>
												<?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
													<button class="action tocart primary"
															data-mage-init='{"redirectUrl": {"url": "<?= /* @escapeNotVerified */ $block->getAddToCartUrl($_item) ?>"}}'
															type="button" title="<?= /* @escapeNotVerified */ __('Add to Cart') ?>">
														<span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
													</button>
												<?php else: ?>
													<?php
														$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
														$postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()]);
													?>
													<button class="action tocart primary"
															data-post='<?= /* @escapeNotVerified */ $postData ?>'
															type="button" title="<?= /* @escapeNotVerified */ __('Add to Cart') ?>">
														<span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
													</button>
													<?php endif; ?>
											<?php else: ?>
												<?php if ($_item->getIsSalable()): ?>
													<div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
												<?php else: ?>
													<div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
												<?php endif; ?>
											<?php endif; ?>
										</div>
									<?php endif; ?>

									<?php if ($showWishlist || $showCompare): ?>
										<div class="actions-secondary" data-role="add-to-links">
											<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
												<a href="#"
												   class="action towishlist" data-action="add-to-wishlist"
												   data-post='<?= /* @escapeNotVerified */ $block->getAddToWishlistParams($_item) ?>'
												   title="<?= /* @escapeNotVerified */ __('Add to Wish List') ?>">
													<span><?= /* @escapeNotVerified */ __('Add to Wish List') ?></span>
												</a>
											<?php endif; ?>
											<?php if ($block->getAddToCompareUrl() && $showCompare): ?>
												<?php  $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
												<a href="#" class="action tocompare"
												   data-post='<?= /* @escapeNotVerified */ $compareHelper->getPostDataParams($_item) ?>'
												   title="<?= /* @escapeNotVerified */ __('Add to Compare') ?>">
													<span><?= /* @escapeNotVerified */ __('Add to Compare') ?></span>
												</a>
											<?php endif; ?>
										</div>
									<?php endif; ?>
								</div>
							</div>
							<?php endif; ?>
							
						</div>
					</div>
					<?= ($iterator == count($items)+1) ? '</li>' : '' ?>
				<?php endforeach ?>
			</ol>
		</div>
		<?= $block->getPagerHtml() ?>
<?php endif;?>
