<?php
	$plumtreeHelper = $this->helper("Plumtree\General\Helper\Data");
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
	
	$productCollection = $this->getCollection();
	$productType = $this->getProductType();
	
	$imagewidth = 90;
	$imageheight = 90;
	
?>

<?php
	if(count($productCollection) > 0):
?>

<div class="products wrapper list products-grid">
	<ol class="products list items product-items">
		<?php
			foreach ($productCollection as $key => $value):
				$product = $block->loadProduct($value->getId());
				$_optionId = $product ->getPlaytype();
				$_attributeId = $product->getResource()->getAttribute('playtype');
					$_optionText = $_attributeId->getSource()->getOptionText($_optionId);
		?>
						<li class="item product product-item">
							<div class="product-item-info">
								<?php
									$image_url = $imageHelper->init($product, 'product_thumbnail_image')->setImageFile($product->getFile())->resize($imagewidth, $imageheight)->getUrl();
									
									if($image_url):
								?>
										<a href="<?= $block->getProductUrl($product ->getId()) ?>" class="product photo product-item-photo">
											<img class="product-image-photo" src="<?= $image_url ?>" alt="" />
										</a>
								<?php
									endif;
								?>
								<div class="product-item-details">
									<div class="product-item-col c1">
										<strong class="product-item-name">
											<a class="product-item-link" href="<?= $block->getProductUrl($product ->getId()) ?>"><?= $product->getName() ?></a>
										</strong>
										<?php if($product->getShortDescription()): ?>
											<div class="product-item-description">
												<?= $product->getShortDescription() ?>
											</div>
										<?php endif; ?>
									</div>
									<div class="product product-item-contributor">
										<?php $currentProduct = $plumtreeHelper->getProduct($product->getEntityId()); ?>
										<?php
											if($currentProduct->getResource()->getAttribute('contributor')):
											$attrContributor = $currentProduct->getResource()->getAttribute('contributor')->getFrontend()->getValue($currentProduct); ?>
												<span><?= $attrContributor ?></span>
											<?php endif; ?>
										<?php
											if($currentProduct->getResource()->getAttribute('published_date')):
											$attrPublishedDate = $currentProduct->getResource()->getAttribute('published_date')->getFrontend()->getValue($currentProduct); ?>
											<span><?= $attrPublishedDate ?></span>
											<?php endif; ?>
									</div><!-- 
									<div class="product-item-col c3">
										<div class="product-item-actions">
											<button type="button"
													title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
													class="action tocart primary">
												<span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
											</button>
										</div>
									</div> -->
								</div>
							</div>
						</li>
		<?php
			endforeach;
		?>
	</ol>
</div>

<?php
	else:
?>
	<div class="message info empty">
		<div><?= __('We can\'t find products matching the selection.'); ?></div>
	</div>
<?php
	endif;
?>