<?php 
	$productData = $block->getRelatedProduct();
	echo $this->getLayout()->createBlock('Plumtree\LogincustProduct\Block\Index\Index')->setTemplate('Plumtree_LogincustProduct::list.phtml')->setCollection($productData)->setProductType('My Plays')->toHtml(); 
?><br />
<button id="subcribe-checkout">Proceed to checkout</button> or use <a href="#"> Check out with Paypal</a>
</p>Order Subtotal $15.35</p>
<p><strong>Try for only $1</strong></p>
<p>Unilimited Acess for 7 days</p>
<p>1 year for $11.99</p>
<p>Less than $1 per month</p>
<script type="text/javascript">
	require(['jquery', 'jquery/ui'], function($){
		jQuery(document).ready( function() {
			jQuery("#subcribe-checkout").click(function(){
				jQuery.ajax({
			        type: "POST",
			        showLoader: true,
			        url: "<?php echo $this->getUrl('logincustproduct/index'); ?>",
			        data : {},
			        success: function(data)
			        {
			        	if(data == 1)
			            window.location.href = '<?php echo $this->getUrl("checkout/cart/index", array("_secure" => true));?>';
			        },
			        error: function (e) {
			            //alert("not added");
			        }
	    		});
    		});
		});
	});
</script>